<% content_for :pageTitle do %>
    <%= t('layout.title.userRegister') %>
<% end %>

<div class="row">
  <section class="col-medium col-centered">
    <%= render '/users/register_form' %>
  </section>
</div>