<% provide :title, @action_group.title %>
<% wrapper_set %>
<% actions = policy_scope(@action_group.actions.toplevel) %>
<% date_range_str = date_range(@action_group.start_date, @action_group.end_date, format: :long) %>

<% content_for :head do %>
  <% desc_date = action_group_declination(@action_group, :date_range).sub(/^./, &:upcase) + ' ' + date_range_str %>
  <% desc = t('action_group.help.description', date: desc_date,
              action_group: action_group_declination(@action_group, :nominative) + ' ' + @action_group.title) %>
  <meta name="description" content="<%= strip_tags desc %>" />
  <meta property="og:image" content="https://www.servethecity-karlsruhe.de/images/share.jpg" />
  <meta property="og:description" content="<%= strip_tags desc %>" />
<% end %>



<div id="action-group-header" class="white-box px-2 py-4">
  <% previous_group, next_group = get_connected_action_groups(@action_group) %>
  <div class="row align-items-center">
    <div class="col-6 col-sm-3 order-first">
      <% if previous_group %>
        <% type, name = split_action_group_type_prefix(previous_group.title) %>
        <%= link_to show_action_group_path(previous_group) do %>
          <div class="fas fa-2x fa-chevron-left pr-2"></div>
          <div class="neighbor-linktext">
            <div class="type"><%= type %></div>
            <div class="title"><%= name %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-6 col-sm-3 order-last">
      <% if next_group %>
        <% type, name = split_action_group_type_prefix(next_group.title) %>
        <%= link_to show_action_group_path(next_group) do %>
          <div class="neighbor-linktext">
            <div class="type"><%= type %></div>
            <div class="title"><%= name %></div>
          </div>
          <div class="fas fa-2x fa-chevron-right pl-2"></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6 text-center title">
      <h1 class="m-0"><%= @action_group.title %></h1>
      <div class="date h3 m-0"><%= date_range_str %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-lg-2">
    <div class="row align-items-stretch">

      <%# general info %>
      <div id="action-group-info" class="col-sm-6 col-md-12">
        <div class="white-box">
          <%# total action count %>
          <div class="infobox">
            <span>
              <%= actions_count = actions.visible.count %>
              <% if (hidden_actions_count = actions.hidden.count) > 0 %>
                <span class="hidden-actions">+  <%= hidden_actions_count.to_s %></span>
              <% end %>
            </span>
            <div><%= Action.model_name.human(count: actions_count) %></div>
          </div>

          <%# total unique user count %>
          <% if @action_group.active_user_count > 0 %>
            <% if current_user&.in_orga_team? %>
              <a href="<%= statistiken_teilnahmen_path %>">
            <% end %>
            <div class="infobox">
              <span><%= @action_group.active_user_count %></span>
              <div><%= t('action_group.info.volunteers') %></div>
            </div>
            <% if current_user&.in_orga_team? %>
              </a>
            <% end %>
          <% end %>

          <%# total free places count %>
          <% if (vacancy_count = @action_group.vacancy_count) > 0 %>
            <% if current_user&.in_orga_team? %>
              <a href="<%= statistiken_auslastung_path %>">
            <% end %>
            <div class="infobox">
              <span><%= vacancy_count %></span>
              <div><%= t('action_group.info.vacancies') %></div>
            </div>
            <% if current_user&.in_orga_team? %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# filter module %>
      <div class="col-sm-6 col-md-12">
        <div class="white-box">
          <h3><%= t 'action_group.heading.filter' %></h3>
          <%= bootstrap_form_for(:filter, url: actions_path, method:'get', html: {data: {
                class: 'ActionFilter', list: '#action-list', info: '#action-group-filter-results'}}) do |f| %>
            <%= f.select(:day, options_for_day_select(@action_group), include_blank: t('action_group.form.day_filter_blank'), hide_label: true) %>
            <%= f.check_box :after_17h, label: t('action_group.form.actionsAfter5pm') %>
            <%= f.submit t('action_group.button.filter'), class:'btn btn-secondary btn-block' %>
          <% end %>
        </div>
      </div>

      <%# propose action link %>
      <div class="col-sm-6 col-md-12 hidden-xs-down">
        <div class="white-box">
          <h3>Eigene Aktion</h3>
          <span><%= t('action_group.help.wantToStartOwnAction') %></span>
          <%= link_to t('action_group.help.weHelpYou'), own_action_path %>
        </div>
      </div>

      <%# admin options %>
      <% if policy(:action).new? %>
        <div class="col-sm-6 col-md-12 hidden-xs-down">
          <div class="white-box">
            <h3>Optionen</h3>
            <%= link_to t('action_group.button.newAction'), new_action_path, class:'btn btn-secondary btn-block' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div class="col-md-9 col-lg-10">

    <div id="action-list">
      <%= render '/actions/action_card_list', actions: @actions %>
      <% unless actions.any? %>
        <div class="white-box text-center" style="max-width: 600px; margin: 30px">
          <%= t('action_group.info.noActions') %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="white-box hidden-sm-up">
  <h3>Eigene Aktion</h3>
  <span><%= t('action_group.help.wantToStartOwnAction') %></span>
  <%= link_to t('action_group.help.weHelpYou'), own_action_path, class:'btn btn-secondary btn-new-action' %>
</div>

<% if policy(:action).new? %>
  <div class="white-box hidden-sm-up">
    <h3>Optionen</h3>
    <%= link_to t('action_group.button.newAction'), new_action_path, class:'btn btn-secondary btn-block' %>
  </div>
<% end %>