
#header-home {
  background: image-url("logo_bg.png") center top / 80% auto no-repeat;
  img {
    width: 700px;
  }
}

#home-countdown {
  position: absolute;
  right: 0;
  top: 0;
  font-family: Caveat, sans-serif;
  color: white;
  text-shadow: 0 0 2px rgba(black, 0.5);
  div {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    margin: 5px 10px;
    padding: 2px;
    min-width: 50px;
    vertical-align: middle;
    span {
      font-size: 55px;
      display: block;
      line-height: 1.1em;
    }
  }
  & > span {
    font-size: 28px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 30px;
  }
  .finished {
    display: none;
    font-size: 30px;
  }
  .week-finished {
    font-size: 20px;
  }
  @include media-breakpoint-down(md) {
    position: static;
    margin: 0 auto;
  }
}


#home-intro-box {
  margin-bottom: 60px;
  background: #222;
  h3 {
    color: $primary;
    margin: 20px 10px;
  }
}
#home-actions-map {
  height: 100%;
  min-height: 300px;
}
#home-group-list {
  a {
    display: block;
    padding: 10px;
    color: #ccc;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(black, 0.5);
    }
    &:hover {
      color: $link-hover-color;
    }
  }
  .title {
    padding-left: 20px;
    @extend %CaptionFont;
    font-size: 30px;
  }
  .type {
    font-size: 70%;
  }
}
#home-action-list a {
  color: #ccc;
  &:hover {
    color: $link-hover-color;
  }
}

#home-likebox {
  background: rgba(#3A5795, 0.8) left center / contain no-repeat padding-box;
  font-size: 20px;
  color: #FFF;
  a {
    color: #FFF;
    text-decoration: none;
    transition: text-shadow 0.3s;
  }
  a:hover {
    text-shadow: 0 0 3px rgba(#FFF, 0.5);
  }
  h1 {
    margin-top: 5px;
  }
  .get-likes {
    font-weight: bold;
    padding-right: 5px;
    padding-left: 10px;
  }
}

#home-about {
  max-width: 1100px;
  margin: 100px auto;
  .youtube-video {
    margin: 0 0 0 auto;
  }
}

#home-news {
  max-width: 1400px;
  margin: 0 auto;
  .swiper-button-disabled {
    display: none;
  }
}

#home-images {
  .swiper-container {
    background-color: #222;
  }
  .swiper-wrapper {
    height: 250px;
    align-items: stretch;
  }
  .swiper-slide {
    height: auto;
    img {
      height: 100%;
      width: 100%;
    }
  }
}