@import "definitions";

#countdown {
  font-family: Caveat;
  div {
    display: inline-block;
    font-size: 25px;
    text-align: center;
    margin: 5px 20px;
    padding: 2px;
    min-width: 50px;
    vertical-align: middle;
    span {
      font-size: 65px;
      display: block;
      line-height: 1.1em;
    }
  }
  & > span {
    font-size: 35px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 30px;
  }
  .finished {
    display: none;
    font-size: 42px;
  }
  .week-finished {
    font-size: 28px;
  }
}

#trailer {
  max-width: 600px;
  margin: 0 auto;
  background: #000;
  .locked-iframe {
    border: none;
  }
  .locked-iframe-trigger {
    color: $link-color;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 15px rgba(#000, 0.8);
    transition: all 0.4s;
    background: #000 url("/images/trailer_cover.jpg") center / cover;
    &:hover {
      color: $link-hover-color;
    }
    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 100px;
      margin: auto auto;
      * {
        vertical-align: top;
      }
    }
  }
}

#likebox {
  background: $facebook left center / contain no-repeat padding-box;
  font: 20px NormalFont;
  color: $facebook_text;
  a {
    color: $facebook_text;
    text-decoration: none;
    transition: text-shadow 0.3s;
  }
  a:hover {
    text-shadow: 0 0 3px rgba($facebook_text, 0.5);
  }
  h1 {
    margin-top: 5px;
  }
  .get-likes {
    font-weight: bold;
    padding-right: 5px;
    padding-left: 10px;
  }
}

#actions-link {
  background: rgba($primary, 0.8)
    url("/images/actionlink_bg.png")
    left center / contain no-repeat padding-box;
  a {
    font: 40px CaptionFont;
    color: $primary_text;
    text-decoration: none;
    transition: text-shadow 0.3s;
  }
  a:hover {
    text-shadow: 0 0 3px rgba($primary_text, 0.5);
  }
}

#actions-map {
  background: $default_image_bg;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid $default_border;
  width: 100%;
}



.schirmherr-ribbon {
  padding: 2px 0;

  pointer-events: auto;
  background-color: rgba(58, 87, 149, 0.8);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.schirmherr-ribbon-top-right {
  position: absolute;
  top: 90px;
  right: -100px;
  z-index: 99;

  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.schirmherr-ribbon-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 99;
  pointer-events: none;
  right: 0;
}

.schirmherr-ribbon-top-right .schirmherr-ribbon-text {
  padding-left: 95px;
  width: 550px;
  display: inline-block;
}

.schirmherr-ribbon-text {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 700 17px NormalFont, Helvetica, Arial, sans-serif;

  line-height: 24px;
  padding: 5px;

  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.schirmherr-ribbon-text .fa-umbrella {
  font-size: 200%;
  vertical-align: middle;
  padding-right: 5px;
}

.schirmherr-ribbon-middle {
  margin: 5px -10px 40px;
}
