@import "definitions";

#countdown {
  div {
    display: inline-block;
    border: 1px solid #000;
    font-size: 12px;
    text-align: center;
    margin: 5px;
    padding: 2px;
    min-width: 50px;
    vertical-align: middle;
    span {
      font-size: 25px;
      display: block;
      border-bottom: 1px solid #000;
      line-height: 1.5em;
    }
  }
  & > span {
    font: 25px CaptionFont;
    vertical-align: middle;
    display: inline-block;
    margin: 0 30px;
  }
  .finished {
    display: none;
  }
}

#trailer {
  max-width: 600px;
  margin: 0 auto;
  background: #000;
  iframe {
    border: none;
  }
  .locked-iframe-trigger {
    color: $link-color;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 15px rgba(#000, 0.8);
    transition: all 0.4s;
    background: #000 url("/images/trailer_cover.jpg") center / cover;
    &:hover {
      color: $link-hover-color;
    }
    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 100px;
      margin: auto auto;
      * {
        vertical-align: top;
      }
    }
  }
}

#project-link {
  background: rgba(40,183,175, 0.8)
    url("/images/projectlink_bg.png")
    left center / contain no-repeat padding-box;
  text-align: center;
  a {
    font: 40px CaptionFont;
    color: #fff;
    text-decoration: none;
    transition: text-shadow 0.3s;
    display: block;
    padding: 50px 15px
  }
  a:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  }
}

#photo-link {
  display: block;
  margin: 0;
  padding: 35px 50px 25px;
  background: url("/images/photolink_bg.png") left center / cover;
  font: 45px CaptionFont;
  color: #000;
  text-decoration: none;
  transition: text-shadow 0.3s;
  &:hover {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}

#project-map {
  background: #aaa;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid rgba(#777,0.5);
  width: 100%;
}