#pages.stadtpiraten, #pages.spielezeit {

  #spielezeit-caption, #stadtpiraten-caption {
    text-align: center;
  }

  h1 {
    max-width: 800px;
    margin: 30px auto;
  }

  .action-quick-info {
    float: right;
    color: #555;
    font-size: 16px;
    margin-top: 10px;
    div {
      text-align: right;
      margin-bottom: 5px;
    }
  }

}