#pages.supporters {

  p {
    padding-top: 20px;
  }
  .row > div {
    height: 180px;
    padding: 10px;
  }
  .panel {
    background-color: transparent;
  }

  .nav {
    li a {
      color: $text-color;
    }
    li.active a {
      background-color: rgba($primary, 0.9);
    }
    li:not(.active) a:hover {
      background-color: rgba($primary, 0.5)
    }
  }

}