@import "definitions";

#sponsors {
  p {
    padding-top: 20px;
  }
  .row > div {
    height: 180px;
    padding: 10px;
  }
  .panel {
    background-color: transparent;
  }

  .nav {
    li a {
      color: $text-color;
    }
    li.active a {
      background-color: $navbar-default-bg;
    }
    li:not(.active) a:hover {
      background-color: rgba($primary, 0.5)
    }
  }
}