
<% recipients = @message.recipients(current_user) %>

<table class="table">
  <tbody>
  <tr>
    <th><%= OrgaMessage.human_attribute_name('from') %></th>
    <td><%= @message.from %></td>
  </tr>
  <tr>
    <th><%= OrgaMessage.human_attribute_name('recipient') %></th>
    <td><%= @message.sent? ? @message.sent_to : render_recipient_group(@message.recipient, current_user) %>
      (<%= link_to recipients.count.to_s, '#', data: {toggle: 'collapse', target: '#recipient-list'} %>)
      <div id="recipient-list" class="collapse">
        <%= recipients.pluck(:email).join(', ') %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= OrgaMessage.human_attribute_name('created_at') %></th>
    <td><%= l @message.created_at.localtime %></td>
  </tr>
  <tr>
    <th><%= OrgaMessage.human_attribute_name('author') %></th>
    <td><%= @message.author.full_name %></td>
  </tr>
  <tr>
    <th><%= OrgaMessage.human_attribute_name('subject') %></th>
    <td id="subject"><%= strip_tags @message.subject.gsub('{user}', current_user.first_name) %></td>
  </tr>
  <% if @message.sent? %>
      <tr>
        <th><%= OrgaMessage.human_attribute_name('sent_at') %></th>
        <td><%= l @message.sent_at.localtime %></td>
      </tr>
      <tr>
        <th><%= OrgaMessage.human_attribute_name('sender') %></th>
        <td><%= @message.sender.full_name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="admin-mail-body" style="background-color: transparent; padding-left: 8px;">
  <%= @message.body.gsub('{user}', current_user.first_name).html_safe %>
  <%= render '/mailer/footer', content_type: @message.content_type, user: current_user %>
</div>

<div class="section">
  <%= link_to t('general.button.back'), orga_messages_path, class: 'btn-secondary btn' %>
  <%= link_to t('general.button.edit'), edit_orga_message_path(@message), class: 'btn-secondary btn' unless @message.sent? %>
  <%= link_to t('general.button.delete'), orga_message_path(@message), method: :delete, class: 'btn-secondary btn',
              data: { confirm: t('orga_message.message.really_destroy') } if policy(@message).destroy? %>
  <%= link_to t('orga_message.button.send_now'), send_message_orga_message_path(@message), class: 'btn-secondary btn',
              data: { confirm: t('orga_message.message.really_send') } unless @message.sent? %>
</div>