<% provide :title, t('layout.title.templateList') %>

<h1><%= t('surveys.label.templateList') %></h1>

<ul>
  <% @templates.each do |template| %>
    <li>
      <%= link_to template.title, template %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to t('surveys.action.newTemplate'), new_surveys_template_path, class: 'btn btn-default' %>

