// VIEW RESTRICTED RULES (all "action_group" views)

#action-group-header {
  @include media-breakpoint-down(xs) {
    .title {
      order: 14;
    }
  }
  h1 {
    hyphens: auto;
  }
  a {
    display: flex;
    align-items: center;
  }
  .order-first a {
    justify-content: flex-start;
  }
  .order-last a {
    justify-content: flex-end;
  }
  .neighbor-linktext {
    @extend %CaptionFont;
    font-size: 1.8rem;
    text-align: center;
  }
  .type {
    font-size: 1.2rem;
  }
}

#action-group-info {
  text-align: center;
  .infobox {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    span {
      font-size: 25px;
    }
    .hidden-actions {
      color: $status_hidden;
    }
  }
}

#action-group-filter-results {
  margin-top: 20px;
  font-style: italic;
}


// action card list partial
.action-card-list {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.action-card {
  margin-bottom: 1rem !important;
  min-width: 320px;
  max-width: 320px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.5);
  &:hover {
    box-shadow: 0 0 10px rgba(black, 0.8);
  }
  .card-title {
    margin-bottom: 0.2rem;
  }
  .badge {
    margin-bottom: 0.5rem;
  }
}


