
#action-group-header {
  @include media-breakpoint-down(xs) {
    .title {
      order: 14;
    }
  }
  h1 {
    hyphens: auto;
  }
  a {
    display: flex;
    align-items: center;
  }
  .order-first a {
    justify-content: flex-start;
  }
  .order-last a {
    justify-content: flex-end;
  }

  .neighbor-linktext {
    @extend %CaptionFont;
    font-size: 1.8rem;
    text-align: center;
  }
  .type {
    font-size: 1.2rem;
  }
}

#action-group-info {
  text-align: center;
  .infobox {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    span {
      font-size: 25px;
    }
    .hidden-actions {
      color: $status_hidden;
    }
  }
}

#action-group-filter-results {
  margin-top: 20px;
  font-style: italic;
}






