// VIEW RESTRICTED RULES (all "action" views)

#actions {

  // action title
  h1 {
    text-align: center;
    hyphens: auto;
  }

  // badges in the action header, like "hidden" or "finished"
  .labels {
    text-align: center;
    font-size: 1.7em;
  }

  // section headers
  h3 {
    margin: 5px 0;
  }

  // picture
  .action-picture {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      border: 1px solid $default_border;
    }
  }

  // description
  .description {
    margin-top: 15px;
    margin-bottom: 20px;
    textarea {
      min-height: 300px;
    }
  }
  .short_description textarea {
    min-height: 120px;
  }
  .individual_tasks, .requirements, .material {
    text-align: justify;
    margin-top: 15px;
    textarea {
      min-height: 80px;
    }
  }

  // gallery
  #actions-gallery {
    background: #222;
    color: #eee;
    .picture-upload, #gallery_picture {
      padding-top: 20px;
    }
  }

  // communication forms
  #action-communication {
    .form-group {
      max-width: 550px;
    }
    textarea {
      min-height: 150px;
    }
  }

  // time and location
  .days select {
    min-height: 90px;
  }
  .location textarea {
    min-height: 80px;
  }
  .map {
    border-radius: 6px;
    border: 1px solid $default_border;
    height: 150px;
    width: 100%;
  }

  // event list
  .event_finished {
    display: none;
  }
}



// NON VIEW RESTRICTED RULES //

// a picture plus copyright notice (actions->show, actions->edit)
.picture-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  .copyright {
    color: white;
    font-size: 10px;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    position: absolute;
    bottom: 0;
    left: 100%;
    white-space: nowrap;
    padding-left: 10px;
    transform-origin: 0% 100%;
    -moz-transform: rotate(-90deg);
    cursor: default;
  }
}

// action/event list partial (pages->home, users->show, actions->show)
.action-entry {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  .image {
    width: 70px;
    margin-right: 20px;
    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }
  .info {
    flex: 1;
  }
  .badges {
    padding: 5px;
  }
  .parent-title {
    @extend %CaptionFont;
    font-size: 16px;
  }
  .title {
    @extend %CaptionFont;
    font-size: 20px;
    font-weight: normal;
  }
  &.hidden-action .title {
    color: $status_hidden !important;
  }
}

// action status classes (action->show, action list partial, action card list on action_groups->show)
.status_empty {
  color: $status_empty_text;
  background: $status_empty;
}
.status_soon_full {
  color: $status_soon_full_text;
  background: $status_soon_full;
}
.status_full {
  color: $status_full_text;
  background: $status_full;
}
.status_finished {
  color: $status_finished_text;
  background: $status_finished;
}
.status_hidden {
  color: $status_hidden_text;
  background: $status_hidden;
}