
#action-group-info {
  text-align: center;
  .infobox {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    span {
      font-size: 25px;
    }
    .hidden-actions {
      color: $status_hidden;
    }
  }
}

#action-group-filter-results {
  margin-top: 20px;
  font-style: italic;
}






