// VIEW RESTRICTED RULES (all "action" views)

#actions {

  // action title
  h1 {
    text-align: center;
  }

  // badges in the action header, like "hidden" or "closed"
  .labels {
    text-align: center;
    font-size: 1.7em;
  }

  // section headers
  h3 {
    margin: 5px 0;
  }

  // picture
  .action-picture {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      border: 1px solid $default_border;
    }
  }

  // description
  .description {
    margin-top: 15px;
    margin-bottom: 20px;
    textarea {
      min-height: 300px;
    }
  }
  .short_description textarea {
    min-height: 120px;
  }
  .individual_tasks, .requirements, .material {
    text-align: justify;
    margin-top: 15px;
    textarea {
      min-height: 80px;
    }
  }

  // gallery
  #actions-gallery {
    background: #222;
    color: #eee;
    .picture-upload, #gallery_picture {
      padding-top: 20px;
    }
  }

  // communication forms
  #action-communication {
    input[type="text"] {
      max-width: 550px;
    }
    .message_body {
      max-width: 550px;
      min-height: 150px;
    }
  }

  // time and location
  .days select {
    min-height: 90px;
  }
  .location textarea {
    min-height: 80px;
  }
  .map {
    border-radius: 6px;
    border: 1px solid $default_border;
    height: 150px;
    width: 100%;
  }

  // no volunteers message
  .no-volunteers {
    color: #555;
    font-style: italic;
  }

  section.footer .fa {
    font-size: 26px;
    margin-top: 2px;
    margin-right: 15px;
  }
}



// NON VIEW RESTRICTED RULES //

// action list entry (partial, used on "page home", "user show" and "action show")
.action-entry {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  .image {
    width: 70px;
    margin-right: 20px;
    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }
  .info {
    flex: 1;
  }
  .date {
    display: none;
  }
  .title {
    font-family: CaptionFont;
    font-size: 22px;
  }
  &.hidden-action .title {
    color: $status_hidden !important;
  }
}

// action board entry (partial, used on "action group show")
.action-card {
  margin-bottom: 1rem !important;
  min-width: 340px;
  max-width: 340px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.5);
  &:hover {
    box-shadow: 0 0 10px rgba(black, 0.8);
  }
  .card-title {
    margin-bottom: 0.2rem;
  }
  .badge {
    margin-bottom: 0.5rem;
  }
}


// general purpose action status classes
.status_open {
  color: $status_open_text;
  background: $status_open;
}
.status_soon_full {
  color: $status_soon_full_text;
  background: $status_soon_full;
}
.status_full {
  color: $status_full_text;
  background: $status_full;
}
.status_closed {  // TODO can be deleted when status refactoring completed
  color: $status_finished_text;
  background: $status_finished;
}
.status_finished {
  color: $status_finished_text;
  background: $status_finished;
}
.status_hidden {
  color: $status_hidden_text;
  background: $status_hidden;
}
.status_active {
  color: $status_open_text;
  background: $status_open;
}