@import "definitions";

.contact-form {
  .leftCol {
    width: 180px;
    float: left;
    padding: 10px;
    padding-right: 20px;
  }
  .rightCol {
    float: left;
    border-left: 1px solid $separator;
    padding: 10px;

    div:first-child h3 {
      margin-top: 0px;
    }
  }

  #message_email {
    width: 575px;
  }

  #message_subject {
    width: 575px;
  }

  #message_body {
    width: 575px;
    height: 270px;
  }
}
