#news-entry-view {

  h1 {
    text-align: center;
  }

  .news-entry-text {
    padding: 20px;
    padding-top: 35px;
  }
  .news-entry-picture {
    float: right;
    margin: 20px;
  }

}

.news-teaser {
  clear: left;
  padding-top: 10px;
  padding-bottom: 25px;

  .news-date {
    font-style: italic;
  }

  .news-thumbnail {
    float: left;
    margin-right: 20px;
  }

  h2, div {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  div {
    max-width: 700px;
  }


}