// news entries partial optional wrapper class
.news-teaser {
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
  .news-thumbnail img {
    border-radius: 5px;
  }
  .news-date {
    font-style: italic;
  }
  .news-text {
    margin: 0 auto;
    max-width: 500px;
  }
  h2, div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}