@import "definitions";

#news_entries {

  h1 {
    text-align: center;
  }

  .news-entry-text {
    padding: 35px 20px 20px;
  }
  .news-entry-picture {
    float: right;
    margin: 20px;
  }
  .news-entry-gallery {
    float: right;
    margin: 20px;
    max-width: $gallery-width;
  }

}

.news-teaser {
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
  .news-thumbnail img {
    border-radius: 5px;
  }
  .news-date {
    font-style: italic;
  }
  .news-text {
    margin: 0 auto;
    max-width: 300px;
  }
  h2, div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}