@import "definitions";

/* SPECIFIC STYLES: PROJECT LIST PAGE */

#project-list-header {
  .select-year > * {
    float: left;
    .dropdown-toggle {
      color: rgba(#777, 0.4);
      font-size: 0.7em;
      margin-left: 15px;
      vertical-align: 8%;
      &:hover {
        color: $link-hover-color;
        cursor: pointer;
      }
    }
    .dropdown-menu {
      font-size: 1em;
      right: 34px;
      top: -73px; // -17
      position: absolute;
      min-width: 30px;
      > li > a {
        padding: 3px 5px;
      }
      .dropdown-header {
        font-family: BoldFont;
        font-size: 14px;
      }
    }
  }

  padding: 10px 20px;
  h2 {
    padding: 0;
    margin: 25px 0 0 10px;
  }
  .infobox {
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    span {
      font-size: 25px;
    }
  }
}

#filterResults {
  margin-top: 20px;
  font-style: italic;
}

/* PROJECT LIST ENTRY SLIM & DEFAULT */
.project {
  max-width: 620px;
  padding: 12px !important;
  .project-title {
    * {line-height: 1.05em;}
    h2 {margin-top: 10px;}
  }
  .project-image {
    position: relative;
    float: right;
    margin-left: 7px;
    background: $img_bg_default;
    width: 50%;
    max-width: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .project-status {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 4px;
    font-family: BoldFont;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid $border_default;
  }
  .open {
    color: $col_positive;
    background: rgba($bg_positive, .8);
  }
  .soon_full {
    color: $col_neutral;
    background: rgba($bg_neutral, .8);
  }
  .full {
    color: $col_negative;
    background: rgba($bg_negative, .8);
  }
  .closed {
    color: $color_inactive;
    background: $bg_inactive;
  }
}

/* PROJECT LIST ENTRY MIDDLE SIZE */
@media(min-width: $screen-sm-min) {
  .project {
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    .project-image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      margin: 0;
      img {
        height: 100%;
        width: auto;
      }
    }
    .project-title {
      margin-left: 200px;
    }
    .project-description {
      margin-left: 200px;
      overflow: hidden;
    }
  }
}

@media(min-width: $screen-md-min) {
  .project {
    margin-left: 15px;
  }
}


/* SPECIFIC STYLES: PROJECT PAGE */

#project-view, #project-edit-view, #project-team-view {
  h1 {
    text-align: center;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 0px;
  }
  .map {
    border-radius: 6px;
    border: 1px solid rgba($border_default,0.5);
    height: 150px;
    width: 100%;
  }
  .project-picture {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      border: 1px solid rgba($border_default,0.5);
    }
  }
  .description {
    margin-top: 15px;
    margin-bottom: 20px;
    textarea {
      min-height: 300px;
    }
  }
  .short_description textarea {
    min-height: 120px;
  }
  .individual_tasks, .requirements, .material {
    text-align: justify;
    margin-top: 15px;
    textarea {
      min-height: 80px;
    }
  }
  .days select {
    min-height: 90px;
  }
  .location textarea {
    min-height: 80px;
  }

  .contact-volunteers-form {
    #message_subject {
      max-width: 550px;
    }
    #message_body {
      max-width: 550px;
      min-height: 150px;
    }
  }
}