#roleList {
  table {
    display: block;
    border-collapse: collapse;
    margin: 50px;
  }
  td {
    border: 1px solid black;
    padding: 10px;
  }
  td:first-child {
    min-width: 60%;
  }
}
#roleEdit, #roleNew {
  .field {
    margin-bottom: 10px;
  }
  .field input {
    box-sizing: border-box;
    width: 50%;
  }
}
section.role-info {
  overflow: inherit;
}