
#survey-sumbissions, #survey-templates {
  max-width: 750px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  .text-choice {
    position: relative;
    top: 5px;
  }

  .remove-link {
    float: right;
    margin-top: 50px;
  }

  .add-link {
    float: right;
  }

  .question {
    margin: 20px 30px 10px;
    .control-label {
      margin-left: -20px;
      margin-bottom: 10px;
    }
  }

  .explanation {
    font-style: italic;
  }

  .subquestion {
    margin-left: 30px;
    label {
      font-weight: normal;
    }
  }

  .submit {
    float: right;
  }
}