#users {
  h1 {
    text-align: center;
  }
  h2 {
    margin-top: 0;
  }
  #user-profile-data {
    td:first-child {
      text-align: right;
      font-weight: bold;
    }
    td {
      padding: 5px !important;
    }
  }

  .emails-from-orga {
    margin-left: 30px;
  }
  .feed {
    margin-top: 15px;
    span {
      float: left;
    }
    .fa-calendar-alt {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  #user-profile-actions {
    text-align: right;
    margin-top: 10px;
    .btn {
      margin: 5px;
    }
  }
}


