@import "definitions";

#weekDropdown h1 {
  color: rgba(#777, 0.4);
  font-size: 24.5px;
  margin-left: 15px;
  margin-top: 28px;
  vertical-align: 8%;
  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
}
#weekDropdownMenu {
  font-size: 1em;
  //right: 34px;
  left: 181px;
  top: -73px; // -17
  position: absolute;
  min-width: 30px;
  padding: 0 0;
  > li > h1 {
    margin: 8px 0;
    > a {
      padding: 3px 5px;
      color: #333333;
      display: block;
    }
  }
  .dropdown-header {
    font-family: BoldFont;
    font-size: 14px;
  }
}
@media (max-width: $screen-sm-min) {
  #weekDropdownMenu {
    left: 161px;
  }
}