<% content_for :pageTitle do %>
    <%= t('layout.title.submissionNew', template: @submission.template.title) %>
<% end %>

<div class="surveys submission new-view">
  <%= render :partial => "form", :locals => {:isNew => true} %>
</div>
