
<% if (@weeks = ActionGroup.all.order(title: :desc)).any? %>
  <div class="dropdown week-dropdown">
    <a class="dropdown-toggle h1"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu">
      <% @weeks.each do |action_group| %>
        <%= link_to action_group.title, target_path.call(action_group), class: 'dropdown-item'%>
      <% end %>
    </div>
  </div>
<% end %>