<% provide :title, t('layout.title.statistics') %>

<h1>Neue Aktionsteilnahmen am <%= l @date, format: :default %></h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Aktion</th>
    <th>Neue Teilnahmen</th>
  </tr>
  </thead>
  <tbody>
  <% Action.all.each do |action| %>
    <% participations = @participations.joins(:event).where('events.initiative_id = ?', action.id).count %>
    <tr>
      <% if participations.positive? %>
        <td><%= link_to action.full_title, action_path(action) %></td>
        <td><%= participations %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
