<% content_for :pageTitle do %>
    <%#= t('layout.title.surveyAnswerEdit', survey: @survey_answer.survey.title) %>
<% end %>

<div class="feedback survey_answer edit-view">
  <%= render :partial => "form", :locals => {:isNew => false} %>
</div>
