<% content_for :pageTitle do %>
    <%= t('layout.title.surveyAnswerList') %>
<% end %>

<section class="feedback survey_answer list-view">
  <h1><%= t('feedback.label.surveyAnswerList') %></h1>

  <ul>
    <% @survey_answers.each do |survey_answer| %>
        </td>
          <li>
            <%= link_to t('feedback.label.surveyAnswer', id: survey_answer.id), [survey_answer.survey, survey_answer] %>
          </li>
    <% end %>
  </ul>

</section>


