
.week-dropdown {
  .dropdown-toggle {
    margin-left: 10px;
  }
  .dropdown-menu {
    a {
      display: block;
      font-size: 35px;
      padding: 3px 5px;
      color: #333333;
      font-family: CaptionFont, sans-serif;
    }
  }
}
