
<div class="action-card-list card-deck">

  <% actions.each do |action| %>

    <div class="card action-card" data-class="ClickableCard" data-href="<%= url_for action %>" title="<%= action.title %>">

      <%= image_tag action.show_picture? ? action.picture_url(:action_list) : 'placeholder.svg',
                    lazy:true, class: 'card-img-top' %>

      <div class="card-body">

        <h4 class="card-title"><%= link_to action.title, action %></h4>

        <% unless action.visible? %>
          <span class="badge status_hidden %>"><%= t('action.info.status.hidden')%></span>
        <% end %>
        <% if action.finished? %>
          <span class="badge status_finished"><%= t('action.info.status.finished') %></span>
        <% elsif action.status == :full %>
          <span class="badge status_full"><%= t('action.info.status.full') %></span>
        <% else %>
          <span class="badge status_<%= action.status %>">
            <%= "#{action.total_team_size} / #{action.total_desired_team_size}" %>
          </span>
        <% end %>

        <% if (subactions = policy_scope(action.subactions)).any? %>
          <span class="badge badge-secondary"><%= t('action.info.subactions', count: subactions.count) %></span>
        <% end %>

        <p class="card-text"><%= action.short_description.presence || action.description %></p>
      </div>
    </div>

  <% end %>

</div>