<% wrapper_set 'container-medium' %>

<% content_for :end_of_body do %>
  <div id="image_crop_modal" class="modal fade" tabindex="-1" role="dialog" data-class="Modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
<% end %>

<%= bootstrap_form_for(@action, as: :the_action) do |f| %>

  <% if @action.errors.any? %>
    <section id="error_explanation">
      <h2><%= t('action.message.errorList') %></h2>
      <ul>
        <% @action.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <div class="white-box record-header">
    <% if isNew %>
      <h1><%= t('action.heading.new') %></h1>
    <% else %>
      <div class="type"><%= t('action.heading.edit') %></div>
      <h1><%= @action.title %></h1>
    <% end %>
  </div>

  <div class="row align-items-stretch">
    <div class="col-sm-8">

      <div class="white-box">
        <%= f.text_field :title %>
        <div class="form-group">
          <label class="control-label" for="action_picture_source">
            <%= Action.human_attribute_name(:picture) %>
          </label>
          <%= f.file_field :picture, hide_label: true %>

          <% if @action.picture.file %>
            <div class="action-picture picture-container">
              <%= image_tag @action.picture_url(:action_view) %>
            </div>
            <% if @action.persisted? %>
              <%= link_to crop_picture_action_path(@action, crop_target: 'action_list'),
                          class: 'btn btn-secondary', data: {toggle: 'modal', target: '#image_crop_modal'} do %>
                <span class="fas fa-crop"></span> <%= t('action.button.cropListviewImage') %>
              <% end %>
              <%= link_to crop_picture_action_path(@action, crop_target: 'action_view'),
                          class: 'btn btn-secondary', data: {toggle: 'modal', target: '#image_crop_modal'}  do %>
                <span class="fas fa-crop"></span> <%= t('action.button.cropActionImage') %>
              <% end %>
              <%= link_to crop_picture_action_path(@action, crop_target: 'thumbnail'),
                          class: 'btn btn-secondary', data: {toggle: 'modal', target: '#image_crop_modal'} do %>
                <span class="fas fa-crop"></span> <%= t('action.button.cropThumbnailImage') %>
              <% end %>

            <% end %>
          <% end %>

        </div>
        <%= f.text_field :picture_source, help: t('action.help.picture_source') %>
      </div>

      <div class="white-box">
        <div class="short_description">
          <%= f.text_area :short_description, help: t('action.help.short_description') %>
        </div>
        <div class="description">
          <%= f.text_area :description %>
        </div>
        <div class="individual_tasks">
          <%= f.text_area :individual_tasks %>
        </div>
        <div class="requirements">
          <%= f.text_area :requirements %>
        </div>
        <div class="material">
          <%= f.text_area :material %>
        </div>
      </div>

    </div>
    <div class="col-sm-4">

      <div class="white-box">
        <h3>
          <%= t('action.heading.management') %>
        </h3>
        <%= button_tag class: 'btn btn-success btn-block' do %>
          <span class="fas fa-save"></span> <%= t('general.button.save') %>
        <% end %>
        <% if isNew %>
          <%= link_to :back, class: 'btn btn-warning btn-block' do %>
            <span class="fas fa-ban"></span> <%= t('general.button.cancel') %>
          <% end %>
        <% else %>
          <%= link_to @action, class: 'btn btn-warning btn-block' do %>
            <span class="fas fa-ban"></span> <%= t('general.button.cancel') %>
          <% end %>
          <%= link_to clone_action_path(@action), class: 'btn btn-dark btn-block' do %>
            <span class="far fa-copy"></span> <%= t('action.button.clone') %>
          <% end %>
        <% end %>
        <% if !isNew && policy(@action).destroy? %>
          <%= link_to @action, method: :delete, class: 'btn btn-danger btn-block',
                      data: { confirm: t('general.message.confirmDelete')} do %>
            <span class="fas fa-trash"></span> <%= t('general.button.delete') %>
          <% end %>
        <% end %>
      </div>

      <div class="white-box">
        <div class="week">
          <%= f.collection_select(:action_group_id, ActionGroup.all.order(title: :desc), :id, :title,
                                  {selected: @action.action_group&.id, include_blank: true}) %>
        </div>
        <div class="parent_action">
          <%= f.select(:parent_action_id, possible_parent_actions(@action), {include_blank: true}) %>
        </div>
        <div class="location">
          <%= f.text_area :location %>
        </div>
        <div>
          <div class="map" data-class="GoogleMap" data-map-id="the_action"
               data-lon="<%= @action.map_longitude %>"
               data-lat="<%= @action.map_latitude %>"
               data-zoom="<%= @action.map_zoom %>">
            <div class="markers">
              <div data-lon="<%= @action.longitude %>"
                   data-lat="<%= @action.latitude %>"
                   data-name="<%= @action.title %>"
                   data-editable="true">test
              </div>
            </div>
          </div>
          <%= f.text_field :longitude, type: :hidden, hide_label: true %>
          <%= f.text_field :latitude, type: :hidden, hide_label: true %>
          <%= f.text_field :map_longitude, type: :hidden, hide_label: true %>
          <%= f.text_field :map_latitude, type: :hidden, hide_label: true %>
          <%= f.text_field :map_zoom, type: :hidden, hide_label: true %>
        </div>
      </div>

      <div class="white-box events" data-class="DynamicFormList">
        <div class="prototype d-none">
          <% new_object = f.object.class.reflect_on_association(:events).klass.new %>
          <%= f.fields_for(:events, new_object, child_index: :new_item) {
              |builder| render('events/event_fields', f: builder, default_date: @action.action_group&.start_date)} %>
        </div>
        <%= f.fields_for :events do |builder| %>
          <%= render 'events/event_fields', f: builder, default_date: @action.action_group&.start_date %>
        <% end %>
        <%= link_to t('action.button.addEvent'), 'javascript:void(0);', class: 'add-link btn btn-secondary' %>
      </div>

    </div>

  </div>

<% end %>