<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Remote file for Crop Picture Dialog</title>
</head>
<body>

<div class="modal-content">

  <%= form_tag({controller: "actions", action: "crop_picture"}, method: "get",
               onsubmit: "$('#image_crop_modal').modal('hide'); return sendFormWithAjax(this);") do %>

    <div class="modal-header">
      <h5 class="modal-title">
        <%= t('action.heading.cropImage', crop_target: @crop_target_title) %>
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body cropbox" data-class="Cropbox" data-aspect="<%= @crop_target_ratio %>">
      <%= image_tag @action.picture_url(:precrop), id: "cropbox" %>
      <% %w[x y w h].each do |a| %>
          <%= hidden_field_tag "crop_#{a}", '', class: "crop_#{a}" %>
      <% end %>
    </div>

    <div class="modal-footer">
      <div class="actions">
        <%= hidden_field_tag "crop_target", @crop_target_symbol.to_s, id: "crop_target" %>
        <%= submit_tag t('action.button.crop'), class: 'btn btn-primary', style:'margin: 20px;' %>
      </div>
    </div>

  <% end %>

</div>

</body>