<% provide :title, t('layout.title.action.list') %>
<% wrapper_set %>



<div class="white-box">
  <h1>Aktionen</h1>
</div>

<div class="white-box container-small">
  <h3>Optionen</h3>
  <%= link_to 'Neue Aktion', new_action_path, class:'btn btn-primary btn-block' %>
</div>

<%= render 'action_card_list', actions: @actions %>

