<% provide :title, 'Aktion "' + @action.title + (@action.parent_action ? (' - ' + @action.parent_action.title) : '') + '"'%>
<% wrapper_set 'container-medium' %>
<% wrapper_classes.add('action-invisible') unless @action.visible? %>

<% content_for :head do %>
  <meta name="description" content="<%= strip_tags @action.short_description %>" />
  <% if @action.show_picture? %>
    <meta property="og:image" content="<%= image_url(@action.picture_url) %>" />
  <% end %>
  <meta property="og:description" content="<%= strip_tags @action.short_description %>" />
<% end %>

<div class="white-box record-header d-print-none">
  <div class="type">
    <%= Action.model_name.human %>
    <% if @action.action_group %>
      <%= action_group_declination(@action.action_group, :temporal) %>
      <%= link_to @action.action_group.title, show_action_group_path(@action.action_group) %>
    <% end %>
  </div>

  <h1><%= @action.full_title %></h1>
  <div class="labels">
    <% unless @action.visible? %>
      <span class="badge status_hidden"><%= t('action.info.status.hidden') %></span>
    <% end %>
    <span class="badge status_<%= @action.status %>">
        <%= t "action.info.status.#{@action.status}" %>
      </span>
  </div>
</div>

<div class="row align-items-stretch">
  <div class="col-md-8">
    <div class="row parent-height align-items-stretch">
      <div class="col-12">

        <section class="white-box">
          <h2 class="d-print-only"><%= @action.title %></h2>

          <%# action picture %>
          <% if @action.show_picture? && @action.picture.file %>
            <div class="action-picture picture-container">
              <%= image_tag @action.picture_url(:action_view) %>
              <div class="copyright" title="© <%= @action.picture_source %>">
                © <%= @action.picture_source %>
              </div>
            </div>
          <% end %>

          <%# action description %>
          <div class="description">
            <%= simple_format( simple_format_urls @action.description ) %>
          </div>
          <% unless @action.individual_tasks.blank? %>
            <div class="individual_tasks">
              <h3><%= Action.human_attribute_name(:individual_tasks) %></h3>
              <%= simple_format( simple_format_urls @action.individual_tasks) %>
            </div>
          <% end %>
          <% unless @action.requirements.blank? %>
            <div class="requirements">
              <h3><%= Action.human_attribute_name(:requirements) %></h3>
              <%= simple_format( simple_format_urls @action.requirements) %>
            </div>
          <% end %>
          <% unless @action.material.blank? %>
            <div class="material">
              <h3><%= Action.human_attribute_name(:material) %></h3>
              <%= simple_format( simple_format_urls @action.material) %>
            </div>
          <% end %>

        </section>

      </div>

      <%# gallery %>
      <% if has_gallery_pictures?(@action.gallery) || policy(@action).upload_pictures? %>
        <div class="col-12">
          <section id="actions-gallery" class="white-box d-print-none">
            <%= render 'galleries/action_gallery', gallery: @action.gallery %>
          </section>
        </div>
      <% end %>

      <%# communication %>
      <% if policy(@action).contact_volunteers? %>
        <div class="col-12">
          <section id="action-communication" class="white-box d-print-none">
            <%= bootstrap_form_for(@message, url: {action: 'contact_volunteers'}) do |f| %>
              <h3><%= t('action.heading.contactTeam') %></h3>
              <p><%= t('action.help.contactTeam') %></p>
              <% if user_signed_in? && current_user.admin? %>
                <p>(<%= (@action.volunteers + @action.leaders + [current_user]).uniq.map { |v| v.email}.join(', ') %>)</p>
              <% end %>
              <%= f.select :recipient_scope, [
                  [t('action.form.contactTeam.recipient_scopes.this_action'), 'this_action'],
                  [t('action.form.contactTeam.recipient_scopes.action_and_subactions'), 'action_and_subactions']],
                           {label: t('action.form.contactTeam.recipient_scope')}, class: 'selectpicker' %>
              <%= f.text_field :subject, label: t('action.form.contactTeam.subject') %>
              <%= f.text_area :body, label: t('action.form.contactTeam.message') %>
              <%= f.submit t('action.button.contactTeam'), class: 'btn btn-primary' %>
            <% end %>
          </section>
        </div>
      <% elsif policy(@action).contact_leaders? %>
        <div class="col-12">
          <section id="action-communication" class="white-box d-print-none">
            <%= bootstrap_form_for(@message, url: {action: 'contact_leaders'}) do |f| %>
              <h3><%= t('action.heading.contactLeader') %></h3>
              <p><%= t('action.help.contactLeader') %></p>
              <%= f.text_field :subject, label: t('action.form.contactLeader.subject') %>
              <%= f.text_area :body, label: t('action.form.contactLeader.body') %>
              <%= f.submit t('action.button.contactLeader'), class: 'btn btn-primary' %>
            <% end %>
          </section>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-md-4">
    <div class="row align-items-stretch">

      <%# control panel %>
      <% if policy(@action).edit? %>
        <div class="col-sm-6 col-md-12 d-print-none">
          <section class="white-box">
            <%= link_to edit_action_path(@action), class:'btn btn-primary btn-block' do %>
              <span class="fas fa-pencil-alt"></span> <%= t('action.button.edit') %>
            <% end %>
            <% if policy(@action).change_visibility? %>
              <% if @action.visible %>
                <%= link_to make_invisible_action_path(@action), class:'btn status_hidden btn-block' do %>
                  <span class="fas fa-eye-slash"></span> <%= t('action.button.makeInvisible') %>
                <% end %>
              <% else %>
                <%= link_to make_visible_action_path(@action), class:'btn status_hidden btn-block' do %>
                  <span class="fas fa-eye"></span> <%= t('action.button.makeVisible') %>
                <% end %>
              <% end %>
            <% end %>
          </section>
        </div>
      <% end %>

      <%# action date/location info %>
      <div class="col-sm-6 col-md-12">
        <% unless @action.parent_action.nil? %>
          <div class="white-box">
            <h3>Die Aktion ist ein Teil von</h3>
            <%= render '/actions/action_entry', action: @action.parent_action, show_date: false, show_occupancy: false %>
          </div>
        <% end %>
        <div class="white-box">
          <div id="action-leaders" class="mb-2">
            <h3><%= Action.human_attribute_name('leaders') %></h3>
            <div class="comma-list">
              <% @action.leaders.each do |leader| %>
                <span>
                  <%= link_to leader.first_name, leader %>
                  <% if policy(@action).manage_team? %>
                    <%= api_link '', [@action, 'leaders', leader], :remove, data: {'success-remove': 1} %>
                  <% end %>
                </span>
              <% end %>
            </div>
            <% if policy(@action).manage_team? && policy(User).index? %>
              <div class="my-2">
                <%= user_select_picker @action, 'leaders', false, class: 'col-select btn-block',
                                       title: t('action.button.addLeader'), data: {'success-reload': true} %>
              </div>
            <% end %>
          </div>
          <div>
            <h3><%= Action.human_attribute_name('date'.pluralize(@action.dates.count)) %></h3>
            <% if @action.subactions.empty? %>
              <% @action.events.each do |event| %>
                <div>
                  <%= l(event.date, format: :short_with_weekday) unless event.date.nil? %><%= (', ' + event.time) unless event.time.nil? %>
                </div>
              <% end %>
            <% else %>
              <%= @action.dates.uniq.sort.collect { |date| l(date, format: :short_with_weekday)}.join('<br />').html_safe %>
            <% end %>
          </div>
          <div>
            <h3><%= Action.human_attribute_name(:location) %></h3>
            <%= simple_format @action.location %>
          </div>
          <% unless @action.longitude == 0 %>
            <div class="map d-print-none" data-class="GoogleMap" data-map-id="action"
                 data-zoom="<%= @action.map_zoom %>"
                 data-lon="<%= @action.map_longitude %>"
                 data-lat="<%= @action.map_latitude %>">
              <div class="markers">
                <div data-name="<%= @action.title %>"
                     data-lon="<%= @action.longitude %>"
                     data-lat="<%= @action.latitude %>">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <%# sub actions %>
      <% subactions = policy_scope(@action.subactions).sort_by { |p| p.start_time || p.date || Time.now } %>
      <% if subactions.any? %>
        <div class="col-sm6 col-md-12">
          <div class="white-box">
            <div id="subaction-list">
              <h3><%= Action.human_attribute_name(:subaction_ids) %></h3>
              <% subactions.each do |action| %>
                <%= render '/actions/action_entry', action: action, simple_title: true %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%# team info %>
      <div class="col-sm-6 col-md-12 d-print-none">
        <% if @action.desired_team_size.positive? %>
          <%= render 'events/event_team_list', events: @action.events %>
        <% elsif user_signed_in? && @action.volunteers_in_subactions.include?(current_user) %>
          <div class="white-box">
            <p class="h4 my-0"><%= t('action.info.subactionTeamMember') %></p>
          </div>
        <% elsif @action.available_places.zero? && @action.total_available_places.positive? %>
          <div class="white-box">
            <p class="h4 my-0"><%= t('action.info.enterOneOfThesubactions') %></p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="footer d-print-none">
  <%= render '/layouts/share' %>
  <%= link_to action_ical_path(@action), class: 'float-right px-1',
              title: t('action.button.exportICal'), data: { 'turbolinks': false } do %>
    <span class="far fa-calendar-alt fa-2x"></span>
  <% end %>
  <% if @action.action_group %>
    <%= link_to t('action.navigation.toOverview'), show_action_group_path(@action.action_group), class: 'btn btn-light' %>
  <% end %>
  <% if @action.parent_action %>
    <%= link_to t('action.navigation.toParentAction'), @action.parent_action, class: 'btn btn-light' %>
  <% end %>
</div>