<% unless defined? in_other_form %>
  <h2><%= t('user.heading.login') %></h2>
<% end %>

<%= bootstrap_form_for(resource, as: resource_name, namespace: 'page_login', url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :login, autofocus: true, label: t('user.form.usernameOrEmail') %>
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password %>
    </div>
  </div>


  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me %>
  <% end %>

  <%= button_tag class: 'btn btn-primary' do %>
    <span class="fas fa-sign-in-alt"></span> <%= t('user.button.login') %>
  <% end %>

  <% if devise_mapping.recoverable? %>
    <%= link_to new_password_path(resource_name), class:'btn btn-link' do %>
      <%= t('user.button.recoverPassword') %>
    <% end %>
  <% end %>

  <% unless defined? in_other_form %>
    <%= link_to new_registration_path(resource_name), class:'btn btn-link' do %>
      <%= t('user.button.showRegistration') %>
    <% end %>
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class:'btn btn-secondary' do %>
        <span class="fab fa-openid"></span> <%= t('user.button.loginWithProvider', provider: provider.to_s.titleize) %>
      <% end %>
    <% end %>
  <% end %>

<% end %>