<% unless defined? in_other_form %>
  <h2><%= t('user.heading.register') %></h2>
<% end %>

<%= bootstrap_form_for(resource, as: resource_name, namespace: 'page_reg', url: registration_path(resource_name)) do |f| %>

  <%#= devise_error_messages! %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.text_field :first_name, autofocus: true %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.email_field :email %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :phone, label: t('user.form.phoneOptional') %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.password_field :password, help: t('user.help.passwordLength'), label: t('user.form.passwordSet') %>
    </div>
    <div class="col-sm-6">
      <%= f.form_group do %>
        <%= recaptcha_tags ajax: true, script: false %>
      <% end %>
    </div>
  </div>

  <p>
    <b>Verwendung der Daten</b><br />
    Wir erheben die Daten zum Zweck der Profilerstellung und der Anmeldung zu Aktionen.
    Auf Aktionen wird dein Vorname angezeigt, wenn du dich dafür angemeldet hast.
    Andere angemeldete User können auf dein Profil zugreifen und dort deinen ganzen Namen sowie deine Aktionen sehen.
    Deine E-Mail-Adresse ist generell unsichtbar und wird nur zur (anpassbaren) Kontaktaufnahme per
    Formular durch Aktionsleiter, andere User oder Serve the City verwendet.
    Wenn du deine Handynummer angibst, kann dich der Leiter besser erreichen,
    falls du dich z.B. verspätest oder es organisatorische Änderungen gibt.
    Weitere Infos findest du auf unserer <a href="/datenschutz" target="_blank">Datenschutz-Seite</a>.
  </p>

  <%= button_tag class: 'btn btn-primary' do %>
    <span class="fas fa-user-plus"></span> <%= t('user.button.register') %>
  <% end %>
<% end %>