<% provide :title, t('layout.title.userLogin') %>

<div class="row row-md-eq-height">
  <div class="col-md-1"></div>

  <section class="col-md-5 col-only-xs-centered col-only-sm-centered slim col-medium">
    <%= render 'users/login_form' -%>
  </section>

  <section class="col-md-5 col-medium col-only-xs-centered col-only-sm-centered slim">
    <%= render 'users/register_form' -%>
  </section>

  <div class="col-md-1"></div>
</div>