<% provide :title, t('layout.title.userLogin') %>
<% wrapper_classes.delete('container-medium').add('container-small') %>

<div class="row align-items-stretch align-content-around">

  <section class="col-md-5">
    <%= render 'login_form' %>
  </section>

  <section class="col-md-5">
    <%= render 'register_form' %>
  </section>

</div>