<% provide :title, t('layout.title.userLogin') %>
<% wrapper_set 'container-small' %>

<div class="row align-items-stretch">

  <div class="col-sm-6">
    <div class="white-box">
      <%= render 'login_form' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="white-box">
      <%= render 'register_form' %>
    </div>
  </div>

</div>