<% provide :title, 'Unsubscribe success' %>
<% wrapper_set 'white-box', 'container-small' %>

<h3><%= t('user.heading.unsubscribed') %></h3>
<%= t('user.info.unsubscribed.' + @type.to_s, user: @user.first_name) %>