<%# expects parameter "events"" %>

<% has_upcoming_events = events.upcoming.any? %>

<% events.each do |event| %>
  <% volunteers = event.volunteers %>
  <% team_size = volunteers.count %>
  <% desired = event.desired_team_size %>

  <div class="white-box <%= "event_#{event.status}" if has_upcoming_events %>">

    <span class="badge status_<%= event.status %> float-right mt-2"
          title="<%= t('action.info.remainingVacancy', places: desired - team_size) %>">
      <%= "#{team_size} / #{desired}" %>
    </span>

    <% if events.count > 1 %>
      <h4 class="mt-1 mb-2"><%= l(event.date, format: :date) unless event.date.nil? %>, <%= event.time %></h4>
    <% else %>
      <h3 class="mb-2"><%= t('action.heading.team') %></h3>
    <% end %>

    <% if desired&.positive? %>
      <div class="comma-list ml-2">
        <% volunteers.each do |volunteer| %>
          <span>
            <%= link_to volunteer.first_name, volunteer %>
            <% if policy(event).manage_team? %>
  	      <%= api_link '', [event, 'volunteers', volunteer], :remove,
                data: {'success-remove': 1}, title: t('action.button.removeVolunteer') %>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>

    <div class="my-2">
      <% if policy(event).leave? %>
        <%= link_to leave_event_path(event), class: 'btn btn-danger btn-block' do %>
          <span class="fas fa-sign-out-alt"></span> <%= t('action.button.leave') %>
        <% end %>
      <% elsif event.available_places.positive? %>
        <% if user_signed_in? %>
          <%= link_to enter_event_path(event), class: 'btn btn-success btn-block' do %>
            <span class="fas fa-sign-in-alt"></span> <%= t('action.button.enter') %>
          <% end %>
        <% else %>
          <%= link_to register_for_participation_event_path(event), class: 'btn btn-success btn-block' do %>
            <span class="fas fa-sign-in-alt"></span> <%= t('action.button.enter') %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if policy(event).manage_team? && policy(User).index? %>
      <%= user_select_picker event, 'volunteers', false, class: 'col-select btn-block',
                             title: t('action.button.addVolunteer'), data: {'success-reload': true} %>
    <% end %>

  </div>
<% end %>

<% if events.finished.any? && has_upcoming_events %>
  <a href="javascript:void(0)" onclick="$('.event_finished').slideToggle(); $(this).hide();"
     class="btn btn-secondary btn-block">
    <%= t('action.button.showPastEvents') %>
  </a>
<% end %>
