<% provide :title, 'Zur Mitarbeit anmelden' %>
<% wrapper_set 'container-small' %>

<div class="white-box">
  <h2>Zur Mitarbeit anmelden</h2>
  <div class="row">
    <div class="col-md-2">
      <% if @event.initiative.show_picture? %>
        <%= image_tag @event.initiative.picture.thumb.url, class: 'img-responsive' %>
      <% end %>
    </div>
    <div class="col-md-6">
      Schön, dass du bei der Aktion <i><%= @event.initiative.full_title %></i> mitarbeiten willst!
    </div>
  </div>
</div>

<div class="white-box">
  <h3 class="mb-3">Melde dich an, um an der Aktion teilzunehmen</h3>
  <%= render 'users/login_form', in_other_form: true %>
</div>

<div class="white-box">
  <h3 class="mb-3">... oder erstelle dein Profil, wenn du noch keines hast</h3>
  <%= render 'users/register_form', in_other_form: true %>
</div>
