<% provide :title, 'Zur Mitarbeit anmelden' %>
<% wrapper_set 'container-small' %>

<div class="white-box">

  <h2>Zur Mitarbeit anmelden</h2>

  <div class="row">
    <div class="col-md-2">
      <% if @event.initiative.show_picture? %>
        <%= image_tag @event.initiative.picture.thumb.url, class: 'img-responsive' %>
      <% end %>
    </div>
    <div class="col-md-6">
      Schön, dass du bei der Aktion <%= @event.initiative.title %> mitarbeiten willst!
    </div>
  </div>

  <hr />

  <div class="row align-items-stretch">

    <div class="col-sm-5">
      Damit wir dich kontaktieren können, gib bitte folgende Daten von dir an:
      <%= render 'users/register_form', in_other_form: true %>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-5">
      Oder hast du schon einen Account? Dann logge dich hier ein:
      <%= render 'users/login_form', in_other_form: true %>
    </div>
  </div>

</div>