<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= t('project_day.captionNew') %></h1>
  <%= link_to t('project_day.list'), project_days_path %>
</section>
<section id="projectDayNew">
  <%= render 'form' %>
</section>

