<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project_day.title %>
</p>

<%= link_to 'Edit', edit_project_day_path(@project_day) %> |
<%= link_to 'Back', project_days_path %>
