<% content_for :pageTitle do %>
    <%= t('layout.title.surveyList') %>
<% end %>

<section class="feedback survey list-view">
  <h1><%= t('feedback.label.surveyList') %></h1>
  <ul>
    <% @surveys.each do |feedback_survey| %>
      <li>
        <%= link_to feedback_survey.title, feedback_survey %>
      </li>
    <% end %>
  </ul>

  <br>

  <%= link_to t('feedback.action.newSurvey'), new_feedback_survey_path, class: 'btn btn-default' %>
</section>


