<% provide :title, t('layout.title.messageContactForm') %>
<% wrapper_set 'white-box', 'container-small' %>
<% show_errors_for @message %>

<h1>Kontakt aufnehmen</h1>
<p>Du hast die eine oder andere Frage? Erreiche uns schnell per Kontaktformular. Wir melden uns dann bei Dir.</p>

<%= bootstrap_form_for @message, url: contact_path do |form| %>

  <div class="mt-4 row justify-content-center">
    <div class="col-sm-8">
        <%= form.email_field :sender, value: user_signed_in? ? current_user.email : @message.sender, label: t('general.form.sender') %>
        <%= form.text_field :subject, label: t('general.form.subject') %>
        <%= form.text_area :body, label: t('general.form.body'), rows: 8 %>
        <%= form.hidden_field :recipient, value: 'default@servethecity-karlsruhe.de' %>
        <% unless user_signed_in? %>
          <%= form.form_group do %>
            <%= recaptcha_tags ajax: true, script: false %>
          <% end %>
        <% end %>
    </div>
  </div>

  <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
    <span class="fas fa-envelope"></span> Nachricht senden
  <% end %>

<% end %>