<% content_for :pageTitle do %>
    <%= t('layout.title.pagePrivacy') %>
<% end %>

<section>
  <h1>Datenschutz</h1>
</section>

<section>
  <p>
    Personenbezogene Angaben speichern wir nur in Verbindung mit Deinem Account, wenn Du Dich registriert hast.
    Dein Vorname ist öffentlich sichtbar, wenn Du an einem Projekt teilnimmst.
    Registrierte Benutzer können auf Deine Profilseite zugreifen, auf der sie Deinen Vor- und Nachnamen sehen sowie eine Liste
    der Projekte, an denen Du teilnimmst.
    Von Dir angegebene Kontaktdaten wie E-Mail-Adresse oder Telefonnummer sind ausschließlich sichtbar für die Mitglieder des
    Orga-Teams und Projektleiter von Projekten an denen Du teilnimmst.
  </p>
</section>