<% content_for :pageTitle do %>
    <%= t('layout.title.pagePrivacy') %>
<% end %>

<section>
  <h1>Datenschutz</h1>
</section>

<section>
  <p>
    Personenbezogene Angaben speichern wir nur in Verbindung mit deinem Account, wenn du dich registriert hast.
    In diesem Fall hast du die Möglichkeit, deinen Vor- und Nachnamen, deine E-Mail-Adresse sowie deine Telefonnummer anzugeben.
  </p>
  <p>
    Bei jedem Projekt, an dem du teilnimmst, ist dein Vorname öffentlich sichtbar.
    Andere registrierte Benutzer können auf deine Profilseite zugreifen, auf der sie deinen Vor- und Nachnamen sehen sowie eine Liste
    der Projekte, an denen du teilnimmst.
    Von dir angegebene Kontaktdaten wie E-Mail-Adresse oder Telefonnummer sind ausschließlich sichtbar für die Mitglieder des
    Orga-Teams und Projektleiter von Projekten, an denen du teilnimmst. Sie werden dazu verwendet, dich über Details und Neuigkeiten
    bezüglich deiner Projekte oder der Serve the City Projektwoche zu informieren.
    Von anderen Nutzern kannst du über ein Formular auf deiner Profilseite konktaktiert werden. In diesem Fall erhältst du eine E-Mail an die von dir angegebene E-Mail-Adresse. Versendest du auf diese Art eine Nachricht, wird deine E-Mail-Adresse mit der Nachricht an den Empfänger gesendet, damit dieser dir antworten kann. Deine Nachricht wird nicht gespeichert.
  </p>
  <p>
    Die Angabe deiner persönlichen Daten ist selbstverständlich freiwillig und du kannst sie jederzeit ändern oder löschen.
    Auch deinen Account kannst du auf deiner Profilseite löschen, was dazu führt, dass er anonymisiert wird.
    Das bedeutet, dass alle personenbezogenen Daten gelöscht werden. Die Projektteilnahmen bleiben aber erhalten,
    um die Statistiken über vergangene Projekte und -teilnahmen nicht zu verlieren.
  </p>
  <p>
    Auf unserem Server speichern wir außerdem Logdateien, in denen alle Anfragen an den Server aufgezeichnet werden,
    um im Fehlerfall nachvollziehen zu können, wie es dazu gekommen ist. Diese Dateien werden nach drei Monaten automatisiert gelöscht.
    In ihnen enthaltene personenbezogene Daten verwenden wir nicht für andere Zwecke und geben sie nicht weiter.
  </p>
</section>
