<% provide :title, t('layout.title.pagePrivacy') %>
<% wrapper_set 'white-box', 'container-small' %>

<h1>Datenschutz</h1>
<p>
  Wenn du dich auf unserer Seite registrierst, hast du die Möglichkeit, deinen Vor- und Nachnamen,
  deine E-Mail-Adresse sowie deine Telefonnummer anzugeben.
  Bei jeder Aktion, an der du teilnimmst, ist dein Vorname öffentlich sichtbar.
  Andere registrierte Benutzer können auf deine Profilseite zugreifen, auf der sie deinen Vor- und Nachnamen sehen sowie eine Liste
  der Aktionen, an denen du teilnimmst.
  Von dir angegebene Kontaktdaten wie E-Mail-Adresse oder Telefonnummer sind ausschließlich sichtbar für die Mitglieder des
  Orga-Teams und Aktionsleiter von Aktionen, an denen du teilnimmst. Sie werden dazu verwendet, dich über Details und Neuigkeiten
  bezüglich deiner Aktionen oder der Serve the City Aktionswoche zu informieren.
  Deine E-Mail-Adresse kannst du außerdem für den Login verwenden, damit du dir nicht noch einen Nutzernamen merken musst,
  und sie ist eine Kontaktmöglichkeit, über die wir dir ein neues Passwort für deinen Account zuschicken können,
  solltest du es mal vergessen haben.
  Von anderen Nutzern kannst du über ein Formular auf deiner Profilseite kontaktiert werden.
  In diesem Fall erhältst du eine E-Mail an die von dir angegebene E-Mail-Adresse.
  Versendest du auf diese Art eine Nachricht, wird deine E-Mail-Adresse mit der Nachricht an den Empfänger gesendet,
  damit dieser dir antworten kann. Deine Nachricht wird nicht gespeichert.
</p>
<p>
  Die Angabe deiner persönlichen Daten ist selbstverständlich freiwillig und du kannst sie jederzeit ändern oder löschen.
  Auch deinen Account kannst du auf deiner Profilseite löschen, was dazu führt, dass er anonymisiert wird.
  Das bedeutet, dass alle personenbezogenen Daten gelöscht werden. Die Aktionsteilnahmen bleiben aber erhalten,
  um die Statistiken über vergangene Aktionen und -teilnahmen nicht zu verlieren.
</p>
<p>
</p>

<h3>Allgemeine Hinweise</h3>
Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit deinen personenbezogenen Daten passiert,
wenn du unsere Website besuchst.
Personenbezogene Daten sind alle Daten, mit denen du persönlich identifiziert werden kannst.
Ausführliche Informationen zum Thema Datenschutz entnimmst du unserer unter diesem Text aufgeführten Datenschutzerklärung.

<h3>Datenerfassung auf unserer Website</h3>
<h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
Die Datenverarbeitung auf dieser Website erfolgt durch uns. Unsere Kontaktdaten kannst du dem Impressum entnehmen.
<h4>Wie erfassen wir deine Daten?</h4>
Deine Daten werden zum einen dadurch erhoben, dass du uns diese mitteilst.
Hierbei kann es sich z.B. um Daten handeln, die du in ein Kontaktformular eingibst.
Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst.
Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs).
Die Erfassung dieser Daten erfolgt automatisch, sobald du unsere Website betrittst.
<h4>Wofür nutzen wir deine Daten?</h4>
Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse deines Nutzerverhaltens verwendet werden.
<h4>Welche Rechte hast du bezüglich deiner Daten?</h4>
Du hast jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck deiner gespeicherten personenbezogenen Daten zu erhalten.
Du hast außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen.
Hierzu sowie zu weiteren Fragen zum Thema Datenschutz kannst du dich jederzeit über das Kontaktformular an uns wenden.
Des Weiteren steht dir ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
<h3>Analyse-Tools und Tools von Drittanbietern</h3>
Beim Besuch unserer Website kann dein Surf-Verhalten statistisch ausgewertet werden.
Das geschieht vor allem mit Cookies und mit sogenannten Analyseprogrammen.
Die Analyse deines Surf-Verhaltens erfolgt in der Regel anonym; das Surf-Verhalten kann nicht zu dir zurückverfolgt werden.
Du kannst dieser Analyse widersprechen oder sie durch die Nichtbenutzung bestimmter Tools verhindern.
Detaillierte Informationen dazu findest du in der folgenden Datenschutzerklärung.

<h2>2. Allgemeine Hinweise und Pflichtinformationen</h2>
<h3>Datenschutz</h3>
Wir nehmen den Schutz deiner persönlichen Daten sehr ernst.
Wir behandeln deine personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
sowie dieser Datenschutzerklärung.
Wenn du diese Website benutzt, werden verschiedene personenbezogene Daten erhoben.
Personenbezogene Daten sind Daten, mit denen du persönlich identifiziert werden kannst.
Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen.
Sie erläutert auch, wie und zu welchem Zweck das geschieht.
Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
<h3>Hinweis zur verantwortlichen Stelle</h3>
Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:

Nehemia Initiative Karlsruhe e.V.
Winterstraße 29
76137 Karlsruhe
Deutschland
info(at)nehemia-initiative.de
Telefon:  0721 - 91 43 47 00
Telefax: 0721 - 91 43 47 09
E-Mail: info(at)nehemia-initiative.de

Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.) entscheidet.
<h3>Widerruf deiner Einwilligung zur Datenverarbeitung</h3>
Viele Datenverarbeitungsvorgänge sind nur mit deiner ausdrücklichen Einwilligung möglich.
Du kannst eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns.
Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
<h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte von Baden-Württemberg.
Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden: https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.
<h3>Recht auf Datenübertragbarkeit</h3>
Du hast das Recht, Daten, die wir auf Grundlage deiner Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten,
an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen.
Sofern du die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangst, erfolgt dies nur, soweit es technisch machbar ist.
<h3>SSL- bzw. TLS-Verschlüsselung</h3>
Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen,
die du an uns als Seitenbetreiber sendest, natürlich keine SSL- sondern eine TLS-Verschlüsselung.
Je nach Angreifermodell können damit Daten, die du an uns übermittelst, nicht von Dritten mitgelesen werden.

<h3>Auskunft, Sperrung, Löschung</h3>
Du hast im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über deine
gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht
auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten kannst du dich
jederzeit unter der im Impressum angegebenen Adresse an uns wenden.

<h2>3. Datenschutzbeauftragter</h2>
<h3>Gesetzlich vorgeschriebener Datenschutzbeauftragter</h3>
Wir haben für unseren Verein folgenden Datenschutzbeauftragten bestellt:

BNT GmbH
Herr Stefan Becker
Hauptstr.73a
68789 St.Leon Rot
Deutschland
Tel:     06227 - 39 96 930
Fax:    06227 - 39 96 932
Info(at)bntgmbh.de

<h2>4. Datenerfassung auf unserer Website</h2>
<h3>Cookies</h3>
Die Internetseiten verwenden teilweise so genannte Cookies.
Cookies richten auf deinem Rechner keinen Schaden an und enthalten keine Viren.
Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
Cookies sind kleine Textdateien, die auf deinem Rechner abgelegt werden und die dein Browser speichert.
Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”.
Darin werden Daten gespeichert, die für die Funktion der Webseite notwendig sind
(z.B. eine zufällig generierte Session ID, auf Seiten mit einem Formular ein CSRF Token,
bei einer Loginsperre der Pfad, auf den du eigentlich wolltest).
Nach deinem Besuch wird der Cookie wieder gelöscht.
Meldest du dich auf der Webseite an und setzt beim Anmelden den Haken bei "merken", wird der Cookie länger gespeichert,
damit du auch bei nächsten Besuch noch angemeldet bist.
Diese Cookies ermöglichen es uns, deinen Browser beim nächsten Besuch wiederzuerkennen.
Du kannst deinen Browser so einstellen, dass du über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben,
die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des
Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von dir erwünschter Funktionen
erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Wir haben ein berechtigtes Interesse an der Speicherung
von Cookies zur technisch fehlerfreien und optimierten Bereitstellung unserer Dienste. Soweit andere Cookies (z.B. Cookies zur Analyse deines
Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.
<h3>Server-Log-Dateien</h3>
Auf unserem Server speichern wir Logdateien, in denen alle Anfragen an den Server aufgezeichnet werden,
um im Fehlerfall nachvollziehen zu können, wie es dazu gekommen ist und um anonyme Statistiken zu erstellen.
Diese Logdateien werden nach drei Monaten automatisiert gelöscht.
In ihnen enthaltene personenbezogene Daten verwenden wir nicht für andere Zwecke und geben sie nicht weiter.
In den Logdateien wird für jeden Aufruf deine IP-Adresse gespeichert, sowie die Uhrzeit,
die HTTP-Methode, der aufgerufene Pfad, Useragent, Referrer URL und Parameter (ausgenommen Passwörter).
Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
vorvertraglicher Maßnahmen gestattet.
<h3 class="mt-3">Kontaktformular</h3>

Wenn du uns per Kontaktformular Anfragen zukommen lässt, wird eine E-Mail mit dem Inhalt und den angegebenen Kontaktdaten an uns geschickt.
Innerhalb der Webseite werden die Daten nicht gespeichert.

<h3>Registrierung auf dieser Website</h3>
Du kannst dich auf unserer Website registrieren, um zusätzliche Funktionen auf der Seite zu nutzen.
Die dazu eingegebenen Daten verwenden wir nur zum Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes, für den du dich registriert hast.
Die bei der Registrierung abgefragten Pflichtangaben müssen vollständig angegeben werden. Anderenfalls werden wir die Registrierung ablehnen.
Für wichtige Änderungen etwa beim Angebotsumfang oder bei technisch notwendigen Änderungen nutzen wir die bei der Registrierung angegebene E-Mail-Adresse,
um dich auf diesem Wege zu informieren.
Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage deiner Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).
Du kannst eine von dir erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns.
Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
Die bei der Registrierung erfassten Daten werden von uns gespeichert, solange du auf unserer Website registriert bist und werden
anschließend gelöscht. Gesetzliche Aufbewahrungsfristen bleiben unberührt.
<h2>5. Analyse Tools und Werbung</h2>
<h3>Google reCAPTCHA</h3>
Wir nutzen “Google reCAPTCHA” (im Folgenden “reCAPTCHA”) auf unseren Websites.
Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (“Google”).
Mit reCAPTCHA soll überprüft werden, ob die Dateneingabe auf unseren Websites (z.B. in einem Kontaktformular) durch einen Menschen
oder durch ein automatisiertes Programm erfolgt. Hierzu analysiert reCAPTCHA das Verhalten des Websitebesuchers anhand verschiedener Merkmale.
Diese Analyse beginnt automatisch, sobald du unsere Website betritst. Zur Analyse wertet reCAPTCHA verschiedene Informationen aus (z.B. IP-Adresse, Verweildauer auf der Website oder von dir getätigte Mausbewegungen).
Die bei der Analyse erfassten Daten werden an Google weitergeleitet.
Die reCAPTCHA-Analysen laufen vollständig im Hintergrund. Du wirst nicht darauf hingewiesen, dass eine Analyse stattfindet.
Die Datenverarbeitung erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Wir haben ein berechtigtes Interesse daran, unsere Seite vor
automatisierten Registrierungen und vor Spam zu schützen.
Weitere Informationen zu Google reCAPTCHA sowie die Datenschutzerklärung von Google entnimmst du folgenden Links:
https://www.google.com/intl/de/policies/privacy/ und https://www.google.com/recaptcha/intro/android.html.
<h2>6. Newsletter</h2>
<h3>Newsletterdaten</h3>
Wenn du den auf der Website angebotenen Newsletter beziehen möchtest, benötigen wir von dir eine E-Mail-Adresse sowie Informationen,
welche uns die Überprüfung gestatten, dass du der Inhaber der angegebenen E-Mail-Adresse bist und mit dem Empfang des Newsletters
einverstanden bist.
Weitere Daten werden nicht bzw. nur auf freiwilliger Basis erhoben.
Diese Daten verwenden wir ausschließlich für den Versand der angeforderten Informationen und geben diese nicht an Dritte weiter.
Die Verarbeitung der in das Newsletteranmeldeformular eingegebenen Daten erfolgt ausschließlich auf Grundlage deiner Einwilligung
(Art. 6 Abs. 1 lit. a DSGVO). Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand
des Newsletters kannst du jederzeit widerrufen, etwa über den "Austragen"-Link im Newsletter.
Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
Die von dir zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu deiner Austragung aus dem Newsletter
gespeichert und nach der Abbestellung des Newsletters gelöscht.
Daten, die zu anderen Zwecken bei uns gespeichert wurden (z.B. E-Mail-Adressen in deinem Profil) bleiben hiervon unberührt.
Im Profil kannst du einstellen, über was du per E-Mail informiert werden willst.
Deine Profildaten verwenden wir ausschließlich für den Versand der angeforderten Informationen und
geben diese nicht an Dritte weiter. Die erteilte Einwilligung zur Nutzung der Profildaten zum Versand
des Newsletters kannst du jederzeit widerrufen, etwa über den "Austragen"-Link im Newsletter.
Die von dir zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu deiner
Austragung aus dem Newsletter gespeichert und nach der Abbestellung des Newsletters gelöscht.

<h2>7. Plugins und Tools</h2>

<h3>YouTube</h3>
Unsere Website nutzt Plugins der von Google betriebenen Seite YouTube. Betreiber der Seiten ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.
Wenn du eine unserer mit einem YouTube-Plugin ausgestatteten Seiten besuchst, wird eine Verbindung zu den Servern von YouTube hergestellt.
Dabei wird wahrscheinlich von deinem Browser dem YouTube-Server mitgeteilt, welche unserer Seiten du besucht hast. Wenn dich das stört, kannst du das selbst ändern.
Wenn du in deinem YouTube-Account eingeloggt bist, ermöglichst du YouTube, dein Surfverhalten direkt deinem persönlichen Profil zuzuordnen.
Dies kannst du verhindern, indem du dich aus deinem YouTube-Account ausloggst.
Die Nutzung von YouTube erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote.
Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
Weitere Informationen zum Umgang mit Nutzerdaten findest du in der Datenschutzerklärung von YouTube unter:
https://www.google.de/intl/de/policies/privacy.
<h3>Google Web Fonts</h3>
Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google bereitgestellt werden.
Beim Aufruf einer Seite lädt dein Browser die benötigten Web Fonts in ihren Browsercache, um Texte und Schriftarten korrekt anzuzeigen.
Zu diesem Zweck muss der von dir verwendete Browser Verbindung zu den Servern von Google aufnehmen.
Hierdurch erlangt Google Kenntnis darüber, dass über deine IP-Adresse unsere Website aufgerufen wurde.
Die Nutzung von Google Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer Online-Angebote.
Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
Wenn dein Browser Web Fonts nicht unterstützt, wird eine Standardschrift von deinem Computer genutzt.
Weitere Informationen zu Google Web Fonts findest du unter https://developers.google.com/fonts/faq und in der Datenschutzerklärung von Google: https://www.google.com/policies/privacy/.
<h3>Google Maps</h3>
Diese Seite nutzt über eine API den Kartendienst Google Maps. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
Zur Nutzung der Funktionen von Google Maps wird deine IP-Adresse an einen Server von Google übertragen und möglicherweise dort gespeichert.
Wir haben keinen Einfluss auf diese Datenübertragung.
Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und an einer leichten Auffindbarkeit der
von uns auf der Website angegebenen Orte. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
Mehr Informationen zum Umgang mit Nutzerdaten findest du in der Datenschutzerklärung von Google:
https://www.google.de/intl/de/policies/privacy/.
