<% provide :title, t('layout.title.pagePrivacy') %>
<% wrapper_set 'white-box', 'container-small' %>

<h1>Datenschutz</h1>
<p>
  Wenn du dich auf unserer Seite registrierst, hast du die Möglichkeit, deinen Vor- und Nachnamen,
  deine E-Mail-Adresse sowie deine Telefonnummer anzugeben.
  Bei jeder Aktion, an der du teilnimmst, ist dein Vorname öffentlich sichtbar.
  Andere registrierte Benutzer können auf deine Profilseite zugreifen, auf der sie deinen Vor- und Nachnamen sehen sowie eine Liste
  der Aktionen, an denen du teilnimmst.
  Von dir angegebene Kontaktdaten wie E-Mail-Adresse oder Telefonnummer sind ausschließlich sichtbar für die Mitglieder des
  Orga-Teams und Aktionsleiter von Aktionen, an denen du teilnimmst. Sie werden dazu verwendet, dich über Details und Neuigkeiten
  bezüglich deiner Aktionen oder der Serve the City Aktionswoche zu informieren.
  Deine E-Mail-Adresse kannst du außerdem für den Login verwenden, damit du dir nicht noch einen Nutzernamen merken musst,
  und sie ist eine Kontaktmöglichkeit, über die wir dir ein neues Passwort für deinen Account zuschicken können,
  solltest du es mal vergessen haben.
  Von anderen Nutzern kannst du über ein Formular auf deiner Profilseite kontaktiert werden.
  In diesem Fall erhältst du eine E-Mail an die von dir angegebene E-Mail-Adresse.
  Versendest du auf diese Art eine Nachricht, wird deine E-Mail-Adresse mit der Nachricht an den Empfänger gesendet,
  damit dieser dir antworten kann. Deine Nachricht wird nicht gespeichert.
</p>
<p>
  Die Angabe deiner persönlichen Daten ist selbstverständlich freiwillig und du kannst sie jederzeit ändern oder löschen.
  Auch deinen Account kannst du auf deiner Profilseite löschen, was dazu führt, dass er anonymisiert wird.
  Das bedeutet, dass alle personenbezogenen Daten gelöscht werden. Die Aktionsteilnahmen bleiben aber erhalten,
  um die Statistiken über vergangene Aktionen und -teilnahmen nicht zu verlieren.
</p>
<p>
</p>

<h3 class="mt-3">Cookies</h3>

Während der Nutzung unserer Webseite wird ein Cookie in deinem Browser angelegt.
Darin werden Daten gespeichert, die für die Funktion der Webseite notwendig sind
(z.B. eine zufällig generierte Session ID, auf Seiten mit einem Formular ein CSRF Token,
bei einer Loginsperre der Pfad, auf den du eigentlich wolltest).
Nach deinem Besuch wird der Cookie wieder gelöscht.
Meldest du dich auf der Webseite an und setzt beim Anmelden den Haken bei "merken", wird der Cookie länger gespeichert,
damit du auch bei nächsten Besuch noch angemeldet bist.

<h3 class="mt-3">Logdateien</h3>

Auf unserem Server speichern wir Logdateien, in denen alle Anfragen an den Server aufgezeichnet werden,
um im Fehlerfall nachvollziehen zu können, wie es dazu gekommen ist und um anonyme Statistiken zu erstellen.
Diese Logdateien werden nach drei Monaten automatisiert gelöscht.
In ihnen enthaltene personenbezogene Daten verwenden wir nicht für andere Zwecke und geben sie nicht weiter.
In den Logdateien wird für jeden Aufruf deine IP-Adresse gespeichert, sowie die Uhrzeit,
die HTTP-Methode, der aufgerufene Pfad, Useragent, Referer URL und Parameter (ausgenommen Passwörter).

<h3 class="mt-3">Kontaktformular</h3>

Wenn du uns per Kontaktformular Anfragen zukommen lässt, wird eine E-Mail mit dem Inhalt an uns geschickt.
Innerhalb der Webseite wird der Inhalt nicht gespeichert.

<h3 class="mt-3">Newsletter</h3>
Wenn du den auf der Website angebotenen Newsletter beziehen willst, musst du dich registrieren.
Im Profil kannst du einstellen, über was du per E-Mail informiert werden willst.
Deine Profildaten verwenden wir ausschließlich für den Versand der angeforderten Informationen und
geben diese nicht an Dritte weiter. Die erteilte Einwilligung zur Nutzung der Profildaten zum Versand
des Newsletters kannst du jederzeit widerrufen, etwa über den "Austragen"-Link im Newsletter.
Die von dir zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu deiner
Austragung aus dem Newsletter gespeichert und nach der Abbestellung des Newsletters gelöscht.


<h3 class="mt-3">Google reCAPTCHA</h3>

Wir nutzen “Google reCAPTCHA” auf unserer Webseite, das von Google angeboten wird. Mit reCAPTCHA soll überprüft werden,
ob die Eingaben von Daten durch einen Menschen oder durch ein automatisiertes Programm erfolgt ist.
Auf unserer Webseite nutzen wir es beim Registrierungs- und beim Kontaktformular, wenn du nicht angemeldet bist.
Damit wollen wir verhindern, dass Bots Accounts erstellen oder uns mit Spam belästigen.

Bei der Analyse werden Daten an Google geschickt und von Google ausgewertet.
Wenn du genaue Informationen hast, wie das funktioniert und was Google alles mit den Daten macht,
freuen wir uns über eine Nachricht.


<h3 class="mt-3">Google Web Fonts</h3>
Unsere Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts,
die von Google bereitgestellt werden. Beim Aufruf einer Seite lädt dein Browser die benötigten Web Fonts,
um Texte und Schriftarten korrekt anzuzeigen.
Zu diesem Zweck muss dein Browser eine Verbindung zu den Servern von Google aufbauen.
Durch den Referer erfährt Google dabei, dass über deine IP-Adresse unsere Website aufgerufen wurde.
Wenn dein Browser Web Fonts nicht unterstützt, wird eine Standardschrift von deinem Computer genutzt.


<h3 class="mt-3">Google Maps, YouTube</h3>
Weiterhin haben wir Google Maps und YouTube eingebunden, wobei dein Browser wieder Daten von Servern von Google anfragt.
Wenn es dich interessiert, was Google mit deinen Daten macht, schau mal in die Datenschutzerklärung von Google:
https://www.google.de/intl/de/policies/privacy/