<% provide :title, t('layout.title.pageAbout') %>
<% wrapper_set 'container-small' %>

<% content_for :head do %>
  <% desc = "Antworten auf die wichtigsten Fragen zu Serve the City" %>
  <meta name="description" content="<%= desc %>" />
  <meta property="og:image" content="https://www.servethecity-karlsruhe.de/images/share.jpg" />
  <meta property="og:description" content="<%= desc %>" />
<% end %>

<div class="white-box">
  <h1 class="text-center m-3">Fragen und Antworten zu Serve the City</h1>
</div>

<section class="white-box">
  <h2>Serve the City – Alles was du wissen musst</h2>

  <div id="was-ist-stc">
    <h4>Was ist <span class="term">Serve the City</span>?</h4>
    <p>
      <span class="term">Serve the City Karlsruhe</span> ist eine Rahmenstruktur für soziales Kurzzeit-Engagement.
      Viele Leute wollen gerne etwas Gutes tun, können sich aber nicht langfristig verpflichten. Serve the City
      schafft Gelegenheit, mit kleinen Beiträgen den sozialen Zusammenhalt in unserer Stadt zu stärken.
    </p>
  </div>

  <div id="wie-kann-ich-mich-engagieren">
    <h4>In welcher Form kann ich mich engagieren?</h4>
    <p>
      Einsätze von <span class="term">Serve the City</span> finden in der Regel in Kooperation mit einer
      bestehenden sozialen Einrichtung statt: Garten- oder Renovierungsarbeiten
      in einem Seniorenzentrum, Ausflüge mit Flüchtlingen, Aktionen mit
      Kinder- und Jugendtreffs und vieles mehr. Wir bieten neben einmaligen Aktionen
      mittlerweile für all diejenigen, die sich doch regelmäßiger ehrenamtlich
      einsetzen möchten Projekte. Aktionen finden während unserer Aktionstage
      oder zwei Aktionswochen statt. Projekte gibt es wöchentlich bzw. monatlich.
    </p>
  </div>

  <div id="warum-stc">
    <h4>Warum <span class="term">Serve the City</span>?</h4>
    <p>
      Wir glauben, dass eine bessere Welt möglich ist und wir konkret in unserer Stadt etwas
      dafür tun können. <span class="term">Serve the City</span> möchte dazu motivieren,
      sich für seine Mitmenschen einzusetzen, soziale Barrieren überwinden und den
      Horizont aller Akteure weiten.
    </p>
  </div>

  <div id="seit-wann-gibt-es-stc">
    <h4>Seit wann gibt es <span class="term">Serve the City</span>?</h4>
    <p>
      Die Idee von <span class="term">Serve the City</span> entstand 2005 in
      <a href="http://www.servethecity.be/brussels/">Brüssel</a>.

      Mittlerweile wurde das Konzept in über 100 Städten weltweit von vielen
      tausend Freiwilligen aufgegriffen. Die Initiativen in den Städten sind
      eigenständig und stellen lokale Begebenheiten und Bedürfnisse in der
      Stadt in den Mittelpunkt.

      In Deutschland wurden im Rahmen von <span class="term">Serve the City</span>
      2011 erstmalig in <a href="http://www.servethecity-bremen.de/">Bremen</a>
      Kurzzeitprojekte durchgeführt. Seitdem wächst <span class="term">Serve the City</span>
      auch in Deutschland beständig, sodass mittlerweile unter anderem auch in
      <a href="http://www.servethecity-berlin.de/">Berlin</a>,
      <a href="http://servethecity-hannover.de/">Hannover</a> und
      <a href="http://stc-dd.de">Dresden</a> Aktionen angeboten werden.
      <span class="term">Serve the City Karlsruhe</span> ist seit 2013 dabei.
    </p>
  </div>

</section>

<section class="white-box">
  <h2>Mitmachen und einbringen</h2>

  <div id="wer-kann-mitmachen">
    <h4>Wer kann mitmachen?</h4>
    <p>
      Jeder ist eingeladen, bei <span class="term">Serve the City</span> mitzumachen.
      Die Teilnahme an den Aktionen ist nicht auf Schüler oder Studenten begrenzt,
      wir freuen uns über jede helfende Hand! Weder dein Hintergrund noch
      dein Alter spielen eine Rolle. Auch wer nur wenige Stunden Zeit hat,
      ist herzlich willkommen – jede Stunde hilft!
    </p>
  </div>


  <div id="csr">
    <h4>Wir würden gerne als Firma mitmachen!</h4>
    <p>
      Sie möchten sich als Firma sozial engagieren und suchen eine geeignete Aktion,
      um gemeinsam etwas zu bewegen? Dann können Sie uns gerne
      <a href="/kontakt">kontaktieren</a> und wir suchen gemeinsam eine passende Aktion,
      das Sie z.B. mit Ihren Mitarbeitern oder ihrer Abteilung übernehmen können.
      Begleitende, teambildende Maßnahmen können wir allerdings nicht anbieten,
      bei Interesse helfen wir aber gerne bei der Suche nach einem geeigneten Trainer.
    </p>
  </div>

  <div id="aktion-vorschlagen">
    <h4>Ich habe einen Aktionsvorschlag!</h4>
    <p>
      Gerne, immer her damit, wir freuen uns über kreative Ideen –
      <a href="/kontakt">schreib uns einfach</a>!
      Habe aber bitte Verständnis dafür, wenn wir die Aktion unter Umständen nicht
      oder nicht sofort anbieten können, denn das hängt von vielen Faktoren ab.
    </p>
  </div>

  <div id="fuer-stc-werben">
    <h4>Ich möchte gerne Werbung für <span class="term">Serve the City</span> machen!</h4>
    <p>
      Das freut uns sehr! Wir können dir dazu gerne kostenlose Werbemittel (Flyer, Plakate)
      zur Verfügung stellen. <a href="/kontakt">Teile uns bitte auch mit</a>, wo und wie
      du werben willst, damit wir dir das richtige Material in der richtigen Menge zur
      Verfügung stellen können.
    </p>
  </div>

</section>

<section class="white-box">
  <h2>Spenden und unterstützen</h2>

  <div id="financing">
    <h4>Wie wird <span class="term">Serve the City</span> finanziert?</h4>
    <p>
      Serve the City finanziert sich rein aus Spenden.
      Hier sind wir sowohl über Sachspenden wie auch Geldspenden dankbar.
    </p>
  </div>

  <div id="spenden">
    <h4>Ich würde gerne finanziell unterstützen!</h4>
    <p>
      Für Materialien bei den Aktionen und Werbemittel wie Plakate, Flyer und unsere Webseite
      benötigen wir finanzielle Mittel. Deine Spende
      ist also herzlich willkommen! Am einfachsten kannst du über die Spendenplattform
      <%= link_to 'Betterplace', 'https://www.betterplace.org/de/projects/41347' %> spenden,
      die dir auch eine Spendenbescheinigung austellt:
      <%= link_to (image_tag '/images/Betterplace.jpg', class: 'img-fluid center-block'), 'https://www.betterplace.org/de/projects/41347' %>
    </p>
    <p>
      Alternativ kannst auch per <%= link_to 'Überweisung', '#', data: {toggle: 'collapse', target: '#transfer-details'} %> spenden.
    </p>
    <div id="transfer-details" class="collapse">
      <p>
        Überweise deine Spende einfach an die folgende Bankverbindung:
        <table class="properties">
          <tr><td>Inhaber</td><td>Nehemia-Initiative</td></tr>
          <tr><td>IBAN</td><td>DE70520604100005010250</td></tr>
          <tr><td>BIC</td><td>GENODEF1EK1</td></tr>
          <tr><td>Betreff</td><td>STC Karlsruhe (+ evtl. Aktionsname)</td></tr>
        </table>
      </p>
      <p>
        Falls aktionsgebunden gespendet werden soll, kann das im
        Überweisungsbetreff angemerkt werden. Wir können <%= link_to 'auf Anfrage', 'kontakt' %>
        auch eine Spendenbescheinigung ausstellen.
      </p>
    </div>
  </div>

  <div id="sachspenden">
    <h4>Ich kann Sachspenden anbieten!</h4>
    <p>
      Wir sind bei vielen Aktionen auf Sachspenden angewiesen. Ob es um Material,
      Verpflegung oder Werbemittel geht, wir können vieles gebrauchen und freuen
      uns daher über jede Spende. <a href="/kontakt">Wende dich einfach an das Orga-Team</a>.
    </p>
  </div>

</section>