<% content_for :pageTitle do %>
  <%= t('layout.title.pageAbout') %>
<% end %>

<section>
  <h1>Fragen und Antworten zu Serve the City</h1>
</section>

<div id="faq">

<section>
  <h2>Serve the City?</h2>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_what">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
             href="#was-ist-stc" aria-expanded="true" aria-controls="was-ist-stc">
            Was ist <span class="term">Serve the City</span>?
          </a>
        </h4>
      </div>
      <div id="was-ist-stc" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_what">
        <div class="panel-body">
          <p>
          Viele Menschen würden sich gerne sozial engagieren, wissen allerdings nicht wie bzw.
          wo und haben häufig auch nur begrenzt Zeit. Hier setzt
          <span class="term">Serve the City</span> an und erleichtert
          den Einsteig durch kurze Projekte ohne Hintergedanken oder Folgeverpflichtungen.
          </p>
          <p>
          Jede/r kann sich nach seinen Begabungen einbringen – Eine Projektwoche,
          bei der viele Freiwillige Gutes für ihre Stadt tun.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_why">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
             href="#warum-stc" aria-expanded="false" aria-controls="warum-stc">
            Warum <span class="term">Serve the City</span>?
          </a>
        </h4>
      </div>
      <div id="warum-stc" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_why">
        <div class="panel-body">
          <p>
          Wir glauben, dass eine bessere Welt möglich ist und wir konkret in unserer Stadt etwas
          dafür tun können. <span class="term">Serve the City</span> möchte dazu motivieren,
          sich für seine Mitmenschen einzusetzen, soziale Barrieren überwinden und den
          Horizont aller Akteure weiten.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_history">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
             href="#seit-wann-gibt-es-stc" aria-expanded="false" aria-controls="seit-wann-gibt-es-stc">
            Seit wann gibt es <span class="term">Serve the City</span>?
          </a>
        </h4>
      </div>
      <div id="seit-wann-gibt-es-stc" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_history">
        <div class="panel-body">
          <p>
          Das Idee von <span class="term">Serve the City</span> entstand 2005 in
          <a href="http://www.servethecity.be/brussels/">Brüssel</a>
          in der Gemeinde <span class="term">The Well</span>.
          Mittlerweile wurde das Konzept in über 100 Städten weltweit von vielen tausend
          Freiwilligen aufgegriffen. Die Initiativen in den Städten sind eigenständig
          und stellen lokale Begebenheiten und Bedürfnisse in der Stadt in den Mittelpunkt.
          </p>
          <p>
          In Deutschland wurden im Rahmen von <span class="term">Serve the City</span> 2011
          erstmalig in <a href="http://www.servethecity-bremen.de/">Bremen</a> Kurzzeitprojekte
          durchgeführt. Bis jetzt haben sich dort über 500 Personen in mehr als 90
          Projekten ehrenamtlich engagiert.

          Seitdem wächst <span class="term">Serve the City</span> auch in Deutschland beständig,
          sodass mittlerweile auch in <a href="http://www.servethecity-berlin.de/">Berlin</a>,
          <a href="http://stc.vmfds.de">Freudenstadt</a>, <a href="http://servethecity-hannover.de/">Hannover</a>,
          und <a href="http://www.servethecity-verden.de/">Verden</a> Projekte angeboten werden.
          <span class="term">Serve the City Karlsruhe</span> ist seit 2013 dabei.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_projects">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
             href="#unterstuetzte-projekte" aria-expanded="false" aria-controls="unterstuetzte-projekte">
            Welche Projekte werden unterstützt?
          </a>
        </h4>
      </div>
      <div id="unterstuetzte-projekte" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_projects">
        <div class="panel-body">
          <p>
          Teameinsätze von <span class="term">Serve the City</span> finden in der Regel
          in Kooperation mit einer bestehenden sozialen Einrichtung statt:
          Garten- oder Renovierungsarbeiten in einem Seniorenzentrum, Ausflüge mit Flüchtlingen,
          Aktionen mit Kinder- und Jugendtreffs und vieles mehr.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_when">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
             href="#wann-laeuft-stc" aria-expanded="false" aria-controls="wann-laeuft-stc">
            Wann und wie läuft <span class="term">Serve the City</span>?
          </a>
        </h4>
      </div>
      <div id="wann-laeuft-stc" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_when">
        <div class="panel-body">
          <p>
          <span class="term">Serve the City</span> konzentriert sich auf eine jährliche
          Aktionswoche, die dieses Jahr vom 08. bis zum 13. Juni 2015 stattfinden wird.
          </p>
          <p>
          Wir fördern eine Atmosphäre von Freundlichkeit, Freigiebigkeit und Initiativkraft.
          Einzelne können ihre Ideen einbringen und die Leitung eines Projektes übernehmen.
          Sobald die Projektidee online ist, finden sich über die Website
          eigenverantwortlich Teams zusammen.
          </p>
          <p>
          Unser Wunsch ist, dass in keinem Projekt ein "Oben-Unten-Gefälle" aufkommt,
          sondern vielmehr alles von einer Atmosphäre des gegenseitigen Respekts,
          der Kooperation und des gegenseitigen Austausches und voneinander Lernens geprägt ist.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_orga">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
             href="#orga-team" aria-expanded="false" aria-controls="orga-team">
            Wer veranstaltet <span class="term">Serve the City</span> in Karlsruhe?
          </a>
        </h4>
      </div>
      <div id="orga-team" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_orga">
        <div class="panel-body" style="max-width: 100%">
          <div class="row">
            <div class="col-md-6">
              <p>
                Das Organisationsteam in Karlsruhe setzt sich aus neun Studierenden zusammen.
                Rechtlich ist <span class="term">Serve the City</span>
                der <a href="http://nehemia-initiative.de">Nehemia-Initiative</a> angegliedert.
                Unterstützt wird <span class="term">Serve the City</span> durch viele soziale
                Einrichtungen und verschiedene Gemeinden in Karlsruhe.
              </p>
            </div>
            <div class="col-md-6">
                <%= image_tag 'Orgateam.jpg', class: 'img-responsive center-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Mitmachen!</h2>
  <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_who">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
             href="#wer-kann-mitmachen" aria-expanded="false" aria-controls="wer-kann-mitmachen">
            Wer kann mitmachen?
          </a>
        </h4>
      </div>
      <div id="wer-kann-mitmachen" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_who">
        <div class="panel-body">
          <p>
          Jeder ist eingeladen, bei <span class="term">Serve the City</span> mitzumachen.
          Die Teilnahme an den Projekten ist nicht auf Schüler oder Studenten begrenzt,
          wir freuen uns über jede helfende Hand! Religion und Konfession spielen
          dabei genauso wenig eine Rolle wie das Alter. Auch wer nur wenige Stunden Zeit hat,
          ist herzlich willkommen – jede Stunde hilft!
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_csr">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
             href="#csr" aria-expanded="false" aria-controls="csr">
            Wir würden gerne als Firma mitmachen!
          </a>
        </h4>
      </div>
      <div id="csr" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_csr">
        <div class="panel-body">
          <p>
          Sie möchten sich als Firma sozial engagieren und suchen ein geeignetes Projekt,
          um gemeinsam etwas zu bewegen? Dann können Sie uns gerne
          <a href="/kontakt">kontaktieren</a> und wir suchen gemeinsam ein geeignetes Projekt,
          das Sie z.B. mit Ihren Mitarbeitern oder ihrer Abteilung übernehmen können.
          Begleitende, teambildende Maßnahmen können wir allerdings nicht anbieten,
          bei Interesse helfen wir aber gerne bei der Suche nach einem geeigneten Trainer.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_donate">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
             href="#spenden" aria-expanded="false" aria-controls="spenden">
            Ich würde gerne etwas spenden!
          </a>
        </h4>
      </div>
      <div id="spenden" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_donate">
        <div class="panel-body">
          <p>
          Für Materialien bei den Aktionen benötigen wir finanzielle Mittel, deine Spende
          ist also herzlich willkommen! Falls projektgebunden gespendet werden soll,
          kann das im Überweisungsbetreff angemerkt werden. Wir können
          <a href="/kontakt">auf Anfrage</a> auch eine offizielle Spendenbescheinigung ausstellen.
          </p>
          <p>
          Überweise deine Spende einfach an die folgende Bankverbindung:

          <table class="properties">
            <tr>
              <td>Inhaber</td>
              <td>Nehemia-Initiative</td>
            </tr>
            <tr>
              <td>IBAN</td>
              <td>DE70520604100005010250</td>
            </tr>
            <tr>
              <td>BIC</td>
              <td>GENODEF1EK1</td>
            </tr>
            <tr>
              <td>Betreff</td>
              <td>STC Karlsruhe (+ evtl. Projekt-Name)</td>
            </tr>
          </table>
          </p>
          <p>
          Alle Mitarbeiter bei <span class="term">Serve the City</span> arbeiten ehrenamtlich,
          d.h. alle Spenden kommen fast ausschließlich den Projekten zugute.
          Lediglich einige kleine Werbeausgaben (z.B. Flyer) werden auch
          aus Spendengeldern finanziert.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_materials">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
             href="#sachspenden" aria-expanded="false" aria-controls="sachspenden">
            Wir könnten Sachspenden anbieten!
          </a>
        </h4>
      </div>
      <div id="sachspenden" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_materials">
        <div class="panel-body">
          <p>
          Wir sind bei vielen Projekten auf Sachspenden angewiesen. Ob es um Material,
          Verpflegung oder Werbemittel geht, wir können vieles gebrauchen und freuen
          uns daher über jede Spende. <a href="/kontakt">Wende Dich einfach an das Orga-Team</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_proposal">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
             href="#projekte-vorschlagen" aria-expanded="false" aria-controls="projekte-vorschlagen">
            Ich habe einen Projektvorschlag!
          </a>
        </h4>
      </div>
      <div id="projekte-vorschlagen" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_proposal">
        <div class="panel-body">
          <p>
          Gerne, immer her damit, wir freuen uns über kreative Ideen –
          <a href="/kontakt">schreib uns einfach</a>!
          Habe aber bitte Verständnis dafür, wenn wir das Projekt unter Umständen nicht
          oder nicht sofort anbieten können, denn das hängt von vielen Faktoren ab.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_promote">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
             href="#fuer-stc-werben" aria-expanded="false" aria-controls="fuer-stc-werben">
            Ich möchte Werbung für <span class="term">Serve the City</span> machen!
          </a>
        </h4>
      </div>
      <div id="fuer-stc-werben" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_promote">
        <div class="panel-body">
          <p>
          Das freut uns sehr! Wir können Dir dazu gerne kostenlose Werbemittel (Flyer, Plakate)
          zur Verfügung stellen. <a href="/kontakt">Teile uns bitte auch mit</a>, wo und wie
          Du werben willst, damit wir Dir das richtige Material in der richtigen Menge zur
          Verfügung stellen können.
          </p>
        </div>
      </div>
    </div>


  </div>
</section>

</div>