<% wrapper_set 'white-box', 'no-overflow' %>

<% content_for :head do %>
  <% desc = 'Du willst Menschen in Karlsruhe begegnen, ihnen Gutes tun?
  Engagiere dich, unkompliziert und ohne lange Verpflichtungen.' %>
  <meta name="description" content="<%= desc %>" />
  <meta property="og:image" content="https://www.servethecity-karlsruhe.de/images/share.jpg" />
  <meta property="og:description" content="<%= desc %>" />
<% end %>

<% content_for :pageHeader do %>

  <header id="header-home" class="header d-print-none">
    <%= link_to root_path do %>
      <%= image_tag('logo_wide.svg', alt: "Serve the City Karlsruhe") %>
      <h2>Helfen bewegt. begeistert. verbindet.</h2>
    <% end %>

    <!--
    <% countdown_date = Date.parse('2018-04-29') %>
    <div id="home-countdown" class="mt-3" data-class="Countdown" data-date="<%= countdown_date.strftime('%m/%d/%Y 00:00') %>">
      <div><span></span>Tage</div>
      <div><span></span>Stunden</div>
      <div><span></span>Minuten</div>
      <div><span></span>Sekunden</div>
      <span class="running">bis zum ersten Aktionstag&nbsp;2018</span>
      <% if Date.current <= countdown_date %>
        <span class="finished">Der erste Aktionstag&nbsp;2018 läuft!</span>
      <% else %>
        <span class="finished week-finished">Der erste Aktionstag&nbsp;2018 ist abgeschlossen. Vielen Dank für euren Einsatz!</span>
      <% end %>
    </div>
    -->
  </header>
<% end %>

<section id="home-intro-box" class="full-width top">
  <h1 class="sr-only">Aktionen</h1>
  <div class="row align-items-stretch justify-content-around">
    <div class="col-sm-12 col-lg-5 mb-0">

      <h2 class="sr-only">Karte</h2>
      <div id="home-actions-map" data-class="GoogleMap" data-lat="49.011627" data-lon="8.403869" data-zoom="12">
        <div class="markers">
          <% events = policy_scope(Event.upcoming).includes(initiative: [:parent_action, :subactions]).load %>
          <% events = policy_scope(Event.recent.limit(45)).includes(initiative: [:parent_action, :subactions]) unless events.any? %>
          <% events.each do |event| %>
            <% action = event.initiative %>
            <% if action.visible? && !action.longitude.nil? && !action.latitude.nil? %>
              <div data-lon="<%= action.longitude %>"
                   data-lat="<%= action.latitude %>"
                   data-name="<%= action.full_title %>"
                   data-href="<%= url_for(action) %>"
                   data-color="<%= action.finished? ? 'gray' : 'red' %>">
                <% unless event.date.nil? %>
                  <div class="date"><%= l event.date, format: :date %></div>
                <% end %>
                <%= simple_format(simple_format_urls(action.short_description.empty? ? action.description : action.short_description)) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-sm-5 col-md-4 col-lg-3">

      <div id="home-group-list">
        <h3>Aktuell</h3>
        <% groups = policy_scope(ActionGroup.upcoming).load %>
        <% groups = policy_scope(ActionGroup.newest.limit(2)).load.sort_by(&:start_date) unless groups.any? %>
        <% groups.each do |group| %>
          <%= link_to show_action_group_path(group), class: 'title' do %>
            <div class="type"><%= date_range(group.start_date, group.end_date, format: :long) %></div>
            <span class="far fa-hand-point-right"></span> <%= group.title %>
          <% end %>
        <% end %>
        <%= link_to '/stadtpiraten', class: 'title' do %>
          <div class="type">Projekt</div>
          <span class="fas fa-cog"></span> Stadtpiraten
        <% end %>
        <%= link_to '/spielezeit', class: 'title' do %>
          <div class="type">Projekt</div>
          <span class="fas fa-trophy"></span> Spielezeit
        <% end %>
      </div>

    </div>
    <div class="col-sm-7 col-md-6 col-lg-4">

      <div id="home-action-list">
        <% if user_signed_in? && (events = current_user.events.upcoming.includes(initiative: :subactions).load).any? %>
          <h3>Deine Aktionen</h3>
        <% elsif (events = policy_scope(Event.upcoming.limit(4)).includes(initiative: :subactions).load).any? %>
          <h3>Nächste Aktionen</h3>
        <% else %>
          <h3>Vergangene Aktionen</h3>
          <% events = policy_scope(Event.finished.limit(4)) %>
        <% end %>
        <% events.each do |event| %>
          <%= render '/actions/action_entry', event: event %>
        <% end %>
      </div>

    </div>
  </div>
</section>

<section id="home-about">
  <div class="row">
    <div class="col-sm-6 col-md-5">

        <h1>Serve the City Karlsruhe</h1>
        <p>
          ... ist eine Rahmenstruktur für soziales Kurzzeit-Engagement.
          Viele Leute wollen gerne etwas Gutes tun, können sich aber nicht langfristig verpflichten.
          Serve the City schafft Gelegenheiten, mit kleinen Beiträgen den sozialen Zusammenhalt in unserer Stadt zu stärken.
        </p>
        <p>
          <%= link_to '/about', class: 'h3' do %>
            <span class="fas fa-arrow-right"></span> über Serve the City...
          <% end %>
        </p>

    </div>
    <div class="col-sm-6 col-md-7">

      <div data-class="YoutubeVideo" class="youtube-video box box-16by9">
        <iframe allowfullscreen data-frame-src="
          https://www.youtube.com/embed/njiIHf1nlVQ?rel=0&autoplay=true&autohide=1&iv_load_policy=3&color=white&showinfo=0">
        </iframe>
        <div class="trigger">
          <div><i class="far fa-play-circle"></i></div>
        </div>
      </div>

    </div>
  </div>
</section>

<% if false %>

  <section id="home-news">
    <h1 class="sr-only">News</h1>
    <div class="swiper-container" data-class="TripleSlider">
      <div class="swiper-wrapper">
        <%= render '/news_entries/entries', limit: 7 %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section id="home-likebox">
    <h1>
      <%= link_to 'https://www.facebook.com/servethecity.karlsruhe', :target => "_blank" do %>
        <i class="fab fa-facebook" style="font-size: 1.3em;padding-right: 10px;"></i> Serve the City auf Facebook
      <% end %>
    </h1>
    <div>
      <span data-class="Likebox" data-fb-page="servethecity.karlsruhe"
            data-fb-token="1632977830272942|_y8PPboBvdNWpQG9jIDhHa--ArA"></span><!-- &#132;Gefällt mir&#147;-Angaben-->
    </div>
  </section>
  <section>
    <a id="home-photo-link" href="https://www.dropbox.com/sh/5yuk5ubbiqwhp1r/5AXIf0bhtd">
      "Dein Bild für Karlsruhe" &rarr; Link zur Dropbox
    </a>
  </section>
<% end %>


<section class="text-center">
  <h1 class="sr-only">Fragen?</h1>
  <p>
    Fragen? Wenn sie <%= link_to 'hier', '/about' %> nicht beantwortet sind, dann schau dich doch mal <%= link_to 'in unseren FAQs', '/faq' %> um.
    Oder <%= link_to 'schreib uns vom Orga-Team', '/kontakt' %>!
  </p>
</section>

<section id="home-images" class="full-width bottom no-padding">
  <h1 class="sr-only">Eindrücke</h1>
  <div class="swiper-container" data-class="MultiImageSlider">
    <div class="swiper-wrapper">
      <%# TODO: query is very slow %>
      <% pics = GalleryPicture.visible.where('id IN (SELECT p2.id FROM gallery_pictures AS p2 WHERE p2.gallery_id = gallery_pictures.gallery_id LIMIT 2)') %>
      <% policy_scope(pics.includes(gallery: :actions).order(created_at: :desc).limit(20)).shuffle.each do |pic| %>
        <div class="swiper-slide" style="width: <%= ((pic.width / pic.height.to_f) * 250).round.to_s + 'px' %>">
          <% action = pic.gallery.actions.first %>
          <%= link_to action, title: action.title do %>
            <img class="swiper-lazy" data-src="<%= pic.picture.preview.url %>" />
            <div class="swiper-lazy-preloader"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</section>