<%= render '/layouts/smallheader' -%>

<section>
  <h1>Impressum</h1>
</section>

<section>
  <h3>Verantwortlich für diese Website</h3>
  <p>Matthias Grundmann<br />
    Willy-Andreas-Allee 5<br />
    76131 Karlsruhe<br />
    E-Mail: webmaster (at) servethecity-karlsruhe (punkt) de <br />
  </p>

  <h3>Kontoverbindung</h3>
  <p>Inhaber: Nehemia Initiative<br />
    BIC: GENODEF1EK1<br />
    IBAN: DE70520604100005010250<br />
    Betreff: STC Karlsruhe</p>

  <h3>Kontakt</h3>
  <p>Für Fragen bitte das <a href="/contact">Kontaktformular</a> benutzen.</p>
</section>