<% content_for :pageTitle do %>
    <%= t('layout.title.pageLegalNotice') %>
<% end %>

<section>
  <h1>Impressum</h1>
</section>

<div class="row row-sm-eq-height">
  <section class="col-sm-6">
    <p style="margin-top: 20px;">Organisatorisch sind wir als 'Startup' mit der Nehemia Initiative verbunden.
      Das bedeutet, dass wir von ihnen unterstützt werden und von der dort vorhandenen Erfahrung profitieren können.
      Nach Ende der Startup Phase entscheiden wir gemeinsam, ob Serve the City zu einem festen Teil der Nehemia Initiative wird.<p>
    <p>Nehemia Initiative e. V.<br />
      Winterstraße 29<br />
      76137 Karlsruhe
    </p>
  </section>
  <section class="col-sm-6">
    <h3>Kontakt</h3>
    <p>Das Organisationsteam ist über das <a href="/kontakt">Kontaktformular</a> erreichbar.</p>
    <h3>Kontoverbindung</h3>
    <p>Inhaber: Nehemia Initiative<br />
       BIC: GENODEF1EK1<br />
       IBAN: DE70520604100005010250<br />
       Betreff: STC Karlsruhe</p>
  </section>
</div>