<% content_for :pageTitle do %>Presseinformationen<% end %>
<%= render '/layouts/smallheader' -%>

<section>
  <h1>Presseinformationen</h1>
</section>

<div class="row row-sm-eq-height">
  <div class="col-sm-12">
    <section>
      ...
    </section>
  </div>
</div>