<div class="alert alert-primary">
  <p>
    Leider müssen wir aus Kapazitätsgründen Serve the City Karlsruhe vorerst ruhen lassen. Es wird in nächster Zeit keine neuen Aktionen geben.
    Wer sich weiterhin in Karlsruhe sozial einbringen möchte, kann zum Beispiel hier vorbeischauen:
  </p>
  <ul class="list-group">
    <li class="list-group-item">Serve the City Deutschland: <a href="http://www.servethecity.de">http://www.servethecity.de</a></li>
    <li class="list-group-item">MitMachZentrale Karlsruhe: <a href="https://mitmachzentrale.karlsruhe.de/angebote">https://mitmachzentrale.karlsruhe.de/angebote</a></li>
    <li class="list-group-item">Nebenan.de: <a href="https://nebenan.de">https://nebenan.de</a></li>
  </ul>
</div>
