<% content_for :appendToHeader do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<%#
  <iframe src="https://player.vimeo.com/video/123291971?title=0&byline=0&portrait=0&color=fff&badge=0"
     webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
%>

<section>
  <div id="trailer" class="box box-16by9" style="max-width: 300px">
    <iframe width="1080" height="720" allowfullscreen
       src="https://www.youtube.com/embed/tjW1mKwNUSo&vq=hd1080"></iframe>
  </div>
</section>

<section>
  <div id="trailer" class="box box-16by9" style="max-width: 300px">
    <iframe width="1080" height="720" allowfullscreen
       src="https://www.youtube.com/embed/tjW1mKwNUSo"></iframe>
  </div>
</section>

<section>
  <div id="trailer" class="box box-16by9" style="max-width: 300px">
    <iframe allowfullscreen
       src="https://www.youtube.com/embed/tjW1mKwNUSo&vq=hd1080"></iframe>
  </div>
</section>

<section>
  <div id="trailer" class="box box-16by9" style="max-width: 300px">
    <iframe allowfullscreen
       src="https://www.youtube.com/embed/tjW1mKwNUSo"></iframe>
  </div>
</section>