<% content_for :appendToHeader do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<section>
  <div id="trailer" class="box ratio-16_9">
    <div>
      <%#
        <iframe src="https://player.vimeo.com/video/123291971?title=0&byline=0&portrait=0&color=fff&badge=0"
           webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      %>
      <iframe width="1080" height="720" allowfullscreen
         src="https://www.youtube.com/embed/tjW1mKwNUSo&vq=hd1080"></iframe>
    </div>
  </div>
</section>