<% content_for :appendToHeader do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<%#
  <iframe src="https://player.vimeo.com/video/123291971?title=0&byline=0&portrait=0&color=fff&badge=0"
     webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
%>

<section>
  <div id="trailer" class="box box-16by9" style="max-width: 600px">
    <iframe id="trailerFrame" class="locked-iframe" allowfullscreen
      data-frame-src="https://www.youtube.com/embed/kTy3GyOfZXA?rel=0&autoplay=true&autohide=1&iv_load_policy=3&color=white&showinfo=0">
    </iframe>
    <div class="locked-iframe-trigger" data-target-frame="#trailerFrame">
      <div>
        <i class="fa fa-play-circle-o"></i>
      </div>
    </div>
  </div>
</section>