<% content_for :pageTitle do %>
    <%= t('layout.title.pageAbout') %>
<% end %>

<section>
  <h1>Was ist Serve the City Karlsruhe?</h1>
</section>

<div class="row row-sm-eq-height">
  <section class="col-sm-6">
      <h2>Was?</h2>
      <p>Serve the City steht für soziale Kurzzeitprojekte in Karlsruhe. Viele
        Leute wollen gerne etwas Gutes tun, können sich aber nicht langfristig
        verpflichten. Serve the City schafft Gelegenheiten, mit kleinen
        Beiträgen sinnvoll den sozialen Zusammenhalt in unserer Stadt zu stärken
        und dabei wertvolle Erfahrungen zu sammeln.</p>


      <p>Unser Wunsch ist, dass in keinem Projekt ein "Oben-Unten" Gefälle
        aufkommt, sondern vielmehr alles von einer Atmosphäre des gegenseitigen
        Respekts, der Kooperation und des gegenseitigen Austausches und
        voneinander Lernens geprägt ist.</p>
  </section>
  <section class="col-sm-6">
      <h2>Wer?</h2>
      <p>Wir sind eine internationale Bewegung von Freiwilligen aller
        Altersgruppen. Neben <a href="http://www.servethecity-bremen.de/">Bremen</a>, <a href="http://www.servethecity-berlin.de/">Berlin</a>, <a href="http://servethecity-hannover.de/">Hannover</a> und <a href="http://www.servethecity-verden.de/">Verden</a> hat auch
        Karlsruhe die Idee aufgegriffen. Jede/r kann sich nach seinen Begabungen
        einbringen. Die logistische Struktur wird von einem ehrenamtlichen,
        studentischen Team entwickelt.</p>
  </section>
</div>

<div class="row row-sm-eq-height">
  <section class="col-sm-4">
      <h2>Wo?</h2>

      <p>Teameinsätze von Serve the City finden in der Regel in Kooperation mit
        einer bestehenden sozialen Einrichtung statt: Garten- oder
        Renovierungsarbeiten in einem Seniorenzentrum, Ausflüge mit Flüchtlingen
        oder Aktionen mit Kinder und Jugendtreffs.</p>
  </section>
  <section class="col-sm-4">
      <h2>Wann ?</h2>
      <p>Unsere Hauptenergie konzentriert sich auf eine jährliche Aktionswoche,
        die dieses Jahr vom 08. - 13. Juni 2015 stattfindet.</p>
  </section>
  <section class="col-sm-4">
      <h2>Wie?</h2>

      <p>Wir fördern eine Atmosphäre von Freundlichkeit, Freigebigkeit und
        Initiativkraft. Einzelne können ihre Ideen einbringen und die Leitung
        eines Projektes übernehmen. Sobald die Projektidee online ist, finden
        sich über die Website eigenverantwortlich Teams zusammen. Ebenfalls kann
        je nach Finanzbedarf für jedes Projekt online gespendet werden.</p>
  </section>
</div>

<section>
  <h2>Warum?</h2>

  <p>Wir glauben, dass eine bessere Welt möglich ist und wir etwas dafür tun
  können. Serve the City möchte dazu motivieren, sich für seine Mitmenschen
  einzusetzen, soziale Barrieren überwinden und den Horizont aller Akteure weiten.</p>
</section>
