<% content_for :pageTitle do %>
    <%= t('layout.title.pageSponsors') %>
<% end %>

<section>
  <h1><span class="term">Serve the City -</span> Sponsoren</h1>
</section>

<section>
  <p style="padding-top: 20px;">
    Ohne die Geld- und Sachspenden von Unternehmen und Vereinen hätten viele Projekte von
    <span class="term">Serve the City Karlsruhe</span> nicht in ihrer jetzigen Form
    realisiert werden können.
    Darüber hinaus gilt unser herzlicher Dank auch den sozialen Einrichtungen und Gemeinden,
    welche die Initiative tatkräftig unterstützen.
  </p>
  <div class="row" id="sponsors">
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="https://www.facebook.com/tecisfinanzdienstleistungenag" title="Tecis Finanzdienstleistungen AG" target="_blank">
          <img src="/images/logo_tecis.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="https://www.dm.de" title="dm-drogerie markt" target="_blank">
          <img src="/images/logo_dm.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="center-wrap">
        <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
          <img src="/images/logo_tafel.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-5 col-sm-7">
      <div class="center-wrap">
        <a href="http://www.hoepfner.de" title="Privatbrauerei Hoepfner GmbH" target="_blank">
          <img src="/images/logo_hoepfner.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="center-wrap">
        <a href="http://www.hardtstiftung.org" title="Hardtstiftung der Diakonie" target="_blank">
          <img src="/images/logo_hardtstiftung.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="https://informationswirtschaft.org" title="Forum Informationswirtschaft" target="_blank">
          <img src="/images/logo_forum_inwi.png" alt=""/>
        </a>
      </div>
    </div>
  </div>
</section>


