<% content_for :pageTitle do %>
    <%= t('layout.title.pageSupporters') %>
<% end %>

<section>
  <h1><span class="term">Serve the City -</span> Unterstützer</h1>
</section>

<!--<section>-->
  <%# render :partial => '/news_entries/entries', :locals => {categories: [:partners], limit: 4} %>
<!--</section>-->

<section id="sponsors">
  <p>
    Ohne die Geld- und Sachspenden von Unternehmen und Vereinen hätten viele Projekte von
    <span class="term">Serve the City Karlsruhe</span> nicht in ihrer jetzigen Form
    realisiert werden können.
    Darüber hinaus gilt unser herzlicher Dank auch den sozialen Einrichtungen und Gemeinden,
    welche die Initiative tatkräftig unterstützen.
  </p>

  <h2>Projektwoche 2016</h2>
  <h3>Sponsoren</h3>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
          <img src="/images/logo_tafel.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="http://www.k-und-u.com/" title="K &amp; U Bäckerei im Scheck-in-Center" target="_blank">
          <img src="/images/logo_k_und_u.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="https://www.facebook.com/teciskarlsruhe" title="Tecis Finanzdienstleistungen AG" target="_blank">
          <img src="/images/logo_tecis.png" alt=""/>
        </a>
      </div>
    </div>
  </div>

  <h3>Partner</h3>
  <div class="row">
    <div class="col-md-4 col-sm-8">
      <div class="center-wrap">
        <a href="https://www.ph-karlsruhe.de/" title="Pädagogische Hochschule Karlsruhe" target="_blank">
          <img src="/images/logo_ph.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-7">
      <div class="center-wrap">
        <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
          <img src="/images/logo_bbbank.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="center-wrap">
        <a href="http://kit.enactus.de/" title="Enactus KIT Karlsruhe" target="_blank">
          <img src="/images/logo_enactus.png" alt=""/>
        </a>
      </div>
    </div>
  </div>

  <h2>Projektwoche 2015</h2>
  <h3>Sponsoren</h3>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="https://www.facebook.com/teciskarlsruhe" title="Tecis Finanzdienstleistungen AG" target="_blank">
          <img src="/images/logo_tecis.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="http://www.ensinger.de" title="Mineral-Heilquellen Ensingen" target="_blank">
          <img src="/images/logo_ensinger.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="center-wrap">
        <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
          <img src="/images/logo_tafel.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-7">
      <div class="center-wrap">
        <a href="http://www.hoepfner.de" title="Privatbrauerei Hoepfner GmbH" target="_blank">
          <img src="/images/logo_hoepfner.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="center-wrap">
        <a href="https://informationswirtschaft.org" title="Forum Informationswirtschaft" target="_blank">
          <img src="/images/logo_forum_inwi.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="https://www.dm.de" title="dm-drogerie markt" target="_blank">
          <img src="/images/logo_dm.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="http://www.hardtstiftung.org" title="Hardtstiftung der Diakonie" target="_blank">
          <img src="/images/logo_hardtstiftung.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="center-wrap">
        <a href="http://www.k-und-u.com/" title="K &amp; U Bäckerei im Scheck-in-Center" target="_blank">
          <img src="/images/logo_k_und_u.png" alt=""/>
        </a>
      </div>
    </div>
  </div>
</section>


