<% provide :title, t('layout.title.pageSupporters') %>

<h1><span class="term">Serve the City -</span> Unterstützer</h1>

<p>
  Ohne die Geld- und Sachspenden von Unternehmen und Vereinen hätten viele Aktionen von
  <span class="term">Serve the City Karlsruhe</span> nicht in ihrer jetzigen Form
  realisiert werden können.
  Darüber hinaus gilt unser herzlicher Dank auch den sozialen Einrichtungen und Gemeinden,
  welche die Initiative tatkräftig unterstützen.
</p>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#aktionswoche2017">Aktionswoche 2017</a></li>
  <li role="presentation"><a href="#aktionswoche2016">Aktionswoche 2016</a></li>
  <li role="presentation"><a href="#aktionswoche2015">Aktionswoche 2015</a></li>
</ul>

<div class="panel panel-default tab-content clearfix">

  <div id="aktionswoche2017" class="tab-pane active">
    <h2>Aktionswoche 2017</h2>

    <h3>Sponsoren</h3>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
            <img src="/images/logo_bbbank.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.lions.de/web/lc-karlsruhe-zirkel" title="Förderverein Lions Club Karlsruhe-Zirkel e.V." target="_blank">
            <img src="/images/logo_lions_club.png" alt=""/>
          </a>
        </div>
      </div>
    </div>

    <h3>Partner</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6" style="height: 220px;">
        <div class="center-wrap">
          <a href="http://www.notinsel.de/" title="Notinsel" target="_blank">
            <img src="/images/logo_notinsel.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.ph-karlsruhe.de/" title="Pädagogische Hochschule Karlsruhe" target="_blank">
            <img src="/images/logo_ph.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
            <img src="/images/logo_bbbank.png" alt=""/>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div id="aktionswoche2016" class="tab-pane">
    <h2>Aktionswoche 2016</h2>

    <h3>Sponsoren</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
            <img src="/images/logo_tafel.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="https://karlsruhe-faecherstadt.rotary.de/" title="Rotary Club Karlsruhe-Fächerstadt" target="_blank">
            <img src="/images/logo_rotary_club.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.lions.de/web/lc-karlsruhe-zirkel" title="Förderverein Lions Club Karlsruhe-Zirkel e.V." target="_blank">
            <img src="/images/logo_lions_club.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.facebook.com/teciskarlsruhe" title="Tecis Finanzdienstleistungen AG" target="_blank">
            <img src="/images/logo_tecis.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.reiters-cafe.de/" title="Cafe Reiter's" target="_blank">
            <img src="/images/logo_reiters_cafe.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.hardtstiftung.org" title="Hardtstiftung der Diakonie" target="_blank">
            <img src="/images/logo_hardtstiftung.png" alt=""/>
          </a>
        </div>
      </div>
    </div>

    <h3>Partner</h3>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.ph-karlsruhe.de/" title="Pädagogische Hochschule Karlsruhe" target="_blank">
            <img src="/images/logo_ph.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.siemens.com" title="Siemens AG" target="_blank">
            <img src="/images/logo_siemens.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
            <img src="/images/logo_bbbank.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="http://kit.enactus.de/" title="Enactus KIT Karlsruhe" target="_blank">
            <img src="/images/logo_enactus.png" alt=""/>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div id="aktionswoche2015" class="tab-pane">
    <h2>Aktionswoche 2015</h2>

    <h3>Sponsoren</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.facebook.com/teciskarlsruhe" title="Tecis Finanzdienstleistungen AG" target="_blank">
            <img src="/images/logo_tecis.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.ensinger.de" title="Mineral-Heilquellen Ensingen" target="_blank">
            <img src="/images/logo_ensinger.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-5">
        <div class="center-wrap">
          <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
            <img src="/images/logo_tafel.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-7">
        <div class="center-wrap">
          <a href="http://www.hoepfner.de" title="Privatbrauerei Hoepfner GmbH" target="_blank">
            <img src="/images/logo_hoepfner.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="center-wrap">
          <a href="https://informationswirtschaft.org" title="Forum Informationswirtschaft" target="_blank">
            <img src="/images/logo_forum_inwi.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="https://www.dm.de" title="dm-drogerie markt" target="_blank">
            <img src="/images/logo_dm.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.hardtstiftung.org" title="Hardtstiftung der Diakonie" target="_blank">
            <img src="/images/logo_hardtstiftung.png" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="center-wrap">
          <a href="http://www.k-und-u.com/" title="K &amp; U Bäckerei im Scheck-in-Center" target="_blank">
            <img src="/images/logo_k_und_u.png" alt=""/>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
