<% provide :title, t('layout.title.pageSupporters') %>
<% wrapper_set 'white-box', 'container-medium' %>

<h1><span class="term">Serve the City -</span> Unterstützer</h1>

<p>
  Ohne die Geld- und Sachspenden von Unternehmen und Vereinen hätten viele Aktionen von
  <span class="term">Serve the City Karlsruhe</span> nicht in ihrer jetzigen Form
  realisiert werden können.
  Darüber hinaus gilt unser herzlicher Dank auch den sozialen Einrichtungen und Gemeinden,
  welche die Initiative tatkräftig unterstützen.
</p>

<div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#aktionen2018" id="aktionen2018-tab" data-toggle="tab" role="tab"
         aria-controls="aktionen2018" aria-selected="true">Aktionen 2018</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#aktionswoche2017" id="aktionswoche2017-tab" data-toggle="tab" role="tab"
         aria-controls="aktionswoche2017" aria-selected="true">Aktionswoche 2017</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#aktionswoche2016" id="aktionswoche2016-tab" data-toggle="tab" role="tab"
         aria-controls="aktionswoche2016" aria-selected="false">Aktionswoche 2016</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#aktionswoche2015" id="aktionswoche2015-tab" data-toggle="tab" role="tab"
         aria-controls="aktionswoche2015" aria-selected="false">Aktionswoche 2015</a>
    </li>
  </ul>

  <div class="tab-content clearfix">

    <div id="aktionen2018" class="tab-pane fade show active p-4" role="tabpanel" aria-labelledby="aktionen2018-tab">
      <h2>Aktionen 2018</h2>

      <h3>Sponsoren</h3>
      <div class="row mb-4">
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://fahrrad-strebel.de/" title="Fahrrad Strebel & Co., Zirkel 27, 76131 Karlsruhe" target="_blank">
              <img src="/images/supporters/logo_strebel.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.lions.de/web/lc-karlsruhe-zirkel" title="Förderverein Lions Club Karlsruhe-Zirkel e.V." target="_blank">
              <img src="/images/supporters/logo_lions_club.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.scheck-in-center.de/html/content/karlsruhe537.html" title="Scheck-In Center Karlsruhe" target="_blank">
              <img src="/images/supporters/logo_scheckin.png" alt=""/>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div id="aktionswoche2017" class="tab-pane fade p-4" role="tabpanel" aria-labelledby="aktionswoche2017-tab">
      <h2>Aktionswoche 2017</h2>

      <h3>Sponsoren</h3>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
              <img src="/images/supporters/logo_bbbank.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.lions.de/web/lc-karlsruhe-zirkel" title="Förderverein Lions Club Karlsruhe-Zirkel e.V." target="_blank">
              <img src="/images/supporters/logo_lions_club.png" alt=""/>
            </a>
          </div>
        </div>
      </div>

      <h3>Partner</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6" style="height: 220px;">
          <div class="center-wrap">
            <a href="http://www.notinsel.de/" title="Notinsel" target="_blank">
              <img src="/images/supporters/logo_notinsel.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.ph-karlsruhe.de/" title="Pädagogische Hochschule Karlsruhe" target="_blank">
              <img src="/images/supporters/logo_ph.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
              <img src="/images/supporters/logo_bbbank.png" alt=""/>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div id="aktionswoche2016" class="tab-pane fade p-4" role="tabpanel" aria-labelledby="aktionswoche2016-tab">
      <h2>Aktionswoche 2016</h2>

      <h3>Sponsoren</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
              <img src="/images/supporters/logo_tafel.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://karlsruhe-faecherstadt.rotary.de/" title="Rotary Club Karlsruhe-Fächerstadt" target="_blank">
              <img src="/images/supporters/logo_rotary_club.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.lions.de/web/lc-karlsruhe-zirkel" title="Förderverein Lions Club Karlsruhe-Zirkel e.V." target="_blank">
              <img src="/images/supporters/logo_lions_club.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.facebook.com/teciskarlsruhe" title="Tecis Finanzdienstleistungen AG" target="_blank">
              <img src="/images/supporters/logo_tecis.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.reiters-cafe.de/" title="Cafe Reiter's" target="_blank">
              <img src="/images/supporters/logo_reiters_cafe.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.hardtstiftung.org" title="Hardtstiftung der Diakonie" target="_blank">
              <img src="/images/supporters/logo_hardtstiftung.png" alt=""/>
            </a>
          </div>
        </div>
      </div>

      <h3>Partner</h3>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.ph-karlsruhe.de/" title="Pädagogische Hochschule Karlsruhe" target="_blank">
              <img src="/images/supporters/logo_ph.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.siemens.com" title="Siemens AG" target="_blank">
              <img src="/images/supporters/logo_siemens.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.bbbank.de/" title="BBBank eG" target="_blank">
              <img src="/images/supporters/logo_bbbank.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="http://kit.enactus.de/" title="Enactus KIT Karlsruhe" target="_blank">
              <img src="/images/supporters/logo_enactus.png" alt=""/>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div id="aktionswoche2015" class="tab-pane fade p-4" role="tabpanel" aria-labelledby="aktionswoche2015-tab">
      <h2>Aktionswoche 2015</h2>

      <h3>Sponsoren</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.facebook.com/teciskarlsruhe" title="Tecis Finanzdienstleistungen AG" target="_blank">
              <img src="/images/supporters/logo_tecis.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.ensinger.de" title="Mineral-Heilquellen Ensingen" target="_blank">
              <img src="/images/supporters/logo_ensinger.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-5">
          <div class="center-wrap">
            <a href="http://www.karlsruher-tafel.de" title="Karlsruher Tafel e.V." target="_blank">
              <img src="/images/supporters/logo_tafel.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-7">
          <div class="center-wrap">
            <a href="http://www.hoepfner.de" title="Privatbrauerei Hoepfner GmbH" target="_blank">
              <img src="/images/supporters/logo_hoepfner.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="center-wrap">
            <a href="https://informationswirtschaft.org" title="Forum Informationswirtschaft" target="_blank">
              <img src="/images/supporters/logo_forum_inwi.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="https://www.dm.de" title="dm-drogerie markt" target="_blank">
              <img src="/images/supporters/logo_dm.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.hardtstiftung.org" title="Hardtstiftung der Diakonie" target="_blank">
              <img src="/images/supporters/logo_hardtstiftung.png" alt=""/>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="center-wrap">
            <a href="http://www.k-und-u.com/" title="K &amp; U Bäckerei im Scheck-in-Center" target="_blank">
              <img src="/images/supporters/logo_k_und_u.png" alt=""/>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>