<%= render '/layouts/smallheader' -%>

<section>
  <h1>Editing page</h1>
  <%= render 'form' %>
  <%= link_to t('page.action.show'), @page %>
  <%= link_to t('page.action.toOverview'), pages_path %>
</section>