<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= t('page.captionNew') %></h1>
  <%= link_to t('page.list'), pages_path %>
</section>
<section id="pageNew">
  <%= render 'form' %>
</section>


