<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<% @page.sections.each do |section| %>
  <%= section.content.html_safe %> <br />
<% end %>

<%#= link_to 'Edit', edit_page_path(@page) %>
<%#= link_to 'Back', pages_path %>
