<%= render '/layouts/' + @page.header_name -%>

<% @page.sections.order(index: :asc).each do |section| %>
  <section <%= ('class="' + section.css_class + '"') if section.css_class %> >
    <% if section.partial_name %>
        <%= render section.partial_name %>
    <% else %>
        <%= section.content.html_safe %>
    <% end %>
  </section>
<% end %>
