<%= render '/layouts/smallheader' -%>

<section>
  <h1><%= t('section.captionNew') %></h1>
  <%= link_to t('section.list'), page_sections_path %>
</section>
<section id="pageSectionNew">
  <%= render 'form' %>
</section>