<div class="leftcol">
  <img src="hand.png" alt="" style="float: left; margin: 10px;" />
  <h1><img src="caption_servethecity.png" alt="ServeTheCity" /></h1>
  <p>
    ist eine Aktion von Freiwilligen,<br class="opt">
    die in Karlsruhe Gutes tun wollen.<br>
    Jeder engagiert sich im Ehrenamt,<br class="opt">
    keiner bekommt hier Geld.
  </p>

  <h1><img src="caption_handsforkarlsruhe.png" alt="Viele Hände für Karlsruhe" /></h1>
  <p>
    Das ist das Motto.<br class="opt">
    Zusammen können wir etwas bewegen.<br>
    Damit unsere Stadt noch lebenswerter,<br class="opt">
    noch schöner und noch fröhlicher wird.
  </p>
  <p>
    Das Kernteam koordiniert das Ganze.<br class="opt">
    Alle Projekte sind in der 1. Juliwoche.<br>
    Ob Fußball-Events mit Hort-Kindern,<br class="opt">
    Tapezieren oder Streichen in der Kita,<br>
    Generationen- und Stadtteil-Aktionen,<br class="opt">
    den Ideen sind keine Grenzen gesetzt.
  </p>
  <p>
    Mitmachen kann jeder. Egal woher er kommt.<br>
    Im Kernteam sind Christen aus verschiedenen Gemeinden.<br>
    Die Kosten für die Flyer und auch für diese Webseite<br class="opt">
    trägt die Evangelische Allianz Karlsruhe.
  </p>
</div>
<div class="rightcol">
  <h1 class="green box righttilt">Wir vernetzen Menschen.</h1>
  <p>
    Menschen, die wenig Zeit haben,<br class="opt">
    aber doch gerne helfen wollen,<br>
    finden über diese Internet-Seite<br class="opt">
    einen Platz für ihren Einsatz.
  </p>
  <p>
    Einrichtungen, die Hilfe brauchen,<br>
    können hier Freiwilligen-Teams<br class="opt">
    ansprechen oder gründen.
  </p>
  <p>
    Firmen, die Gutes unterstützen wollen,<br class="opt">
    können bei uns Sponsoren werden.<br>
    Mit Sachkompetenz, Werkzeug,<br class="opt">
    Baumaterial oder auch Geld.
  </p>
  <h1><img src="caption_how.png" alt="So funktioniert ServeTheCity" /></h1>
  <p>
    Hier können sich alle anmelden.<br>
    Eure Daten sind natürlich vertraulich und<br class="opt">
    nur für den jeweiligen Ansprechpartner bei uns.<br>
    Wir verkaufen keine Adressen und leiten keine weiter.<br>
    Die Projekt-Leiter fragen zum Schluss nach,<br class="opt">
    ob Ihr nächstes Jahr wieder angesprochen werden wollt.
  </p>
</div>
<a class="separator" name="applications" href="#">back to top</a>
<div class="leftcol">
  <h1>Bewerbungen <br>&nbsp;&amp; Anmeldungen</h1>
  <h1 class="green box righttilt">Für alle, die mitarbeiten wollen,<br>aber noch kein Projekt haben:</h1>
  <p>
    Ihr bekommt eine Mail mit Vorschlägen,<br class="opt">
    wo Ihr euch engagieren könnt.<br>
    Sucht ein Projekt aus und mailt uns<br class="opt">
    bitte verbindlich, wo ihr mitmacht.<br>
    Zum leichteren Kontakt brauchen<br class="opt">
    wir auch Eure Telefon-Nummer.<br>
    Der Leiter Eures Wunschprojektes<br class="opt">
    wird Euch dann kontaktieren.
  </p>
  <h1 class="purple box lefttilt">Für alle, die sich schon für<br>ein Projekt entschieden haben:</h1>
  <p>
    Ihr mailt uns Euren Namen und<br class="opt">
    eine Telefon-Nummer, unter der Ihr erreichbar seid.<br>
    Der jeweilige Projektleiter setzt sich mit Euch<br class="opt">
    in Verbindung und klärt Einzelheiten.<br>
    Er wird Euer Ansprechpartner sein<br class="opt">
    bis zum Fest am 6. Juli 2013.<br>
  </p>
  <h1 class="green box lefttilt">Als Projekt-Leiter:</h1>
  <p>
    Du würdest gerne ein Projekt leiten?<br class="opt">
    Hast eine Idee oder auch schon Mitarbeits-Willige?<br>
    Super. Mail uns Deinen Namen, Telefon-Nummer<br class="opt">
    und skizziere Deine Idee, die Du umsetzen willst.<br>
    Einer aus dem Kernteam wird Dich kontaktieren.
  </p>
</div>
<div class="rightcol">
  <img src="hand2.png" alt="" style="float: right; margin-bottom: 50px;" />
  <h1 class="purple box lefttilt">Für Einrichtungen und Gruppen,<br> die Hilfe brauchen:</h1>
  <p>
    Schreiben Sie uns ihren Projekt-Vorschlag.<br class="opt">
    Wir unterstützen viele verschiedene Initiativen.<br>
    Vielleicht können wir auch Ihnen helfen und<br class="opt">
    es finden sich genügend Freiwillige für Ihr Projekt.<br>
    Unser Ansprechpartner aus dem Kernteam wird mit Ihnen Kontakt aufnehmen.
  </p>
  <h1 class="green box righttilt">Für Sponsoren:</h1>
  <p>
    Schreiben Sie, womit Sie uns unterstützen wollen.<br class="opt">
    Wir können vieles gebrauchen:<br>
  <ul>
    <li><b>Sachkompetenz:</b> ein Fachmann gibt seinen Rat &ndash; ob handwerklich oder organisatorisch.</li>
    <li><b>Werkzeug und Baumaterial:</b> wenn wir beispielsweise einen Kita-Raum renovieren.</li>
    <li><b>Andere Sach-Spenden:</b> zum Beispiel für die Preise bei einem Fußball-Turnier mit Hort-Kids.</li>
    <li>Und natürlich können wir auch <b>Bargeld</b> gebrauchen &ndash; je mehr Flyer, desto mehr Mitarbeiter.</li>
  </ul>
  Ein Mitglied des Kernteams wird sich mit Ihnen in Verbindung setzen.<br>
  Vielen Dank im Voraus.
  </p>
  <a class="box lefttilt" style="background-color:#aaa; float:right; margin-top: 50px;" href="apply">zum Mailformular...</a>
</div>