<% content_for :pageTitle do %>
    <%= t('layout.title.userLogin') %>
<% end %>

<div class="row">
  <section class="col-centered slim col-medium">
    <%= render '/users/login_form' -%>
  </section>
</div>
