<div class="footer">
  <p>--</p>
  <span>Du erhältst diese E-Mail an die Adresse, mit der du dich auf
    <%= link_to 'servethecity-karlsruhe.de', 'https://servethecity-karlsruhe.de' %> registriert hast.<br />
    Möchtest du in Zukunft keine Mails mehr in der Kategorie "<%= t('orga_message.form.types.' + type) %>" erhalten?
    Dann kannst du das online in deinem <%= link_to 'Profil', 'https://servethecity-karlsruhe.de/login' %> einstellen.</span>
</div>