<div class="footer">
  <p>
    --<br />
    Du erhältst diese E-Mail, weil du bei einer Aktion von
    <%= link_to 'Serve the City Karlsruhe', 'https://servethecity-karlsruhe.de' %> teilnimmst.
    In deinem <%= link_to 'Profil', user_url(user) %> kannst du deine E-Mail-Einstellungen anpassen.
  </p>
</div>