<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

Hallo,<br />
<br />

du hast über Serve the City Karlsruhe eine Nachricht von <%= @sender.full_name %>
(<%= @sender.email %>, Teilnehmer der Aktion '<%= @action_title %>') bekommen:

<%= simple_format @message %>
</body>
</html>