<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Über das Kontaktformular auf servethecity-karlsruhe.de ist eine neue Nachricht eingegangen:</p>

<%= simple_format @message %>

</body>
</html>