<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Hallo,</p>

<p>soeben hat <%= @user.full_name %> das Projektteam von "<%= link_to @project.title, project_url(@project) %>" verlassen.</p>

<p>Du erhältst diese E-Mail, weil du bei diesem Projekt als Leiter eingetragen bist.</p>

<p>Falls du bei Austritten aus dem Projektteam nicht mehr benachrichtigt werden möchtest, wird es bald eine Option geben, das auszuschalten. ;-)</p>

</body>
</html>