<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Hallo,</p>

<p>soeben hat <%= @user.full_name %> das Aktionsteam von "<%= link_to @action.title, action_url(@action) %>" verlassen.</p>

<p>Du erhältst diese E-Mail, weil du bei dieser Aktion als Leiter eingetragen bist.</p>

<p>Falls du bei Austritten aus dem Aktionsteam nicht mehr benachrichtigt werden möchtest, kannst du das in deinem Profil ausschalten.</p>

</body>
</html>