<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'views/admin_mail' %>
</head>
<body class="admin-mail-body">

<%= @message.html_safe %>

<%= (render 'orga_subscription_footer', content_type: @type, subscription: @subscription).gsub(/\n/, '').squish().html_safe %>

</body>
</html>