<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'views/admin_mail' %>
</head>
<body class="admin-mail-body">

<%= @message.html_safe %>

<%= render partial: 'footer', locals: { type: @type } %>

</body>
</html>