<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Hallo,</p>

<p>gerade hat sich <%= @user.full_name %> bei der von dir geleiteten Aktion <%= link_to @project.title, project_url(@project) %> als Mitarbeiter eingetragen.<p>

<p>Damit sind jetzt <%= @project.volunteers.count %> von <%= @project.desired_team_size %> Plätzen bei der Aktion belegt.</p>

<p>Herzliche Grüße</p>

<p>Dein Serve the City Team</p>

</body>
</html>