<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= simple_format t('contact.leaders.body', title: @project_title,
                    sender_name: @sender.full_name, sender_email: @sender.email) %>

<%= simple_format @message %>
</body>
</html>