<%= form_with model: @role, local: true do |f| %>

  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('role.errorsExist') %></h2>
      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit t('general.button.save'), class: 'btn btn-primary' %>
    <%= link_to t('general.button.cancel'), roles_path, class: 'btn btn-link' %>
  </div>
<% end %>
