<% provide :title, t('layout.title.roleList') %>
<% wrapper_set 'container-medium' %>

<div class="white-box">
  <h1 class="text-center m-0"><%= Role.model_name.human count: 2 %></h1>
</div>

<div class="white-box">
  <h2><%= t('role.label.roleAssignments') %></h2>
  <div class="row">
    <% @roles.each do |role| %>
        <div class="role-info col-md-4">
          <h2><%= role.title %></h2>
          <div>
            <% policy_scope(role.users).order(:first_name, :last_name).each do |user| %>
                <div class="user">
                  <span><%= user.full_name %></span>
                  <%= api_link '', [user, 'roles', role], :remove, data: {'success-remove': 1} %>
                </div>
            <% end %>
          </div>
          <div class="mt-3">
            <%= user_select_picker role, 'roles', true, data: {'success-reload': true} %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="white-box p-4">
  <h2><%= t('role.label.editRoles') %></h2>
  <table class="table">
    <thead>
    <tr>
      <th><%= Role.human_attribute_name :title %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @roles.each do |role| %>
        <tr>
          <td><%= role.title %></td>
          <td>
            <%= link_to t('general.button.edit'), edit_role_path(role) %> |
            <%= link_to t('general.button.delete'), role, method: :delete,
                        data: { confirm: t('general.message.confirmDeleteLong') % [role.title]} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to t('role.new'), new_role_path %>
</div>