[data-react-class="RelationshipList"] {

  .item {
    white-space: nowrap;
    padding-right: 4px;
  }
  .item:after {
    content: ' ';
    white-space: normal;
  }
  .remove-link {
    margin-left: 4px;
  }
}