
<%= form_with model: @gallery, html: { multipart: true}, local: true do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
        <% @gallery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="white-box">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="white-box">
    <table class="table">
      <thead>
      <tr>
        <th><%= f.label :picture %></th>
        <th><%= f.label 'Uploader' %></th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @gallery.gallery_pictures.each do |picture| %>
        <% unless picture.new_record? %>
          <tr>
            <td><%= image_tag picture.picture_url(:preview), class: 'img-fluid' %></td>
            <td>
              <p>Uploaded by:<br /><%= picture.uploader.full_name %></p>
              <% if picture.visible %>
                <%= link_to make_invisible_gallery_picture_path(picture), class: 'btn status_hidden btn-block' do %>
                  <span class="fas fa-eye-slash"></span> Verstecken
                <% end %>
              <% else %>
                <%= link_to make_visible_gallery_picture_path(picture), class: 'btn btn-success btn-block' do %>
                  <span class="fas fa-eye"></span> Freischalten
                <% end %>
              <% end %>
              <%= link_to picture, method: :delete, class: 'btn btn-danger btn-block' do %>
                <span class="fas fa-trash"></span> Löschen
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="white-box">
    <div class="field">
      <%= f.file_field :picture, multiple: true, name: 'gallery_pictures[picture][]' %>
    </div>

    <div class="actions">
      <%= f.submit 'Speichern und Bilder hochladen' %>
    </div>
  </div>

<% end %>

