<% pics = policy_scope(gallery.gallery_pictures) %>
<% gallery_marker = 'slideshow-' + rand(36**10).to_s(36) %>

<div data-class="Gallery" data-gallery-id="<%= gallery.id %>" data-slideshow-id="<%= gallery_marker %>" class="gallery-slider">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <% pics.each do |pic| %>
        <div class="swiper-slide" style="background-image:url(<%= pic.picture.preview.url %>)"></div>
      <% end %>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <% pics.each do |pic| %>
        <div class="swiper-slide" style="background-image:url(<%= pic.picture.thumb.url %>)"></div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :end_of_body do %>
  <div id="<%= gallery_marker %>" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="<%= t('gallery.button.close') %>"></button>
          <button class="pswp__button pswp__button--share" title="<%= t('gallery.button.share') %>"></button>
          <button class="pswp__button pswp__button--fs" title="<%= t('gallery.button.toggleFullscreen') %>"></button>
          <button class="pswp__button pswp__button--zoom" title="<%= t('gallery.button.zoom') %>"></button>
          <div class="pswp__button pswp__button--delete" title="<%= t('gallery.button.delete') %>"><i class="fas fa-trash"></i></div>
          <div class="pswp__button pswp__button--rotateright" title="<%= t('gallery.button.rotateRight') %>"><i class="fas fa-redo-alt"></i></div>
          <div class="pswp__button pswp__button--rotateleft" title="<%= t('gallery.button.rotateLeft') %>"><i class="fas fa-undo-alt"></i></div>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="<%= t('gallery.button.gotoPrevious') %>"></button>
        <button class="pswp__button pswp__button--arrow--right" title="<%= t('gallery.button.gotoNext') %>"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>