<% if gallery.gallery_pictures.count > 0 %>

<div id="slider1_container" class="gallery-container">

  <!-- Loading Screen -->
  <div u="loading" class="gallery-loading">
    <div class="gallery-loading-background">
    </div>
    <div class="gallery-loading-animation">
    </div>
  </div>

  <div u="slides" class="gallery-slides">
    <% gallery.gallery_pictures.each do |picture| %>
      <div>
        <img u="image" src="<%= picture.picture.url %>" />
        <img u="thumb" src="<%= picture.picture.thumb.url %>" />
      </div>
    <% end %>
  </div>

  <span u="arrowleft" class="gallery-arrow-left">
  </span>
  <span u="arrowright" class="gallery-arrow-right">
  </span>

  <div u="thumbnavigator" class="gallery-thumbnavigator">
    <div u="slides" style="cursor: default;">
      <div u="prototype" class="gallery-prototype">
        <div class=w><div u="thumbnailtemplate" class="gallery-thumbnailtemplate"></div></div>
        <div class=c></div>
      </div>
    </div>
  </div>
</div>

<% end %>