
<h1>Galerieübersicht</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Anzahl Bilder</th>
    <th>Unsichtbare Bilder</th>
    <th colspan="3"></th>
    <th>Benutzt in</th>
  </tr>
  </thead>

  <tbody>
  <% @galleries.each do |gallery| %>
    <tr>
      <td><%= gallery.title %></td>
      <td><%= gallery.gallery_pictures.count %></td>
      <td><%= gallery.gallery_pictures.invisible.count %></td>
      <td><%= link_to 'Show', gallery %></td>
      <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
      <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% gallery.actions.each do |action| %>
        <td><%= link_to action.title, action %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>