<p>
  <%#= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>


<a href="contact">Kontakt</a>
| <a href="impressum">Impressum</a>
| <a href="impressum#privacy">Datenschutz</a>
| <a href="impressum#hints">Rechtliche Hinweise</a>
| <a href="www.servethecity.net">Serve the City international</a>