<div id="logo1"></div>
<div id="logo2"></div>
<h2>timetable</h2>
<ul style="font-size: 18px">
	<li>1.&ndash;6. juli: aktionen überall</li>
	<li>fest am 6. juli: schlossplatz</li>
</ul>
<h2>quick reference</h2>
<div class="linklist">	
	<a href="#introduction">Was ist "Serve the City"?</a>
	<a href="#applications">Wie kann ich mitmachen?</a>		
</div>


<%#= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
