<div id="slogan"></div>
<h2>timetable</h2>
<ul style="font-size: 18px">
  <li>1.&ndash;6. Juli: Aktionen überall</li>
  <li>Fest am 6. Juli: Schlossplatz</li>
</ul>
<%= raw @page.content_for(:menu) %>