<a id="logo1" href="/"></a>
<div id="logo2"></div>
<h2>timetable</h2>
<ul style="font-size: 18px">
	<li>1.&ndash;6. juli: aktionen überall</li>
	<li>fest am 6. juli: schlossplatz</li>
</ul>
<%= raw @page.content_for(:menu) %>