<div id="menu">
  <div>
    <%# <a href="/">Home</a>
    <a href="/participate">Mitmachen</a>
    <a href="/reports">Berichte</a>
    <a href="/connected">Vernetzt</a>
    %>
    <% if request.path_parameters[:action] == 'home' %>
      <a href="#" style="float:right">nach oben</a>
    <% else %>
      <a href="/" style="float:right">zur Startseite</a>
    <% end %>
    <% if refinery_user_signed_in? %>
      <a href="/logout" style="float:right" title='<%= current_refinery_user.username %> ausloggen'>Logout</a>
    <% else %>
      <a href="/login" style="float:right" class="popup">Login</a>
    <% end %>
  </div>
</div>