<div id="menu">
  <div>
    <%# <a href="/">Home</a>
    <a href="/participate">Mitmachen</a>
    <a href="/reports">Berichte</a>
    <a href="/connected">Vernetzt</a>
    %>
    <a href="#" style="float:right">nach oben</a>
    <% if refinery_user_signed_in? %>
      <a href="/logout" style="float:right">Logout</a>
    <% else %>
      <a href="/login" style="float:right" class="popup">Login</a>
    <% end %>
  </div>
</div>