<div id="menu">
  <div>
    <a href="/">Überblick</a>
    <a href="/participate">Mitmachen</a>
    <a href="/reports">Berichte</a>
    <a href="/connected">Vernetzt</a>
    <a href="#" style="float:right">nach oben</a>
    <a href="/login" style="float:right">Login</a>
  </div>
</div>

