// FONTS
@font-face {
  font-family: CaptionFont;
  src: asset-url("libelsuit.ttf");
}
@font-face {
  font-family: NormalFont;
  src: asset-url("lato-regular.ttf");
}
@font-face {
  font-family: BoldFont;
  src: asset-url("lato-bold.ttf");
}
@font-face {
  font-family: Caveat;
  src: asset-url("caveat-regular.ttf");
}

// ACTION STATUS + FLASH MESSAGE COLORS
$status_empty:           #197435;
$status_soon_full:      #D49203;
$status_full:           #A60000;
$status_finished:       #999;
$status_hidden:         #C44ABA;
$status_empty_text:      white;
$status_soon_full_text: white;
$status_full_text:      white;
$status_finished_text:  black;
$status_hidden_text:    white;
$flash_notice:          rgba(#C8FFC8, 0.85);
$flash_alert:           rgba(#FF8D82, 0.85);
$flash_notice_text:     #646464;
$flash_alert_text:      #000;

// CUSTOM COLORS
$default_border:      rgba(#777, 0.5);
$default_image_bg:    #AAA;
$gallery:             #191919;
$separator:           #000;
$footer_text:         #FFF;
$footer_text_shadow:  #000;
$unobtrusive_text:    gray;

// OTHER VARIABLES
$gallery-width:     500px;
$gallery-height:    333px;