// FONTS
@font-face {
  font-family: CaptionFont;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: CaptionFont;
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: NormalFont;
  src: asset-url("lato-regular.ttf");
}
@font-face {
  font-family: BoldFont;
  src: asset-url("lato-bold.ttf");
}
@font-face {
  font-family: Caveat;
  src: asset-url("caveat-regular.ttf");
}

// ACTION STATUS + FLASH MESSAGE COLORS
$status_empty:           #197435;
$status_soon_full:      #D49203;
$status_full:           #A60000;
$status_finished:       #999;
$status_hidden:         #C44ABA;
$status_empty_text:      white;
$status_soon_full_text: white;
$status_full_text:      white;
$status_finished_text:  black;
$status_hidden_text:    white;

// CUSTOM COLORS
$default_border:      rgba(#777, 0.5);
$default_image_bg:    #AAA;
$gallery:             #191919;
$separator:           #000;
$footer_text:         #FFF;
$footer_text_shadow:  #000;
$unobtrusive_text:    gray;

// OTHER VARIABLES
$gallery-width:     500px;
$gallery-height:    333px;