/* This file contains styles regarding the contact component.
It should be included in any page containing the contact form. */

/* CONTACT FORM */
.ctc-field, .ctc-submit {
	margin-top: 5px;
	font-size: 12px;
}
.ctc-field > label {
	float: left;
	min-width: 100px;
}
.ctc-field > textarea, .ctc-field > input, .ctc-field > select {
    margin-right: 30px;
    max-width: 600px;
    min-width: 285px;
    width: 70%;
}
.ctc-submit input {
	width: 200px;
	height: 30px;
	margin: 20px 20px 0;
	float: right;
}