/* This file contains all styles that concern the page content rather
than the surrounding layout. It should deal with general styles and classes. */

/* GENERAL CONTENT STYLES */
body {
	font-family: 'Arial';
	margin: 0;
}
a {
	color: #248;
	text-decoration: none;
}
ul {
	list-style: none;
	padding-left: 15px;
}
li {
	margin-bottom: 6px;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
.only-micro {
	display: none;
}
.jsonly {
	display: none !important;
}
.is-hidden {
	display: none !important;
}

/* HEADER SPECIFIC STYLES */
#header h1 {
    margin-top: 60px;
	text-align: center;
	font-size: 26px;
}
#header h2 {
	margin-top: 25px;
	font-size: 24px;
}
#header .slogan {
    margin-top: 30px;
    float: right;
    width: 250px;
    height: 171px;
    background: url(logo_hands.png) no-repeat top right;
}

/* SECTION SPECIFIC STYLES */
.section {
	position: relative;
	z-index: 1;
	padding: 95px 30px 30px;
    border-top: 2px solid #333;
}
.nopadding {
	padding: 0 !important;
}
.leftcol {
	float: left;
	width: 50%;
	padding-right: 35px;
}
.leftcol, .rightcol, .fullcol {
	overflow: hidden; /* establish new float context */
}
.section h1 {
	position: absolute;
	left: 30px;
	top: 40px;
	font-size: 24px;
	text-shadow: 1px 1px 10px #fff;
}
.section h2 {
	margin-top: 50px;
	font-size: 24px;
}


/* SECTION ADJUSTMENT for MINI style  */
@media all and (max-width: 1000px) {
	.section {
		padding: 95px 20px 20px;
	}
	.not-mini {
		display: none;
	}
	.leftcol {
		float: none;
		width: auto;
        padding-right: 0;
	}
}

/* SECTION ADJUSTMENT for MICRO STYLE */
@media all and (max-width: 740px) {
    #header .slogan {
        background-size: auto 130px;
        height: 130px;
        margin-top: 0;
    }
	.not-mini, .only-micro {
		display: inline;
	}
}

/* COLORED CAPTION BOXES */
.box {
	display: block;
	float: left;
	font-size: 18px !important;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.75);
	padding: 4px 20px;
	color: white;
}
a.box {
	float: none;
	overflow: hidden;
	width: 200px;
	background-color:#aaa;
	transition: box-shadow 0.5s;
}
a.box:hover {
	box-shadow: 3px 3px 8px rgba(0,0,0,0.75);
}
.green {
	background-color: #28b7af;
}
.purple {
	background-color: #ee2046;
}
.righttilt {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	margin-bottom: 25px;
}
.lefttilt {
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	margin-bottom: 25px;
}

/* LIGHTBOX */
.lightbox {
    border: 1px solid #aaa;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    transition: box-shadow 0.25s;
}
.lightbox:hover {
    box-shadow: 0 0 2px #aaa;
}

/* BUTTONS */
.button {
    display: inline-block;
    padding: 4px 18px;
    min-width: 100px;
    background-color: #ee2046;

    -webkit-box-shadow: inset 0px 1px 0px 0px #b83751;
    box-shadow: inset 0px 1px 0px 0px #b83751;
    border: 1px solid #942911;
    -webkit-border-radius: 3px;
    border-radius: 3px;


    color: #ffffff;
    font-family: arial;
    font-size: 13px;
    text-shadow: 0px 1px 0px #2b2317;
    text-align: center;
    cursor: pointer;
}
a.button {
    padding: 5px 18px;
}
.button:hover {
    background-color: #d60d35;
}
.button:active {
    position: relative;
    top: 1px;
}