@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: font-url('Caveat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: font-url('Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: font-url('Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: font-url('Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: font-url('Raleway-Regular.ttf') format('truetype');
}