@import "definitions";


/* GENERAL STYLES */

a:focus {
  text-shadow: 0 0 1px $link-hover-color;
}

h3, h4 {
  font-family: BoldFont;
}

.alert {
  ul {
    padding-left: 20px;
  }
  li {
    list-style: none;
  }
}

.typeHeader {
  font: 25px CaptionFont;
  letter-spacing: 0.04em;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 10px;
}

.row-no-padding > * {
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

/* buttons widths */
.btn {
  min-width: 150px;
}
.btn-wide {
  display: block;
  margin: 3px;
}
input.btn-wide {
  width: calc(100% - 6px);
}

/*
  aspect ratio keeping boxes (the box must have a single child)
    the similar bootstrap solution .embed-responsive
    doesn't support width/height settings/constraints on the container.
*/
.box {
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
  }
  & > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

/* possible aspect ratios */
.box-1by1:before {
  padding-top: 100%;
}
.box-4by3:before {
  padding-top: 75%;
}
.box-16by9:before {
  padding-top: 56.25%;
}
.box-5by2:before {
  padding-top: 40%;
}

.box-5by3:before {
  padding-top: 60%;
}

/* Centers the wrapped child. */
.center-wrap {
  display: table;
  height: 100%;
  width: 100%;
  & > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
  }
}

.video {
  max-width: 600px;
  margin: 0 auto;
  background: #000;
  .locked-iframe {
    border: none;
  }
  .locked-iframe-trigger {
    color: $link-color;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 15px rgba(#000, 0.8);
    transition: all 0.4s;
    background: #000 url("/images/trailer_cover.jpg") center / cover;
    &:hover {
      color: $link-hover-color;
    }
    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 100px;
      margin: auto auto;
      * {
        vertical-align: top;
      }
    }
  }
}

.locked-iframe {
  display: none !important;
}

.term {
  font-style: italic;
  white-space: nowrap;
  padding-left: 1px;
  padding-right: 1px;
}

table.properties {
  margin-left: 10px;
  td:first-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }
  td:first-child:after {
    content: ":"
  }
}

.collapsing {
  -webkit-transition: none;
  transition: none;
}

a.black-link {
    color: #000;
}

.honig a {
  color: transparent;
  font-size: 1px;
  float: right;
  cursor: default;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}