@import "definitions";


/* GENERAL STYLES */

a {
  text-decoration: none;
  color: rgb(44, 153, 145);
}

h1 {
  font: 35px CaptionFont;
  margin: 10px 0 10px;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0.03em;
}

h2 {
  font: 25px CaptionFont;
  margin: 15px 0 10px;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0.03em;
}

h3 {
  font: 17px BoldFont;
  margin: 7px 0 7px -2px;
  padding: 0;
}

h4 {
  font: 17px BoldFont;
  margin: 10px 0 5px;
  padding: 0;
}

/* MULTI-USE STYLES */

.wide {
  display: block;
}



.spotlights {
  text-align: center;
  & > div {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 20px 0;
  }
  img {
    width: 70px;
    height: auto;
    margin: 15px;
  }
}

.picture-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  .copyright {
    color: white;
    font-size: 10px;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    position: absolute;
    bottom: 0;
    left: 100%;
    white-space: nowrap;
    padding-left: 10px;
    transform-origin: 0% 100%;
    -moz-transform: rotate(-90deg);
    cursor: default;
  }
}


.adminPanel {
  text-align: center;
  .btn {
    margin: 3px 5px 2px 5px;
    min-width: 170px;
  }
}

.infobox {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  &.wide {
    display: block;
    margin: 5px 0;
    text-align: center;
  }

  &.open {
    color: $col_positive;
    background: $bg_positive;
  }
  &.soon_full {
    color: $col_neutral;
    background: $bg_neutral;
  }
  &.full {
    color: $col_negative;
    background: $bg_negative;
  }
  &.closed {
    color: $color_inactive;
    background: $bg_inactive;
  }
}

.field_with_errors:first-child {
  display: inline;
  color: #a60000;
}





