@import "definitions";


/* GENERAL STYLES */

a:focus {
  text-shadow: 0 0 1px $link-hover-color;
}

h3, h4 {
  font-family: BoldFont;
}

.alert {
  ul {
    padding-left: 20px;
  }
  li {
    list-style: none;
  }
}

.status_open {
  color: $status_open_text;
  background: $status_open;
}
.status_soon_full {
  color: $status_soon_full_text;
  background: $status_soon_full;
}
.status_full {
  color: $status_full_text;
  background: $status_full;
}
.status_closed {  // TODO can be deleted when status refactoring completed
  color: $status_finished_text;
  background: $status_finished;
}
.status_finished {
  color: $status_finished_text;
  background: $status_finished;
}
.status_hidden {
  color: $status_hidden_text;
  background: $status_hidden;
}
.status_active {
  color: $status_open_text;
  background: $status_open;
}

/* MULTI-USE STYLES */
.spotlight {
  text-align: center;
  padding: 5px;
  img {
    width: 100px;
    height: auto;
    margin: 15px;
  }
}

.picture-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  .copyright {
    color: white;
    font-size: 10px;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    position: absolute;
    bottom: 0;
    left: 100%;
    white-space: nowrap;
    padding-left: 10px;
    transform-origin: 0% 100%;
    -moz-transform: rotate(-90deg);
    cursor: default;
  }
}

.infobox {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  &.wide {
    display: block;
    margin: 5px 0;
    text-align: center;
  }
}

/* sections (standalone and within rows) */
section {
  margin: 0 0 $grid-gutter-width;
  background: $section;
  padding: 10px !important;
  position: relative;
  overflow: hidden;
  &.slim {
    padding: 10px !important;
  }
  &.showOverflow {
    overflow: visible;
  }
  .typeHeader {
    font: 25px CaptionFont;
    letter-spacing: 0.04em;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (min-width: $screen-sm-min) {
  section {
    padding: 20px 30px !important;
  }
}


/* buttons widths */
.btn {
  min-width: 150px;
}
.btn-wide {
  display: block;
  margin: 3px;
}
input.btn-wide {
  width: calc(100% - 6px);
}

/*
  aspect ratio keeping boxes (the box must have a single child)
    the similar bootstrap solution .embed-responsive
    doesn't support width/height settings/constraints on the container.
*/
.box {
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
  }
  & > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

/* possible aspect ratios */
.box-1by1:before {
  padding-top: 100%;
}
.box-4by3:before {
  padding-top: 75%;
}
.box-16by9:before {
  padding-top: 56.25%;
}
.box-5by2:before {
  padding-top: 40%;
}

/* Centers the wrapped child. */
.center-wrap {
  display: table;
  height: 100%;
  width: 100%;
  & > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
  }
}


.locked-iframe {
  display: none !important;
}

.term {
  font-style: italic;
  white-space: nowrap;
  padding-left: 1px;
  padding-right: 1px;
}

table.properties {
  margin-left: 10px;
  td:first-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }
  td:first-child:after {
    content: ":"
  }
}

.collapsing {
  -webkit-transition: none;
  transition: none;
}

a.black-link {
    color: #000;
}

.honig a {
  color: transparent;
  font-size: 1px;
  float: right;
  cursor: default;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}