
// styles for a header box
.record-header {
  text-align: center;
  padding-top: 1rem !important;
  .type {
    @extend %CaptionFont;
    font-size: 1.5rem;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .labels {
    text-align: center;
    font-size: 1.7rem;
  }
}


// centers the wrapped child
.center-wrap {
  display: table;
  height: 100%;
  width: 100%;
  & > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
  }
}

.cropbox > img {
  width: 100%;
  height: auto;
}

.term {
  font-style: italic;
  white-space: nowrap;
  padding-left: 1px;
  padding-right: 1px;
}

// contained items must again contain at least one HTML element
.comma-list > :not(:last-child) > :last-child:after {
  content: ', ';
}



a.black-link {
    color: #000;
}

.honig a {
  color: transparent;
  font-size: 1px;
  float: right;
  cursor: default;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}