
.typeHeader {
  font: 25px CaptionFont;
  letter-spacing: 0.04em;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 10px;
}



/* Centers the wrapped child. */
.center-wrap {
  display: table;
  height: 100%;
  width: 100%;
  & > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
  }
}

.video {
  max-width: 600px;
  margin: 0 auto;
  background: #000;
  .locked-iframe {
    border: none;
  }
  .locked-iframe-trigger {
    color: $link-color;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 15px rgba(#000, 0.8);
    transition: all 0.4s;
    background: #000 url("/images/trailer_cover.jpg") center / cover;
    &:hover {
      color: $link-hover-color;
    }
    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 100px;
      margin: auto auto;
      * {
        vertical-align: top;
      }
    }
  }
}

.locked-iframe {
  display: none !important;
}

.term {
  font-style: italic;
  white-space: nowrap;
  padding-left: 1px;
  padding-right: 1px;
}

.centered {
  text-align: center;
}

table.properties {
  margin-left: 10px;
  td:first-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }
  td:first-child:after {
    content: ":"
  }
}



a.black-link {
    color: #000;
}

.honig a {
  color: transparent;
  font-size: 1px;
  float: right;
  cursor: default;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}