@import "definitions";

/* static layout */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  background-image: image-url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#navigation {
  .navbar-toggle {
    color: $navbar-default-color;
    font-size: 30px;
    &:hover {
      color: $navbar-default-bg !important;
    }
  }
  li>a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px $primary_text_shadow;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
  }
  .dropdown-menu {
    padding: 10px;
    min-width: 230px;
    background-color: rgba($dropdown-bg, 0.8);
  }
}

header {
  margin: 0 auto;
  padding: 70px 0 20px;
  background: image-url("logo_bg.png") center top / auto 100% no-repeat;
  text-align: center;

  a {
    outline: none !important;
  }

  .logo img {
    max-width: 90%;
  }

  .logo h2 {
    margin-top: 10;
    margin-bottom: 30px;
    font-family: Caveat !important;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 3px #000;
  }

  &.smallheader {
    background-image: image-url("logo_bg_small.png");
    padding-bottom: 30px;
  }
}

#container {
  padding-bottom: 50px;
  margin: 0 auto 0;
  max-width: 900px;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 0.7em;
  color: $footer_text;
  padding: 5px;
  text-shadow:
      0 0 1px rgba($footer_text_shadow, 0.5),
      1px 1px 1px rgba($footer_text_shadow, 1);
  a, a:hover, a:focus {
    color: $footer_text;
    text-shadow: none;
  }
}

#messages {
  z-index: 1001;
  position: fixed;
  left: 0; top: 70px; right: 0;
  margin: 0 auto;
  max-width: 700px;

  .alert-info, .alert-notice {
    background: $flash_notice;
    color: $flash_notice_text;
  }
  .alert-alert {
    background: $flash_alert;
    color: $flash_alert_text;
  }
}

.shareOptions {
  float: right;
}