
// STRUCTURAL CLASSES

.row > * {
  margin-bottom: 10px;
}

// a content box. you have to apply margins yourself (e.g. BS4 margins: mb-3...)
.white-box {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(white, 0.9);
  box-shadow: 0 0 5px rgba(black, 0.4);
  @include clearfix;
}

.align-items-stretch > div {
  > .white-box:first-child {
    margin-top: 0;
  }
  > .white-box:last-child {
    margin-bottom: 0;
  }
  > .white-box:only-child {
    min-height: 100%;
  }
}

.parent-height {
  min-height: 100%;
}

// use this on white-boxes if rounded borders are destroyed by child content
.no-overflow {
  overflow: hidden;
}

// restricts the content width. caution: this will invalidate horizontal margins
.container-medium {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-small {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


// use this within white-boxes or BS columns
section, .section {
  margin-top: 60px;
  margin-bottom: 60px;
}

// use this on white-box children (e.g. sections) to negate padding
.full-width {
  margin-left: -10px;
  margin-right: -10px;
}
.top {
  margin-top: -10px;
}
.bottom {
  margin-bottom: -10px;
}



// LAYOUT PARTS
html {
  height: 100%;
  // setting bg image on <html> keeps the image when following turbolinks
  background: image-url("bg.jpg") center/cover fixed;
}
body, #page {
  min-height: 100%;
}

body {
  position: relative;
  background: none;
}
#flash-messages {
  z-index: 2000;
  position: fixed;
  left: 140px;
  right: 0;
  top: 70px;
  margin: 0 auto;
  max-width: 700px;
  @media(max-width: $grid-float-breakpoint) {
    left: 0;
  }
  .alert {
    box-shadow: 0 0 3rem rgba(#000, 0.7)
  }
}

#page {
  margin-left: 140px;
  padding-bottom: 50px;
  position: relative;
  @media(max-width: $grid-float-breakpoint) {
    margin-left: 0;
  }
}

#content {
  @include clearfix;
  margin: 0 50px;
  position: relative;
  z-index: 200;
  @include media-breakpoint-down(sm) {
    margin: 0 5px;
  }
}

.header {
  background: image-url("logo_bg_small.png") center bottom / contain no-repeat;
  margin: 0 auto -400px;
  padding: 25px 0 400px;
  text-align: center;
  position: relative;
  a {
    outline: none !important;
  }
  img {
    width: 500px;
    max-width: 70%;
    transform: rotate(-5deg);
  }
  h2 {
    margin: 10px 0 30px;
    font: 50px Caveat !important;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #000;
  }
}

#footer {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 0.7em;
  color: $footer_text;
  padding: 5px;
  text-shadow:
          0 0 1px rgba($footer_text_shadow, 0.5),
          1px 1px 1px rgba($footer_text_shadow, 1);
  a, a:hover, a:focus {
    color: $footer_text;
    text-shadow: none;
  }
}

// RECURRING, UNIQUE ELEMENTS
#share-options {
  float: right;
}

