@import "definitions";

/* static layout */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  background-image: image-url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#navigation {
  .navbar-toggle {
    color: $navbar-default-color;
    font-size: 30px;
    &:hover {
      color: $navbar-default-bg !important;
    }
  }
  li>a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(8, 39, 37, 0.6);
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
  }
  .dropdown-menu {
    padding: 10px;
    min-width: 230px;
    background-color: rgba($dropdown-bg, 0.8);
  }
}

header {
  margin: 0 auto;
  padding: 70px 0 40px;
  background: image-url("logo_bg.png") center top / auto 100% no-repeat;
  text-align: center;

  .logo img {
    max-width: 90%;
  }

  &.smallheader {
    background-image: image-url("logo_bg_small.png");
    padding-bottom: 30px;
  }
}

#container {
  padding-bottom: 50px;
  margin: 0 auto 0;
  max-width: 900px;
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 0.7em;
  color: $footer_color;
  padding: 5px;
  text-shadow:
      0 0 1px rgba($footer_shadow_color, 0.5),
      1px 1px 1px rgba($footer_shadow_color, 1);
  a, a:hover, a:focus {
    color: $footer_color;
    text-shadow: none;
  }
}

#messages {
  z-index: 101;
  position: fixed;
  left: 0; top: 50px; right: 0;
  margin: 0 auto;
  width: 700px;
  & > * {
    padding: 10px 40px;
    margin: 10px 0;
    overflow: auto;
  }
  .alert-notice {
    background: rgba($bg_notice, 0.85);
  }
  .alert-alert {
    background: rgba($bg_alert, 0.85);
  }
  .alert-devise {
    background: rgba($bg_alert, 0.85);
  }
}

.shareOptions {
  float: right;
}