$state_open_color: lightgrey;
$state_open_background: #197435;
$state_soon_full_color: lightgrey;
$state_soon_full_background: #d49203;
$state_full_color: lightgrey;
$state_full_background: #a60000;
$state_closed_color: lightgrey;
$state_closed_background: black;

@font-face {
  font-family: CaptionFont;
  src: asset-url("libelsuit.ttf");
}

@font-face {
  font-family: NormalFont;
  src: asset-url("lato-regular.ttf");
}

@font-face {
  font-family: BoldFont;
  src: asset-url("lato-bold.ttf");
}

/* LAYOUT */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #929d9b image-url("bg.jpg") center / cover no-repeat fixed;
  /*background: url(bg.png) center top / 100% auto no-repeat,
  url(bg2.jpg) repeat;*/
  font: 16px NormalFont;
  color: #000;
  min-height: 100%;
  position: relative;
}

#menubar {
  position: fixed;
  left: 0; top: 0; right: 0;
  padding: 5px 0;
  background: rgba(40, 183, 175, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  text-align: right;
  z-index: 100;
  vertical-align: center;
  & > a, & > * > a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    text-shadow: 1px 1px 1px rgba(8, 39, 37, 0.6);
    text-transform: uppercase;
    transition: color 0.25s ease 0s;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: #fff;
    }
  }

  #metaLinks {
    float: left;
  }

  .miniPopup {
    display: inline-block;
    & > div {
      text-align: left;
      background: rgba(255,255,255,0.8);
      border: 1px solid black;
      position: fixed;
      right: 0;
      top: 30px;
      padding: 10px;
      display: none;
      min-width: 300px;
      min-height: 80px;
    }
  }
}

header {
  margin: 0 auto;
  background: image-url("logo_bg.png") center top / auto 100% no-repeat;
  padding: 70px 0;

  .logo {
    display: block;
    width: 400px;
    height: 443px;
    margin: 0 auto;
    background: image-url("logo.png") center top no-repeat;
  }

  &.smallheader {
    background-image: image-url("logo_bg_small.png");
    padding: 50px 0 20px;
    .logo {
      width: 200px;
      height: 206px;
      background-image: image-url("logo_small.png");
    }
  }
}

#notice {
  background-color: rgba(200, 255, 200, 0.75);
  margin: 10px 0;
  padding: 20px 40px;
}

#content {
  padding-bottom: 50px;
  margin: 0 auto 0;
  width: 900px;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  padding: 20px 40px;
  overflow: hidden;
  position: relative;
}

section.restyled {
  background: none;
  padding: 0 0;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 1);
}

footer a {
  color: #FFF;
  text-decoration: none;
}

/* GENERAL STYLES */

a {
  text-decoration: none;
  color: rgb(44, 153, 145);
}

h1 {
  font: 35px CaptionFont;
  margin: 10px 0 10px;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0.03em;
}

h2 {
  font: 25px CaptionFont;
  margin: 15px 0 10px;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0.03em;
}

h3 {
  font: 17px BoldFont;
  margin: 20px 0 5px -3px;
  padding: 0;
}

/* MULTI-USE STYLES */

.spotlights {
  text-align: center;
  & > div {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 20px 0;
  }
  img {
    width: 70px;
    height: auto;
    margin: 15px;
  }
}

.button {
  border:1px solid rgba(44, 153, 145, 0.80);
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  &.wide {
    display: block;
    margin: 5px 0;
    text-align: center;
  }
  &,* {
    color: rgb(44, 153, 145);
  }
}

.two-col-group {
  overflow: hidden;
  & > * {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}


.adminPanel {
  ul {
    margin: 0;
    padding-left: 5px;
    list-style: none;
  }
}

.infobox {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  &.wide {
    display: block;
    margin: 5px 0;
    text-align: center;
  }

  &.open {
    color: $state_open_color;
    background: $state_open_background;
  }
  &.soon_full {
    color: $state_soon_full_color;
    background: $state_soon_full_background;
  }
  &.full {
    color: $state_full_color;
    background: $state_full_background;
  }
  &.closed {
    color: $state_closed_color;
    background: $state_closed_background;
  }
}



/* SPECIFIC STYLES: MAIN PAGE */

#countdown {
  div {
    display: inline-block;
    border: 1px solid #000;
    font-size: 12px;
    text-align: center;
    margin: 5px;
    padding: 2px;
    min-width: 50px;
    vertical-align: middle;
    span {
      font-size: 25px;
      display: block;
      border-bottom: 1px solid #000;
      line-height: 1.5em;
    }
  }
  & > span {
    font: 25px CaptionFont;
    vertical-align: middle;
    margin-left: 30px;
  }
  .finished {
    display: none;
  }
}

#trailer {
  margin: -70px auto 0;
  width: 600px;
  height: 337px;
  background: #000;
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

#project-link {
  display: block;
  margin: 0;
  padding: 25px 50px 15px;
  background: image-url("projectlink_bg.png") left center / cover;
  font: 45px CaptionFont;
  color: #FFF;
  text-decoration: none;
  transition: text-shadow 0.3s;
  &:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  }
}

#project-map {
  background: #aaa;
  height: 300px;
  margin: 0 auto;
}

#donate {
  & > div:first-child {
    padding-right: 20px;
  }
  & > div:last-child {
    padding-left: 30px;
    border-left: 1px solid black;
  }
}

/* SPECIFIC STYLES: PROJECT LIST PAGE */

#project-list-header {
  padding: 10px 20px;
  h2 {
    padding: 0;
    margin: 25px 0 0 10px;
  }
  .infobox {
    float: right;
    border: 1px solid #123;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    span {
      font-size: 25px;
    }
  }
}

#project-list-options {
  width: 150px;
  float: right;
  margin: 0 0 5px 10px;
}

#project-list {
  margin-left: 40px;
  margin-right: 240px;
  section {
    height: 200px;
    padding: 0;

    .project-image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      background: #aaa;
    }
    .project-title {
      position: absolute;
      top: 0;
      left: 210px;
      * {line-height: 1.05em;}
    }
    .project-description {
      position: absolute;
      top: 70px;
      right: 5px;
      bottom: 5px;
      left: 210px;
      overflow: hidden;
    }
    .project-status {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 31px;
      padding-top: 9px;
      font-family: BoldFont;
      font-size: 18px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 3px #000;
      text-align: center;
    }

    .open {
      color: $state_open_color;
      background: rgba($state_open_background, .8);
    }
    .soon_full {
      color: $state_soon_full_color;
      background: rgba($state_soon_full_background, .8);
    }
    .full {
      color: $state_full_color;
      background: rgba($state_full_background, .8);
    }
    .closed {
      color: $state_closed_color;
      background: rgba($state_closed_background, .6);
    }
  }
}


/* SPECIFIC STYLES: PROJECT PAGE */

.project-view {
  overflow: auto;
  padding: 20px 20px 50px;
  h1 {
    padding: 0 10px 10px;
  }
  .leftCol {
    width: 180px;
    float: left;
    border-right: 1px solid black;
    padding: 10px;
    padding-right: 20px;
    p {
      margin-top: 4px;
      margin-bottom: 8px;
    }
  }
  .rightCol {
    width: 180px;
    float: right;
    border-left: 1px solid black;
    padding: 10px;
  }
  .description {
    margin: 0 230px;
    img {
      width: 100%;
      height: auto;
      border: 1px solid rgba(0,0,0,0.5);
      margin-bottom: 20px;
    }
  }
}

.project-edit-view {
  h3 {
    margin-top: 10px;
  }
  input, textarea {
    width: 98%;
    max-width: 98%;
    min-width: 98%;
  }
  textarea {
    min-height: 80px;
    padding: 5px;
  }
  .description textarea {
    min-height: 300px;
  }
  .description img {
    margin-bottom: 0;
  }
}

.profile-view {
  .info, .actions {
    margin-right: 5px;
    margin-top: 0;
    h3 {
      margin-top: 5px;
    }
  }
  .projects {
    margin-left: 5px;
    margin-top: 0;
    .button {
      margin: 5px 10px;
    }
  }
}

.profile-edit-view {
  input {
    display: block;
    min-width: 280px;
  }
  .change_password, .save_edit {
    margin-left: 5px;
    margin-top: 0;
  }
}