#logo1 {
    background-size: auto 85px;
}
#logo2 {
	position: static;
	width: 100%;
	background-position: right top;
	background-size: auto 130px;
	height: 130px;
    margin: -60px 0;
}
br.opt, br.opt2 {
	display: inline !important;
}