.prf-profile {
    position: relative;
    min-height: 160px;
}
.prf-profile .prf-pic {
    float: right;
    min-width: 50px;
    min-height: 70px;
}
.prf-profile .prf-block {
    padding: 5px 0 0 15px;
}
.prf-projectlist {
    min-height: 160px;
}
.prf-projectlist a {
    display: block;
    background-color: #eee;
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.25s;
}
.prf-projectlist a:hover {
    background-color: #e0e0e0;
    color: black;
}
.prf-projectlist h3 {
    padding: 4px 0;
}
.prf-actionlist a {
    display: block;
    margin: 6px;
    cursor: pointer;
}
.prf-newslist div {
    color: #777;
    margin: 10px;
    font-size: 12px;
}
.prf-edit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
}