.prj-leftcol {
    float: left;
    width: 200px;
}
.prj-places {
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.prj-cats > div {
    margin: 5px 0 20px 5px;
}
.prj-cats h4 {
    margin-left: -5px;
}

.prj-rightcol {
    margin-left: 205px;
    overflow: hidden;
}
.prj-block {
    margin: 10px 10px 20px 10px;
}
.prj-block h2, .prj-block h4 {
    margin: 10px 0 5px -5px;
}
.prj-rightbox {
    clear: right;
    float: right;
    padding: 4px;
    width: 260px;
    margin: 0 0 5px 20px;
}
.prj-rightbox img {
    border-radius: 4px;
}
.prj-rightbox a {
    display: block;
    margin: 5px;
}
.prj-rightcol label, .prj-leftcol label {
    display: block;
    font-size: 14px;
}
.prj-rightcol input {
    max-width: 300px;
}

.prj-leftcol input, .prj-leftcol select {
    width: 80%;
    font-size: 14px;
    margin: 10px;
}
.form-actions-left {
    float: left;
}
.form-actions-right {
    float: right;
}
.prj-location-picker {
    height: 200px;
}

/* PROJECT ADJUSTMENT for MINI style  */
@media all and (max-width: 1000px) {
    .prj-leftcol {
        float: none;
        width: auto;
        text-align: center;
    }
    .prj-cats > div {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 10px;
        text-align: left;
    }
    .prj-rightcol {
        margin-left: 5px;
    }
}

/* PROJECT ADJUSTMENT for MICRO STYLE */
@media all and (max-width: 800px) {
    .prj-rightbox {
        float: none;
        margin: 5px;
    }
    .prj-rightcol h2 {
        margin-top: 30px;
    }
}