.prj-places {
    float: left;
    width: 180px;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.prj-leftcol {
    clear: left;
    float: left;
    width: 180px;
}
.prj-leftcol > div {
    margin: 5px 0 20px 5px;
}
.prj-leftcol h4 {
    margin-left: -5px;
}

.prj-rightcol {
    margin-left: 215px;
    overflow: hidden;
}
.prj-block {
    margin: 10px 10px 20px 10px;
}
.prj-block h2, .prj-block h4 {
    margin: 10px 0 5px -5px;
}
.prj-rightbox {
    clear: right;
    float: right;
    padding: 4px;
    width: 260px;
    margin: 0 0 5px 20px;
}
.prj-rightbox img {
    border-radius: 4px;
}