/* This file contains styles regarding the project explorer component.
It should be included in any page containing the project explorer,
as well as in project list answers from the server. */


/* PROJECT MAP */
.xpl-map {
	width: 100%;
	height: 250px;
	background: #bbb;
	position: relative;
	margin-bottom: -40px;
	z-index: -1;
	transition: height 2s;
}
.xpl-map a[target=_new] {
	display: none;
}
.xpl-map a[target=_blank] div {
	margin-bottom: 50px;
}
.xpl-map .gmnoprint > div {
	position: relative;
	bottom: 5px;
	z-index: 10;
	opacity: 0.5;
}
.xpl-map-fader {
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: url(fader.png) repeat-x bottom center;
	cursor: pointer;
}
.xpl-map .xpl-teaser {
	margin: 0;
	background-color: transparent;
	color: #000;
	padding: 0;
	box-shadow: none;
}
.xpl-map .xpl-teaser h3 {
	font-size: 16px;
}
.xpl-map .xpl-teaser img {
	width: 50px;
	margin: 10px;
}
.xpl-map .xpl-teaser div {
	margin: 5px;
}

/* PROJECT FILTER */
.xpl-filter {
	float: left;
	border: 1px solid #ccc;
	border-left: none;
	border-radius: 0 4px 4px 0;
	margin: 0;
	margin-bottom: -35;
	padding: 30px 10px;
	font-size: 80%;
	background-color: #fff;
}
.xpl-filter > div {
	padding: 7px 10px;
}
.xpl-filter h4 {
	font-weight: bold;
	position: relative;
	right: 10px;
	margin: 0 0 5px;
}
.xpl-filter input[type="checkbox"] {
    display:none;
}
.xpl-filter label {
	display: block;
	cursor: pointer;
	color: #444;
	margin-top: 1px;
}
.xpl-filter input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(controls.png) left top no-repeat;
}
.xpl-filter input[type="checkbox"]:checked + label span {
    background: url(controls.png) -19px top no-repeat;
}


/* PROJECT TEASER LIST */
.xpl-list {
	overflow: hidden;
	padding: 0 30px 30px;
	margin-top: 35px;
}
.xpl-list > iframe {
	width: 100%;
	height: 1000px;
	border: none;
}
.xpl-teaser {
	margin: 10px;
	background-color: #eee;
	color: #444;
	padding: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	font-family: 'Arial';
	overflow: hidden;
}
.xpl-teaser:nth-child(even) {
	background-color: #ddd;
}
.xpl-teaser h3 {
	font-size: 24px;
	margin: 0;
	color: #000;
}
.xpl-teaser img {
	clear: right;
	float: right;
	margin: 0 25px 25px;
}
.xpl-teaser > div {
	margin: 10px;
}
.xpl-browser {
	margin-top: 30px;
	font-size: 12px;
	text-align: center;
}


/* PROJECT EXPLORER ADJUSTMENT for MINI style  */
@media all and (max-width: 1000px) {
	.xpl-list {
		padding: 0 10px 10px;
	}
	.xpl-filter {
		margin: 20px;
		padding: 0;
		border: none;
		background: transparent;
	}
	.xpl-filter > div {
		position: relative;
		float: left;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 166px;
		padding: 2px;
		margin: 5px;
	}
	.xpl-filter h4 {
		position: static;
		cursor: pointer;
		padding: 2px;
		background: url(dropdown.png) right center no-repeat;
	}
	.xpl-filter > div > div {
		visibility: hidden;
		position: absolute;
		right: -1px;
		top: 23px;
		width: 160px;	
		background-color: #fff;
		border-radius: 0 0 4px 4px;
		border: 1px solid #ccc;
		border-top: none;
		padding: 5px;
		opacity: 0;
		transition: opacity 0.25s ease-in-out 0.5s, visibility 0s ease-in-out 0.5s;
		z-index: 1;
	}
	.xpl-filter > div:hover > div {
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}
}

/* PROJECT EXPLORER ADJUSTMENT for MICRO style */
@media all and (max-width: 740px) {
	.xpl-map {
		height: 200px;
		top: 80px;
		margin-bottom: 80px;
	}
	.xpl-map a[target=_blank] div {
		margin-bottom: 0;
	}
	.xpl-teaser img {
		margin: 0 5px 5px;
	}
}