#user-view {
  h2 {
    margin-top: 0;
  }
  .profile-data {
    td:first-child {
      text-align: right;
      font-weight: bold;
    }
    td {
      padding: 5px !important;
    }
    .btn {
      margin-top: 15px;
      float: right;
    }
  }
}

.profile-view {


  .info, .actions {
    margin-right: 5px;
    margin-top: 0;
    h3 {
      margin-top: 5px;
    }
  }
  .projects {
    margin-left: 5px;
    margin-top: 0;
    min-height: 300px;
    .button {
      margin: 5px 10px;
    }
  }

  .contact-user-form {
    #message_subject {
      width: 350px;
    }

    #message_body {
      width: 350px;
      height: 200px;
    }
  }
}

.profile-edit-view {
  input {
    display: block;
    min-width: 280px;
  }
  .change_password, .save_edit {
    margin-left: 5px;
    margin-top: 0;
  }
}


