<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to t('user.button.confirmAccount'), confirmation_url(@resource, :confirmation_token => @token) %></p>
