<p>Hallo <%= @resource.first_name %>!</p>

<p>Für Deinen Account auf servethecity-karlsruhe.de wurde ein Link zum Zurücksetzen des Passworts angefordert. Über folgenden Link kannst Du ein neues Passwort anlegen:</p>

<p><%= link_to t('user.action.changePassword'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Falls Du den Link nicht angefordert hast, kannst du diese Mail ignorieren.</p>
<p>Dein Passwort wird nicht geändert, wenn Du es nicht über den obigen Link neu setzt.</p>
