// UTILITIES

// re-add the "hidden-sm-down" etc. classes since new "d-none d-sm-block" approach is very inconvenient
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}

// add missing "d-print-only" class (better than "d-none d-print-block")
@media not print {
  .d-print-only {
    display: none;
  }
}

// ALERTS
.alert ul {
    padding-left: 20px;
    list-style: none;
}

// FORMS
label {
  font-weight: bold;
}

// TABLES
table.properties {
  margin-left: 10px;
  td:first-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
  }
}

// BUTTONS
.btn-file {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn > span:first-child {
  margin-right: 5px;
}

// GRID
.container-medium {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-small {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.row-no-padding > * {
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

// TRANSITIONS
.collapsing {
  -webkit-transition: none;
  transition: none;
}

// REBOOT, TYPE
a:focus {
  text-shadow: 0 0 1px $link-hover-color;
}