<% content_for :pageHeader do %>
    <header class="bigheader">
      <a class="logo" href="/" >
        <img src="/images/logo.png"
            alt="Serve the City Karlsruhe, Aktionswoche 2016: 6.-12. Juni" />
        <h2>Helfen bewegt. begeistert. verbindet.</h2>
      </a>
    </header>
<% end %>