<a href="/contact" class=""><%= t('layout.pageLinks.contact') %></a> |
<a href="/impressum"><%= t('layout.pageLinks.aboutUs') %></a> |
<a href="/datenschutz"><%= t('layout.pageLinks.privacy') %></a> |
<a href="http://www.servethecity.net/">Serve the City international</a>