<a href="/contact"><%= t('layout.pageLinks.contact') %></a> |
<a href="/aboutUs"><%= t('layout.pageLinks.aboutUs') %></a> |
<a href="/privacy"><%= t('layout.pageLinks.privacy') %></a> |
<a href="/disclaimer"><%= t('layout.pageLinks.disclaimer') %></a> |
<a href="http://www.servethecity.net/">Serve the City international</a>