<a href="/contact" class="openInPopup"><%= t('layout.pageLinks.contact') %></a> |
<a href="/impressum"><%= t('layout.pageLinks.aboutUs') %></a> |
<a href="/datenschutz"><%= t('layout.pageLinks.privacy') %></a> |
<a href="http://www.servethecity.net/" target="_blank">Serve the City international</a>