
<a class="float-right px-1" href="http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>"
   target="_blank" title="<%= t('layout.links.shareOnFacebook') %>">
  <span class="fa fa-facebook-official fa-2x"></span>
</a>