
<% url = request.original_url %>
<a class="float-right px-1" title="<%= t('layout.links.shareOnFacebook') %>"
   href="https://www.facebook.com/dialog/share?display=page&app_id=1632977830272942&href=<%= url %>&redirect_uri=<%= url %>">
  <span class="fab fa-facebook fa-2x"></span>
</a>