<div id="share-options">
  <a href="http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>"
     target="_blank" title="<%= t('layout.links.shareOnFacebook') %>">
    <i class="fa fa-facebook-official fa-2x"></i>
  </a>
</div>