<% content_for :pageHeader do %>
    <header class="smallheader">
      <a class="logo" href="/">
        <img src="/images/logo_small.png"
             alt="Serve the City Karlsruhe, Aktionswoche 2016: 6.-12. Juni" />
      </a>
    </header>
<% end %>