<% content_for :pageHeader do %>
    <header class="smallheader">
      <a class="logo" href="/">
        <img src="/images/logo_small.png"
             alt="Serve the City Karlsruhe, Projektwoche 2015: 8.-13. Juni" />
      </a>
    </header>
<% end %>