<% @weeks = (ProjectWeek.all.order(title: :desc)) %>
<% unless @weeks.blank? %>

  <a class="dropdown-toggle" id="weekDropdown" title="Andere Aktionswochen"
     data-toggle="dropdown" aria-expanded="true">
    <h1><span class="glyphicon glyphicon-chevron-down"></span>
    </h1>
  </a>
  <ul class="dropdown-menu" role="menu" id="weekDropdownMenu"
      aria-labelledby="weekDropdown" data-current="<%= @weeks.find_index(@project_week) %>">
    <% @weeks.each_with_index do |project_week, index| %>
      <li role="presentation">
        <h1><%= link_to project_week.title, target_path.call(project_week), {'data-index': index} %></h1>
      </li>
    <% end %>
  </ul>
<% end %>