<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#28B7AF" />
  <%= csrf_meta_tags %>

  <title><%= (content_for?(:title) ? (sanitize yield(:title).strip + ' - ') : '') + t('layout.siteTitle') %></title>

  <%= favicon_link_tag 'favicon.ico', skip_pipeline: true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" crossorigin="anonymous"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Lato:400,700|Raleway:300,400" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>

  <%# empty script tag as workaround for problem in Turbolinks
   see https://github.com/turbolinks/turbolinks/issues/165#issuecomment-241931592 %>
  <script></script>
  <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js?onload=recaptchaLoadCallback&render=explicit', defer: true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'editing', 'data-turbolinks-track': true if privileged_user? %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDtdkSuag5OvFbQGveIvrv9WZKJWAk2sNc' %>

  <meta property="og:title" content="<%= strip_tags (yield(:title).strip.presence || t('layout.siteTitle')) %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= url_for(only_path: false, overwrite_params: nil, protocol: :https) %>" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:site_name" content="Serve the City Karlsruhe" />
  <meta property="fb:app_id" content="1632977830272942" />

  <%= content_for(:head) %>
</head>

<body data-locale="<%= I18n.locale %>">

<div id="frame">
  <%= render '/layouts/navbar' %>

  <div id="page">

    <div id="flash-messages">
      <%= render '/layouts/flash_messages' %>
    </div>

    <%= content_for?(:pageHeader) ? content_for(:pageHeader) : render('/layouts/header') %>

    <div id="content">
      <div id="<%= params[:controller].gsub('/', '_') %>" class="<%= wrapper_classes.add(params[:action]).to_a.join(' ') %>">
        <%= yield %>
      </div>
    </div>

    <%= render '/layouts/footer' %>

  </div>
</div>

<%= content_for :end_of_body %>

<%# Hidden info %>
<% if current_user %>
  <div class="d-none" id="user-data" data-id="<%= current_user.id %>"></div>
<% end %>

</body>
</html>
