<% provide :title, t('layout.title.newsEntryView', news_entry:@news_entry.title) %>

<% content_for :head do %>
    <meta name="description" content="<%= format_urls_no_html(@news_entry.teaser) %>" />
    <% if @news_entry.show_picture? %>
        <meta property="og:image" content="<%= image_url(@news_entry.picture_url) %>" />
    <% end %>
    <meta property="og:description" content="<%= format_urls_no_html(@news_entry.text) %>" />
<% end %>

<div class="record-header">
  <div class="type">
    <%= l @news_entry.created_at.to_date, format: :date %>
    <%= '| ' + t('news_entry.info.invisible') unless @news_entry.visible? %>
  </div>
  <h1 class="text-center"><%= @news_entry.title %></h1>
</div>

<% if @news_entry.gallery && policy_scope(@news_entry.gallery.gallery_pictures).any? %>
    <div class="news-entry-gallery float-right m-4">
      <%= render '/galleries/gallery', gallery: @news_entry.gallery %>
      <% if current_user && @news_entry.gallery.gallery_pictures.invisible.any? &&
          policy(@news_entry.gallery.gallery_pictures.invisible.first).make_visible? %>
          <i><%= t('gallery.message.containsInvisiblePictures') %></i>
      <% end %>
      <% if policy(@news_entry.gallery).edit? %>
          <%= link_to t('gallery.button.edit'), edit_gallery_path(@news_entry.gallery) %>
      <% end %>
    </div>
<% elsif @news_entry.show_picture? %>
    <div class="picture-container float-right m-4">
      <%= image_tag @news_entry.picture_url(:article) %>
      <div class="copyright" title="© <%= @news_entry.picture_source %>">
        © <%= @news_entry.picture_source %>
      </div>
      <!--<% if policy(@news_entry).upload_pictures? %>-->
          <!--<div class="picture-upload">-->
            <!--<%= form_with model: @news_entry.gallery, html: { multipart: true}, local: true do |f| %>-->
                <!--<%= f.hidden_field :title %>-->
                <!--<div class="field">-->
                  <!--<%= t('news_entry.help.uploadPictures') %>-->
                  <!--<%= f.file_field :picture, multiple: true, name: 'gallery_pictures[picture][]' %>-->
                  <!--<p class="waitinfo">Bitte warten, die Bilder werden hochgeladen...</p>-->
                <!--</div>-->

                <!--<div class="actions">-->
                  <!--<%= f.submit t('gallery.button.uploadSelectedPictures') %>-->
                <!--</div>-->
            <!--<% end %>-->
          <!--</div>-->
      <!--<% end %>-->
    </div>
<% end %>
<div class="m-2 mt-5">
  <%= simple_format( simple_format_urls @news_entry.text ) %>
</div>


<% if policy(@news_entry).edit? %>
    <div class="section">

      <%= link_to t('news_entry.button.edit'),
                  edit_news_entry_path(@news_entry), class:'btn btn-secondary' %>

      <%= api_link :auto_name, [@news_entry], :update, class: 'btn btn-secondary',
                   icon: @news_entry.visible? ? 'fas fa-eye-slash' : 'fas fa-eye',
                   title: @news_entry.visible? ? t('news_entry.button.makeInvisible') :
                              t('news_entry.button.makeVisible'),
                   attributes: {visible: !@news_entry.visible?},
                   data: {'success-reload': true} %>

      <%= link_to t('news_entry.button.delete'), @news_entry, method: :delete,
                  data: { confirm: t('general.message.confirmDelete')},
                  class: 'btn btn-secondary' %>
    </div>
<% end %>